/* ===== DO NOT CHANGE THIS ===== */
@import url('https://aikomidori.github.io/steam-friends-skin/css/DarkMode.css');
@import url('https://aikomidori.github.io/steam-friends-skin/css/LightMode.css');

/*--------------------------------------------------------------
FRIENDLIST
--------------------------------------------------------------*/

.title-area-highlight {
    display: none !important;;
}

.friendListHeaderContainer {
    background-color: rgb(var(--header)) !important;
    border-bottom: 0px !important;
}

.friendListFooter {
    display: none !important;
    min-height: 20px !important;
    background-color: rgb(var(--footer)) !important;
}

.window_resize_grip {
    margin-right: -50px !important;
}

.statusHeaderGlow {
    opacity: 0 !important; /* 0/1 to turn on/off */
 }

/* Close, Minimize, Maximize and full buttons. */
.title-area-icon .SVGIcon_Minimize {
    width: 22px !important;
    height: 20px !important;
    margin-left: -4px !important; 
}

.insetshadow_FriendsListInsetShadowCtn_1S167 {
    display: none!important;
}

.friend.awayOrSnooze .labelHolder {
    opacity: 1 !important;
}
  
.title-area-icon .SVGIcon_Minimize:hover {
    width: 22px !important;
    height: 20px !important;
    background: rgb(var(--captionhover)) !important;
    margin-top: -2px !important;
    margin-left: -4px !important; 
}

.friend.awayOrSnooze .playerNameQuickAccessContainer {
    fill: rgb(var(--snooze)) !important;
}

.ingame .personanameandstatus_playerName_1uxaf {
    color: rgb(var(--ingame)) !important;
}

.online .personanameandstatus_playerName_1uxaf {
    color: rgb(var(--online)) !important;
}

.currentUserContainer .personanameandstatus_playerName_1uxaf{
    color: rgb(var(--selfstatus)) !important;
}

.friendsListSectionTitle .SVGIcon_NewChatGroup line {
    stroke: rgb(var(--footer)) !important;
}

.personastatusicons_PersonaStatusIcon_2rP7f.online .SVGIcon_VR path, .personastatusicons_PersonaStatusIcon_2rP7f.online .SVGIcon_MobilePhone path, .personastatusicons_PersonaStatusIcon_2rP7f.online .SVGIcon_BigPicture path {
    fill: rgb(var(--icon)) !important;
}

.TabSearchButton .ColorSelector {
    stroke: rgb(var(--icon)) !important;
    fill: rgb(var(--icon)) !important;
}

.addFriendButton .SVGIcon_AddFriend .plusCircle {
    fill: rgb(var(--icon)) !important;
}

.friendRequestButton .SVGIcon_FriendRequest .friendBodyFull, .friendRequestButton .SVGIcon_FriendRequest .friendHead, .friendRequestButton .SVGIcon_FriendRequest .friendArm, .friendRequestButton .SVGIcon_FriendRequest .friendBody, .addFriendButton .SVGIcon_AddFriend .friendHead, .addFriendButton .SVGIcon_AddFriend .friendBody {
    fill: rgb(var(--icon)) !important;
}
  
.title-area-icon .SVGIcon_Maximize {
    width: 22px !important;
    height: 20px !important;
    margin-left: 0px !important; 
}

.recentChatsGroup .friendGroup .groupName, .friendGroup.taggedGroup .groupName, .friendGroup.gameGroup .groupName {
    color: rgb(var(--listtext)) !important; }

.title-area-icon .SVGIcon_Restore {
    width: 22px !important;
    height: 20px !important;
    margin-left: 0px !important; }

.title-area-icon .SVGIcon_Restore:hover {
    width: 22px !important;
    height: 20px !important;
    background: rgb(var(--captionhover)) !important;
    margin-left: 0px !important; 
}
  
.title-area-icon .SVGIcon_Maximize:hover {
    width: 22px !important;
    height: 20px !important;
    background: rgb(var(--captionhover)) !important;
    margin-top: -2px !important;
    margin-left: 0px !important; 
}
  
.title-area-icon .SVGIcon_X_Line {
    height: 20px !important;
    width: 22px !important;
    margin-left: 4px !important;
}
  
.title-area-icon .SVGIcon_X_Line:hover {
    background: red !important;
    width: 22px !important;
    margin-top: -2px !important;
    margin-left: 4px !important;
    height: 20px !important;
}

.unreadMessageViolator {
    border: 0px !important;
    line-height: 20px !important;
    color: rgb(var(--unreadmessage)) !important;
    background: rgb(var(--scrollbar)) !important;
    border-radius: 40px !important;
    height: 20px !important;
    border: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 4px !important;
    width: 150px !important;
    box-shadow: none !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends {
    border-top: 4px !important;
    margin-top: 0px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends {
    border-top: none !important;
    margin-top: 0px !important;
}
.unreadFriend .FriendMessageCount {
    box-shadow: none !important;
    border-radius: 40px !important;
    color: rgb(var(--unreadmessage)) !important;
    background: rgb(var(--scrollbar)) !important;
    animation-name: none !important;
}

.compactView .chatTabOpenFriendsList {
    height: 44px !important;
    border-radius: 4px !important;
}

.timeDivision .preHorizDivider {
    display: none !important;
}

.timeDivision .horizDivider {
    display: none !important;
}

.msg.timeDivision {
    font-size: 15px !important;
    color: white !important;
    display: none !important;
}

.chatTabOpenFriendsList {
    box-shadow: none !important;
    background-color: #2e2e2f !important;
    height: 44px !important;
    border-radius: 4px !important;
}

.chatTabOpenFriendsList:hover {
    background-color: #3e3e3f !important;
}

.ChatMessageInvite {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) !important;
}

.TradeOffer_NoteFromFriend_QuoteArrow {
    display: none !important;
}

.TradeOffer_NoteFromFriend {
    border: 0px !important;
    background-color: rgb(var(--header)) !important;
}
  
.title-area-icon .SVGIcon_SingleWindowToggle {
    width: 22px !important;
    height: 20px !important;
    margin-left: -5px !important;
}
  
.title-area-icon .SVGIcon_SingleWindowToggle:hover {
    width: 22px !important;
    height: 20px !important;
    background: rgb(var(--captionhover)) !important;
    margin-top: -2px !important;
    margin-left: -5px !important;
}

.chat_main.singlewindow .ChatTabs .title-area-icon .SVGIcon_SingleWindowToggle {
    margin-top: 0px !important; 
}

.groupName .gameGroupContainer .groupIcon {
    border-radius: 15px !important;
}

.ChatTabs .title-area {
    margin-bottom: -4px !important;
    background: rgb(var(--header)) !important;
    height: 52px !important;
}

.ChatTabs .title-area-icon:hover .SVGIcon_SingleWindowToggle .leftBox {
    transform: none !important; 
}

.title-area-icon .SVGIcon_SingleWindowToggle .leftBox {
    transition: none !important 
}

.title-area-icon .SVGIcon_X_Line line {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Maximize line {
    stroke: rgb(var(--caption)) !important;
    display: none !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Maximize rect {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Restore rect {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Restore polyline {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Minimize line {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_SingleWindowToggle rect {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_SingleWindowToggle line {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.SVGIcon_Button {
    fill: rgb(var(--caption)) !important;
}

.friendSettingsButton .SVGIcon_Settings{
    fill: rgb(var(--icon)) !important;
}

.ModalPosition_TopBar {
    height: 0px !important;
    background: #555 !important;
}

.chat_main
{
	background-color: transparent !important;
	color: transparent !important;
}

html.client_chat_frame body, html.web_chat_frame body {
    background: rgb(var(--footer)) !important;
}


.currentUserContainer {
border-bottom: 0px !important;
}

.friendListInsetShadowBottom {
    background: 0px !important;
}

.friendListInsetShadowTop {
    background: none !important;
}

.friendListInsetShadowBottom {
    background: none !important;
}

.singleWindowFocusBar {
    background: none !important;
}

.friendlistListContainer {
    background: rgb(var(--friendlist)) !important;
}

.confirmInviteRequestContainer .confirmInviteButton {
    border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends {
    border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends .SVGIcon_Arrow polyline {
    border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends:hover .SVGIcon_Arrow polyline {
    border-radius:  4px !important;
}

.confirmInviteRequestContainer {
    border-radius:  4px !important;
}

/* compact game icon */

.CompactFriendsList .friendlistListContainer .friendGroup.gameGroup .friend {
    padding: 4px 0px 4px 15px !important;
}

.CompactFriendsList .FriendInGameIcon {
    display: none !important;
}

.FriendInGameIcon {
    display: none !important;
}

.ChatTabs.compactView .chatTabGroupName {
    margin-top: 5px !important;
}

.chatTabGroupName {
    margin-top: 3px !important;
}

/* mini profile */
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileHeader_3oBIW {
    background: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

.miniprofile_miniProfile_s5zcg{
    border: 0px solid black !important;
    border-radius: 4px !important;
}

.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileGameContainer_2FyZH .miniprofile_gameLogo_2B0di {
    border-radius: 4px !important;
}

.miniprofile_miniProfileBackground_3gfFJ {
    background: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

.miniprofile_miniProfileContent_25Sge.miniprofile_notInOrWatchingGame_3AIC2 .miniprofile_miniProfileBottom_3Agb6,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileGameContainer_2FyZH {
    background: transparent !important;
    top: 10px !important;}

.miniprofile_miniProfileBackgroundBlur_G000o {
    display: none !important;
}
      
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.in-game .miniprofile_personaName_W3QjS:not(.miniprofile_hasNickname_dgG-l) .miniprofile_personaNameLabel_390p4,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.in-game .miniprofile_personaName_W3QjS.miniprofile_nickName_2E8Iz .miniprofile_personaNameLabel_390p4 {
    color: rgb(var(--ingame)) !important;
    border-radius: 4px !important;
}
    
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.online .miniprofile_personaName_W3QjS:not(.miniprofile_hasNickname_dgG-l) .miniprofile_personaNameLabel_390p4,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.online .miniprofile_personaName_W3QjS.miniprofile_nickName_2E8Iz .miniprofile_personaNameLabel_390p4 {
    color: rgb(var(--online)) !important;
    border-radius: 4px !important;
}
    
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.miniprofile_online_3Bk5s .miniprofile_nickname_1W3dU,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.miniprofile_online_3Bk5s .miniprofile_persona_1Z3Ey,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.online .miniprofile_playerContent_PV11V .miniprofile_awayStatusLabel_2UzRy {  
    color: rgb(var(--online)) !important;
    border-radius: 4px !important;
}

/* context menu's */

.contextmenu_contextMenuItem_CBC-y {
    border-top: 0px !important;
    background:rgb(var(--header)) !important;
}

.contextmenu_contextMenuItem_CBC-y:hover{
    background: rgb(var(--friendlist)) !important;
    border-radius: 4px !important;
}

.contextMenuGameTitle{
    background:rgb(var(--header)) !important;
}

.contextMenuSectionContent{
    background:rgb(var(--header)) !important;
}

.contextmenu_contextMenu_3_a2Z{
    background: rgb(var(--header)) !important;
}

:not(.friendInviteContainer) .online .ContextMenuButton .SVGIcon_DownArrowContextMenu {
    fill: rgb(var(--icon)) !important;
}

.ContextMenuButton .SVGIcon_DownArrowContextMenu {
    padding-left: 0px !important;
    padding-top: 6px !important;
}

.ContextMenuButton {
    margin-left: 5px !important;
}

.contextMenu {
	border: none !important;
    background: radial-gradient(ellipse farthest-corner at 50% 0%, #1a1a1a 0%, #1a1a1a 50%, #1a1a1a 100%) !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}

.contextMenu .contextMenuItem:hover, .contextMenu .contextMenuItem.active {
    background: #272727 !important;
    border-radius: 4px !important;
}

.contextMenu .contextMenuItem {
    border-top: 0px !important;
}

.contextMenuContents.ChatTabs .contextMenuItem {
    min-height: 42px !important;
}

.contextMenuContents.ChatTabs.CompactFriendsList .friend .labelHolder {
    margin-top: 20px !important;
    margin-left: -2px !important; 
}

.contextMenuContents .chatTab .ChatTabContent {
    min-height: 50px !important;
}