/* ===== DO NOT CHANGE THIS ===== */
@import url('https://aikomidori.github.io/steam-friends-skin/css/Colors.css');
*{  box-shadow: none !important;
    text-shadow: none !important;}

/*--------------------------------------------------------------
SCROLLBAR
--------------------------------------------------------------*/

/* button */
::-webkit-scrollbar-button {
	height: 25px !important; 
	border-radius: 0px !important; 
	border: 0px !important;
}

/* button arrows scroll bar */
/* Down */
::-webkit-scrollbar-button:vertical:increment {
    display: none !important;
}

/* Up */
::-webkit-scrollbar-button:vertical:decrement { 
    display: none !important;
}

/* background behind scrollbar */
::-webkit-scrollbar-track {
    background-color: rgb(var(--friendlist)) !important;
    border-radius: 20px !important;
}

/* thumb normal and hover state */
::-webkit-scrollbar-thumb {
	background-color: rgb(var(--scrollbar)) !important;
    border-right: 2px solid rgb(var(--friendlist)) !important;
    border-left: 2px solid rgb(var(--friendlist)) !important;
    border-top: 2px solid rgb(var(--friendlist)) !important;
    border-bottom: 2px solid rgb(var(--friendlist)) !important;
    border-radius: 20px !important;;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(var(--scrollbar)) !important;
    border-right: 2px solid rgb(var(--friendlist)) !important;
    border-left: 2px solid rgb(var(--friendlist)) !important;
    border-top: 2px solid rgb(var(--friendlist)) !important;
    border-bottom: 2px solid rgb(var(--friendlist)) !important;
    border-radius: 20px !important;;
}

/* makes scrollbar wider */
::-webkit-scrollbar {
    width: 15px !important;
}

/* disables scroll bar at settings */
.DialogBody::-webkit-scrollbar {
	display:none !important;
}