:root {
    --online: 93, 178, 254;
    --snooze: 93, 178, 255;
    --offline: 145, 145, 145;
    --ingame: 130, 186, 0;
}

/*--------------------------------------------------------------
AROUND AVATAR STATUS
--------------------------------------------------------------*/

.online .steamavatar_avatarStatus_1Pwr6 {
    background: rgb(var(--online)) !important;
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.ingame .steamavatar_avatarStatus_1Pwr6 {
    background: rgb(var(--ingame)) !important;
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.ingame .X-Large .steamavatar_avatarStatus_1Pwr6 {
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.awayOrSnooze .steamavatar_avatarStatus_1Pwr6 {
    background: rgb(var(--snooze)) !important;
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.golden .steamavatar_avatarStatus_1Pwr6 {
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important
    top: -1px !important;
    z-index: 1 !important;
}

.watchingbroadcast .steamavatar_avatarStatus_1Pwr6 {
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}