:root {
    --online: 93, 178, 254;
    --snooze: 93, 178, 255;
    --offline: 145, 145, 145;
    --ingame: 130, 186, 0;
}

/*--------------------------------------------------------------
LITTLE CIRCLE STATUS (DEFAULT)
--------------------------------------------------------------*/

.online .steamavatar_avatarStatus_1Pwr6 {
    background: rgb(var(--online)) !important;
    border-radius: 50px !important;
    width: 20px !important;
    height: 20px !important;
    left: 60px !important;
    border: 2px solid rgb(var(--header)) !important;
    z-index: 2 !important;
}

.ingame .steamavatar_avatarStatus_1Pwr6 {
    background: rgb(var(--ingame)) !important;
    border-radius: 50px !important;
    width: 20px !important;
    height: 20px !important;
    left: 60px !important;
    border: 2px solid rgb(var(--header)) !important;
    z-index: 2 !important;
}

.ingame .X-Large .steamavatar_avatarStatus_1Pwr6 {
    border-radius: 50px !important;
    border-radius: 50px !important;
    width: 20px !important;
    height: 20px !important;
    left: 60px !important;
    border: 2px solid rgb(var(--header)) !important;
    z-index: 2 !important;
}

.awayOrSnooze .steamavatar_avatarStatus_1Pwr6 {
    background: rgb(var(--snooze)) !important;
    border-radius: 50px !important;
    border-radius: 50px !important;
    width: 20px !important;
    height: 20px !important;
    left: 60px !important;
    border: 2px solid rgb(var(--header)) !important;
    z-index: 2 !important;
} 

.golden .steamavatar_avatarStatus_1Pwr6 {
    border-radius: 50px !important;
    width: 20px !important;
    height: 20px !important;
    left: 60px !important;
    border: 2px solid rgb(var(--header)) !important;
    z-index: 2 !important;
}