/* CONTEXT MENU'S */
.contextmenu_contextMenuItem_CBC-y {
  border-top: 0 !important;
  background: rgb(var(--header)) !important;
  color: rgb(var(--listtext)) !important;
}

.contextmenu_contextMenuItem_CBC-y:hover {
  background: rgb(var(--friendlist)) !important;
  border-radius: 4px !important;
}

.contextMenuGameTitle {
  background: rgb(var(--header)) !important;
}

.contextMenuGameName {
  color: rgb(var(--text)) !important;
}

.contextMenuSectionContent {
  background: rgb(var(--header)) !important;
}

.contextmenu_contextMenu_3_a2Z {
  background: rgb(var(--header)) !important;
  min-width: 9em !important;
}

.recentName {
  color: rgb(var(--listtext));
}

:not(.friendInviteContainer)
  .online
  .ContextMenuButton
  .SVGIcon_DownArrowContextMenu {
  fill: rgb(var(--icon)) !important;
}

.ContextMenuButton .SVGIcon_DownArrowContextMenu {
  padding-left: 0;
  padding-top: 0;
  height: 100%;
}

.ContextMenuButton {
  position: absolute;
  width: auto;
  height: 100%;
  right: 0;
  top: 0;
  padding-right: 6px;
  z-index: 8 !important;
}

.contextMenu {
  border: none !important;
  background: radial-gradient(
    ellipse farthest-corner at 50% 0%,
    #1a1a1a 0%,
    #1a1a1a 50%,
    #1a1a1a 100%
  ) !important;
  border-radius: 4px !important;
}

.contextMenu .contextMenuItem:hover,
.contextMenu .contextMenuItem.active {
  background: #272727 !important;
  border-radius: 4px !important;
}

.contextMenu .contextMenuItem {
  border-top: 0 !important;
}

.contextMenuContents.ChatTabs .contextMenuItem {
  min-height: 42px !important;
}

.contextMenuContents.ChatTabs.CompactFriendsList .friend .labelHolder {
  margin-top: 20px !important;
  margin-left: -2px !important;
}

.contextMenuContents .chatTab .ChatTabContent {
  min-height: 50px !important;
}
