/* unread message on friendlist */
.unreadMessageViolator {
  border: 0 !important;
  line-height: 20px !important;
  color: rgb(var(--unreadmessage)) !important;
  background: rgb(var(--scrollbar)) !important;
  border-radius: 40px !important;
  height: 20px !important;
  margin-top: 5px !important;
  margin-bottom: 4px !important;
  width: 150px !important;
}

/* unread message count */
.unreadFriend .FriendMessageCount {
  border-radius: 40px !important;
  color: rgb(var(--unreadmessage)) !important;
  background: transparent !important;
  animation-name: none !important;
  box-shadow: 0 0 14px 1px rgba(var(--unreadmessage), 0.5);
  top: 0;
  padding: 0;
}

/* Trade offer message arrow */
.TradeOffer_NoteFromFriend_QuoteArrow {
  display: none !important;
}

/* Trade offer message */
.TradeOffer_NoteFromFriend {
  border: 0 !important;
  background-color: rgb(var(--header)) !important;
}

/* confirm friend request button */
.confirmInviteRequestContainer .confirmInviteButton {
  border-radius: 4px !important;
}

/* cancel addfriend button */
.confirmInviteRequestContainer .cancelAddFriends {
  border-radius: 4px !important;
}

/* icon cancel addfriends polyline */
.confirmInviteRequestContainer .cancelAddFriends .SVGIcon_Arrow polyline {
  border-radius: 4px !important;
}

/* icon cancel addfriends hover polyline */
.confirmInviteRequestContainer .cancelAddFriends:hover .SVGIcon_Arrow polyline {
  border-radius: 4px !important;
}

/* Confirm invite request container */
.confirmInviteRequestContainer {
  border-radius: 4px !important;
}

/* add hover effect when hovering group invites */
.clanInviteContainer:hover {
  background-color: rgb(var(--header)) !important;
}

/*
Position of New Message Group Chat in the Footer
Remove default effect
*/
.ChatUnreadMessageIndicator {
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  background: none !important;
}

/* Unread New Message Group Chat in the Footer */
.chatUnreadCircle {
  width: 2px !important;
  height: 2px !important;
  display: block !important;
  margin: 0;
  color: transparent !important;

  /* Glowing icon */
  background: rgb(var(--unreadmessage)) !important;
  border: 2px solid rgb(var(--unreadmessage)) !important;
  border-radius: 100% !important;
  box-shadow: 0 0 10px 3px rgb(var(--unreadmessage));
}

.UnreadGlow {
  display: none !important;
}

.chatTab .chatTabUnreadBadge,
.FriendMessageCount,
.ChatUnreadMessageIndicator {
  color: rgb(var(--unreadmessage));
  background: rgba(var(--unreadmessage), 0.2);
  border-radius: 50%;
  text-align: center;
  padding: 0;
  height: 22px;
  width: 22px;
}
