/* color for ingame status */
.ingame .personanameandstatus_playerName_1uxaf,
.ingame .personanameandstatus_gameName_qvibF,
.ingame .personanameandstatus_richPresenceLabel_3Q6g1,
.ingame.personastatusicons_PersonaStatusIcon_2rP7f path {
  color: rgb(var(--ingame)) !important;
  fill: rgb(var(--ingame)) !important;
}

/* color for online status */
.online .personanameandstatus_playerName_1uxaf,
.online .personanameandstatus_gameName_qvibF,
.online .personanameandstatus_richPresenceLabel_3Q6g1,
.online.personastatusicons_PersonaStatusIcon_2rP7f path {
  color: rgb(var(--online)) !important;
  fill: rgb(var(--online)) !important;
}

.offline.personanameandstatus_playerName_1uxaf,
.offline .personanameandstatus_gameName_qvibF,
.offline .personanameandstatus_richPresenceLabel_3Q6g1,
.offline.personastatusicons_PersonaStatusIcon_2rP7f path {
  color: rgb(var(--offline)) !important;
  fill: rgb(var(--offline)) !important;
}

/* color for ingame status */
.awayOrSnooze .personanameandstatus_playerName_1uxaf,
.awayOrSnooze .personanameandstatus_gameName_qvibF,
.awayOrSnooze .personanameandstatus_richPresenceLabel_3Q6g1,
.awayOrSnooze.personastatusicons_PersonaStatusIcon_2rP7f path {
  color: rgb(var(--away)) !important;
  fill: rgb(var(--away)) !important;
}

/* zzz icon */
.friendsnooze_SnoozeZ_29fyi {
  color: rgb(var(--away)) !important;
}

/* all other icons colors */
.friendRequestButton .SVGIcon_FriendRequest .friendBodyFull,
.friendRequestButton .SVGIcon_FriendRequest .friendHead,
.friendRequestButton .SVGIcon_FriendRequest .friendArm,
.friendRequestButton .SVGIcon_FriendRequest .friendBody {
  fill: rgb(var(--icon)) !important;
}

.friendRequestButton:hover .SVGIcon_FriendRequest .friendBodyFull,
.friendRequestButton:hover .SVGIcon_FriendRequest .friendHead,
.friendRequestButton:hover .SVGIcon_FriendRequest .friendArm,
.friendRequestButton:hover .SVGIcon_FriendRequest .friendBody {
  fill: rgb(var(--iconhover)) !important;
}

.recentChatsGroup .friendGroup .groupName,
.friendGroup.taggedGroup .groupName,
.friendGroup.gameGroup .groupName {
  color: rgb(var(--text)) !important;
}

.friendStatusHover:not(.quickAccessFriend):hover,
.friendStatusHover.Friend_ContextMenuActive {
  background-color: rgb(var(--header)) !important;
}

.personanameandstatus_playerNickname_3-32P {
  color: rgb(var(--nickname)) !important;
}

/* Makes away player name normal colour */
.friend.awayOrSnooze .labelHolder {
  opacity: 1 !important;
}
