/* ========================================================================== */

/*    Title Area - This is the top of the window holding the window controls  */

/* ========================================================================== */

/* Apply to SingleWindowToggle, Minimize, Maximize, Close */
.title-area-icon {
  /* Sets icon sizes */
  width: 22px !important;
  height: 20px !important;

  /* Give the actions some padding, makes the trigger areas larger */
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;

  /* Centre svg icons in the container */
  align-items: center;

  /* Change cursor to a hand */
  cursor: pointer;
}

/* Apply to Minimize, Maximize, Close */

/* Setup for proper vertical centring */
.title-bar-actions .title-area-icon {
  display: flex;
}

/* =========================== Action Locations ============================= */

/* Place actions against the very side of the window */
.title-bar-actions {
  right: 0 !important;
}

/* Attach Chat Toggle */
.singleWindowToggle {
  top: 0 !important;
  right: 78px !important;
}

/* Position all icons in centre of their container */
.SVGIcon_SingleWindowToggle,
.SVGIcon_Minimize,
.SVGIcon_Maximize,
.SVGIcon_Restore,
.SVGIcon_X_Line {
  display: block !important;
  margin: 0 auto !important;
}

/* Center the AttachChatToggle Icon vertically */
.SVGIcon_SingleWindowToggle {
  margin-top: 3px !important;
}

/* Center the Minimise Icon vertically */
.SVGIcon_Minimize {
  margin-bottom: 8px !important;
}

/* ======================-==== Icon Stroke Style ============================ */
.singleWindowToggle line,
.singleWindowToggle rect,
.minimizeButton line,
.maximizeButton line,
.maximizeButton rect,
.restoreButton line,
.restoreButton rect,
.closeButton line {
  stroke: rgb(var(--icon)) !important;
  stroke-width: 24px;
}

.singleWindowToggle:hover line,
.singleWindowToggle:hover rect,
.minimizeButton:hover line,
.maximizeButton:hover line,
.maximizeButton:hover rect,
.restoreButton:hover line,
.restoreButton:hover rect {
  stroke: rgb(var(--titleiconhover)) !important;
}

/* ======================-==== Hover Background ============================= */
.singleWindowToggle:hover,
.SVGIcon_SingleWindowToggle:hover,
.maximizeButton:hover,
.restoreButton:hover,
.minimizeButton:hover {
  background: rgb(var(--titleiconbg)) !important;
}

.closeButton:hover {
  background: rgb(var(--closeButton)) !important;
}

.closeButton:hover line {
  stroke: rgb(var(--closeIconHover)) !important;
}

/* ========================================================================== */

/* Remove styles from area highlighting actions */
.title-area-highlight {
  display: none !important;
}

/* Remove top of window effect */
.singleWindowFocusBar {
  background: none !important;
}
