/* =========================================================== */

/*                      BORDER STATUS                          */

/* =========================================================== */
:root {
  --avatar-border: solid var(--border-width-sm) currentColor;
}

/* === Hide Normal Status Block === */
.avatarStatus,
.speakerStatus {
  display: none !important;
}

/* Apply border to avatar to show status */
.avatarHolder .avatar {
  border: var(--avatar-border) !important;
}

.avatarFrame img,
.miniprofile_Frame_3MZRj {
  border-radius: var(--border-radius-sm);
  box-shadow: inset 0 0 4px var(--border-width-sm) currentColor;
}

/* === Status Colours === */
.online .avatar,
.online .avatarFrame img,
.online .miniprofile_Frame_3MZRj {
  color: rgb(var(--online)) !important;
}

.watchingbroadcast .avatar,
.watchingbroadcast .avatarFrame img,
.watchingbroadcast .miniprofile_Frame_3MZRj {
  color: rgb(var(--watching)) !important;
}

/* Golden status */
.golden .avatar,
.golden .avatarFrame img,
.golden .miniprofile_Frame_3MZRj {
  color: #d5bf6a !important;
}

.ingame .avatar,
.ingame .avatarFrame img,
.ingame .miniprofile_Frame_3MZRj {
  color: rgb(var(--ingame)) !important;
}

.awayOrSnooze .avatar,
.awayOrSnooze .avatarFrame img,
.awayOrSnooze .miniprofile_Frame_3MZRj {
  color: rgb(var(--away)) !important;
}

.offline .avatar,
.offline .avatarFrame img,
.offline .miniprofile_Frame_3MZRj {
  color: rgb(var(--offline)) !important;
}

/* Apply margin to avatars without frame for better positioning */
.avatarHolder:not(.awayOrSnooze) :last-child.avatar,
.avatarHolder.awayOrSnooze :nth-last-child(2).avatar {
  margin: calc(-1 * var(--border-width-sm));
}
