.DialogButton,
.DialogButton.Off,
.radio_Button_3aFxE {
  background: rgb(var(--header)) !important;
  border-radius: var(--border-radius);
  color: rgb(var(--text)) !important;
}

.DialogButton.Primary,
.radio_Button_3aFxE.radio_Active_3w-nK {
  background: rgb(var(--buttonOn)) !important;
}

/* hover selected buttons */
.DialogButton.Primary:hover,
.DialogButton:hover,
.radio_Button_3aFxE:hover {
  box-shadow: 0 0 0 var(--border-width-sm) rgb(var(--buttonOn)) inset !important;
}

.FriendsSettingsChatFontSizeSection_ButtonRow,
.FriendsSettingsFlashSection_ButtonRow,
.DialogTwoColLayout {
  background: rgb(var(--friendlist)) !important;
  padding: 0;
}

.radio_Group_1Ma_m {
  background: rgb(var(--header));
  border-radius: var(--border-radius);
}
