/* Check Boxes */
.DialogCheckbox {
  background-color: rgb(var(--friendlist));
  border-radius: var(--border-radius);
}

.DialogCheckbox:hover:not(.Disabled) {
  background-color: rgb(var(--friendlist));
  box-shadow: 0 0 0 var(--border-width-sm) rgb(var(--buttonOn)) inset !important;
}

/* Tick */
.DialogCheckbox path {
  stroke: rgb(var(--buttonOn));
}
