@use 'common/button/button';
@use 'common/button/checkbox';
@use 'common/button/toggle';
@use 'common/button/togglePseudo';
@use 'common/rangeSlider/rangeSlider';

@include checkbox.checkbox;
@include rangeSlider.slider;
@include toggle.toggle;
@include togglePseudo.toggle;

.DialogButton,
.DialogDropDown,
[class*='radio_Button'] {
  @include button.base;
}

// Drop down buttons are less like buttons
.advancedSettingsButton,
.DialogDropDown {
  background: rgb(var(--header)) !important;
}

.DialogButton.Primary,
[class*='radio_Button'][class*='Active'] {
  @include button.active;
}

.DialogButton:hover,
.DialogDropDown:hover,
[class*='radio_Button']:hover {
  @include button.inset-hover;
}

.DialogButton[class*='HotkeyClearButton'] {
  background: rgb(var(--header)) !important;
  border-radius: $border-radius-round !important;
  box-shadow: none !important;
  height: 20px !important;
  min-width: 0 !important;
  width: 20px !important;

  line {
    stroke: rgb(var(--icon)) !important;
  }

  &:hover {
    background: rgb(var(--close-button)) !important;

    line {
      stroke: rgb(var(--close-icon-hover)) !important;
    }
  }
}

.DialogDropDown_Arrow .SVGIcon_DownArrowContextMenu,
.DialogButton .SVGIcon_DownArrowContextMenu {
  fill: rgb(var(--button-on));
}
