/* Friend Picker Background */
.FriendPicker_Suggestions {
  background-color: rgb(var(--header)) !important;
  border-radius: $border-radius !important;
}

.DialogTextInputBase,
._DialogInputContainer {
  background-color: rgb(var(--header)) !important;
}

.CreateChatDialog ._DialogColLayout {
  margin-left: $border-width-sm;
  width: calc(100% - #{$border-width});
}

.FriendPicker_SuggestedFriend {
  border-radius: $border-radius !important;
  &.Focus {
    background-color: rgb(var(--friendlist)) !important;
  }
  [class*='personanameandstatus_richPresenceLabel']:not([class*='gameName']) {
    display: none;
  }
}
