/** On Off toggle primarily used by:
*    Friends List,
*    Chat Settings.
*    Size & Scaling
*/

/* Dialog ON - OFF Button background */
.DialogOnOffToggle_Control {
  background: transparent;
}

/* Dialog Toggle Button Style */
.DialogOnOffToggle_Option {
  border-radius: var(--border-radius-round);
  margin-left: var(--spacer-sm);
  width: 30px;
}

/* Dialog OFF Button */
.DialogOnOffToggle_Option.Off.Active,
.DialogOnOffToggle_Option.Off:hover {
  background: rgb(var(--buttonOff));
}

/* Dialog ON Button */
.DialogOnOffToggle_Option.On.Active,
.DialogOnOffToggle_Option.On:hover {
  background: rgb(var(--buttonOn));
}

/**
 * On Off Toggle - actual toggle switch
 */

.toggle_Toggle_3RkmL .toggle_ToggleSwitch_3Ac8T.toggle_On_2xdfY {
  background: rgb(var(--buttonOn));
}

.toggle_Toggle_3RkmL .toggle_ToggleSwitch_3Ac8T.toggle_Off_2C6dp {
  background: rgb(var(--buttonOff));
}

.toggle_ToggleRow_332T0 {
  background: rgb(var(--friendlist));
}
