/* ===== DO NOT CHANGE THIS ===== */

/* --------------------------------------------------------------
SETTINGS PANEL
-------------------------------------------------------------- */

/* Side Panel Background */
.PagedSettingsDialog_PageListColumn {
  background: rgb(var(--header)) !important;
}

/* Background */
.DialogContent,
.DialogContentTransition {
  background: rgb(var(--friendlist)) !important;
}

/* Menus color */
._DialogInputContainer {
  background: rgb(var(--header)) !important;
  border: 0 !important;
  border-radius: $border-radius !important;
  color: rgb(var(--text)) !important;
}

/* Text Colour */
.DialogOnOffToggle_Control,
.DialogHeader,
.PagedSettingsDialog_PageListItem {
  color: rgb(var(--text)) !important;
}

/* Selected Button */
.DialogButton.Primary {
  background: rgb(var(--buttonOn)) !important;
  border-radius: $border-radius !important;
  color: rgb(var(--text)) !important;
}

/* Friend Settings Notifications Row */
.FriendsSettingsNotificationRow {
  background-color: rgb(var(--header)) !important;
  border-radius: $border-radius !important;
}

/* Puch To Talk Option Background */
._DialogSection.pushToTalkSection .PPTSoundOption {
  background-color: transparent !important;
}

._DialogSection.pushToTalkSection .pushToKeyAssignContainer {
  background-color: rgb(var(--header)) !important;
}

/* notification Check Boxes */
.DialogCheckbox {
  background-color: rgb(var(--friendlist)) !important;
  border-radius: $border-radius !important;
}

/* changes background color for buttons */
.FriendsSettingsFlashSection_ButtonRow {
  background-color: rgb(var(--friendlist)) !important;
  border-radius: $border-radius !important;
}

.FriendsSettingsChatFontSizeSection_ButtonRow button,
/* Aimed at block communication dialog */
.GenericConfirmDialog .DialogTwoColLayout .DialogButton {
  margin-left: 3px;
  margin-right: 3px;
}

/* removes overlapping background on voice */
.voiceMicTestContainer {
  background-color: rgb(var(--header)) !important;
  border-radius: $border-radius !important;
}

/* Slider Background */
.DialogSlider_Slider {
  background: rgb(var(--buttonOff)) !important;
  border: 0 !important;
}

/* Removes Voice Transmission Type background */
.FriendsSettingsVoiceTransmissionType_ButtonRow {
  background-color: rgb(var(--friendlist)) !important;
}

/* Changes postition background mute toggle hotkey */
._DialogSection.pushToTalkSection .pushToKeyAssignContainer.showPTTOptions {
  margin-top: 10px !important;
}

/* Changes position checkbox microphone toggle */
.DialogCheckbox_Container {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}

/* none button for voice */
._DialogSection.pushToTalkSection .pushToKeyAssignContainer .DialogButton,
._DialogSection.pushToTalkSection .pushtoTalkKeyAssignContainer .DialogButton {
  border-radius: $border-radius !important;
}

.DialogButton::before {
  border-radius: $border-radius !important;
}

/* Advanced Button */
.VoiceSettings .advancedSettingsButton {
  border-radius: $border-radius !important;
  margin-left: $spacer-xs !important;
  width: calc(100% - 4px) !important;
}

/* Advanced Expanded background */
.VoiceSettings .advancedSettings.showAdvanced {
  background: rgb(var(--header)) !important;
  border-radius: $border-radius !important;
}

/* copy voice clipboard button */
.DialogButton.copyVoiceLogsButton {
  border-radius: $border-radius !important;
}

/* EDIT NICKNAME */

/* Buttons Shape */
.DialogTwoColLayout > ._DialogLayout {
  border-radius: $border-radius !important;
}

/* Search */
._DialogTextInputBase:focus {
  background: rgb(var(--footer)) !important;
  border-radius: $border-radius !important;
}

/* Search Hover */
._DialogTextInputBase:not(:disabled):hover {
  border-radius: $border-radius !important;
}

/* Search Input Box */
._DialogTextInputBase,
._DialogInputContainer {
  background: rgb(var(--header)) !important;
  border-radius: $border-radius !important;
}

/* CATEGORIZE */
.DialogCheckbox_Container:hover .DialogCheckbox,
.DialogCheckbox:hover:not(.Disabled) {
  box-shadow: 0 0 0 $border-width-sm rgb(var(--buttonOn)) !important;
}

/* CATAGORY MANAGE/CREATE */

/* Friend Picker Background */
.FriendPicker_Suggestions {
  background-color: rgb(var(--header)) !important;
  border-radius: $border-radius !important;
}

/* Friend hover background */
.FriendPicker_SuggestedFriend {
  border-radius: $border-radius !important;
}

.FriendPicker_SuggestedFriend.Focus {
  background-color: rgb(var(--friendlist)) !important;
}

/* Dialog ON - OFF Button background */
.DialogOnOffToggle_Control {
  background: transparent !important;
  border-radius: 20px !important;
}

/* Dialog OFF Button active */
.DialogOnOffToggle_Option.Off.Active {
  background: rgb(var(--buttonOff)) !important;
  border-radius: 20px !important;
}

/* Dialog Button active */
.DialogOnOffToggle_Option.Active {
  background: rgb(var(--buttonOn)) !important;
  border-radius: 20px !important;
  color: $white !important;
  margin-left: 5px !important;
  width: 30px !important;
}

/* Dialog Button */
.DialogOnOffToggle_Option {
  border-radius: 20px !important;
  margin-left: 5px !important;
  width: 30px !important;
}

/* Dialog OFF Button hover */
.DialogOnOffToggle_Option.Off:hover {
  background: rgb(var(--buttonOff)) !important;
  border-radius: 20px !important;
  color: $white !important;
  margin-left: 5px !important;
  width: 30px !important;
}

/* Dialog ON Button hover */
.DialogOnOffToggle_Option.On:hover {
  background: rgb(var(--buttonOn)) !important;
  border-radius: 20px !important;
  color: $white !important;
  margin-left: 5px !important;
  width: 30px !important;
}

/* Slider grabber */
.DialogSlider_Grabber {
  background: rgb(var(--header)) !important;
}

/* Slider value */
.DialogSlider_Value {
  background: rgb(var(--buttonOn)) !important;
}

/* Drop Down Menu backgrounds */
.DialogDropDownMenu._DialogInputContainer {
  background-color: rgb(var(--header)) !important;
  border: 0 !important;
}

.DialogDropDownMenu_Item:hover {
  background-color: rgb(var(--friendlist)) !important;
  border-radius: $border-radius !important;
}

/* Inner voice setup box */
.voiceSelfDirections {
  background-color: rgb(var(--friendlist)) !important;
}

/* Voice Transmission HotKey - properly align buttons */
._DialogSection.pushToTalkSection .pushToKeyAssignContainer .DialogButton {
  align-self: center !important;
}

/* dialog buttons background */
.DialogButton,
.DialogButton.Off {
  background: rgb(var(--header)) !important;
  border-radius: $border-radius !important;
}

.DialogButton line {
  stroke: rgb(var(--icon));
}

/* hover selected buttons */
.DialogButton:hover {
  border-radius: $border-radius !important;
  box-shadow: 0 0 0 $border-width-sm rgb(var(--buttonOn)) !important;
}

.DialogTextInputBase,
._DialogInputContainer {
  background-color: rgb(var(--header)) !important;
}

.CreateChatDialog .DialogBody {
  padding-right: 0 !important;
}

.CreateChatDialog ._DialogColLayout {
  margin-left: $spacer-xs;
  width: calc(100% - 4px);
}

.VoiceSettings .advancedSettings {
  margin: $spacer-xs !important;
}
