/* Settings Window */

/* Side Panel Background */
.PagedSettingsDialog_PageListColumn {
  background: rgb(var(--header));
}

/* Main Body Background */
.DialogContent,
.DialogContentTransition {
  background: rgb(var(--friendlist));
}

/* Setting control line */
._DialogInputContainer,
.FriendsSettingsNotificationRow,
.voiceMicTestContainer {
  background: rgb(var(--header));
  border-radius: $border-radius;
  color: rgb(var(--text));
}

/* Text Colour */
.DialogOnOffToggle_Control,
.DialogHeader,
.PagedSettingsDialog_PageListItem {
  color: rgb(var(--text));
}

.PagedSettingsDialog_PageList {
  overflow-x: hidden;

  .PagedSettingsDialog_PageListItem {
    transition: 0.3s;

    &.Active {
      transform: translateX($spacer);
    }
  }
}

/* Fake friend - nickname option */
.friendSettingsFakeFriend .fakeFriendAvatar {
  transform: scale(1, 1);
}
