/* Side bar */
[class*="PagedSettingsDialog_PageListItem"],
/* Tab heading*/
.DialogHeader,
/*Most setting text*/
._DialogInputContainer,
.DialogLabel,
.DialogToggle_Description,
.DialogLabelExplainer,
/* Notifications */
.FriendsSettingsNotificationRow,
.FriendsSettingsNotificationRow_Label,
.FriendsSettingsNotificationRow_Checkbox,
/* Voice - hotkeys */
[class*="voicesettings_HotkeySettingDescription"],
/* Voice - advanced settings */ 
[class*="toggle_Label"] {
  color: rgb(var(--text)) !important;
}

[class*='PagedSettingsDialog_Title'] {
  color: rgb(var(--button-on)) !important;
}

/* Links */
.DialogBody a {
  color: rgb(var(--button-on)) !important;

  &:hover {
    color: rgb(var(--text)) !important;
  }
}
