/* ===== DO NOT CHANGE THIS ===== */

/* --------------------------------------------------------------
CHAT WINDOW
-------------------------------------------------------------- */

.ChatTabs .ChatRoomGroupAvatar {
  width: 42px !important;
  height: 42px !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.ChatTabs.compactView .ChatRoomGroupAvatar {
  width: 32px !important;
  height: 32px !important;
}

/* Chat tab title */
.ChatTabs .title-area {
  margin-bottom: -4px !important;
  background: rgb(var(--header)) !important;
  height: 100% !important;
  min-height: 0 !important;
}

.chatTabGroupName {
  margin: auto 0 auto 0;
}

.chatTab .ChatTabContent {
  padding: 0 !important;
  align-items: center !important;
}

.chatTab .friend {
  height: auto !important;
}

/* Dragbar mouse curson */
.voiceRoomDragBar {
  cursor: default !important;
}

/* Time stamp divider */
.timeDivision .preHorizDivider {
  display: none !important;
}

/* Time stamp divider */
.timeDivision .horizDivider {
  display: none !important;
}

.msg.timeDivision {
  font-size: 15px !important;
  color: white !important;
  display: none !important;
}

.ChatHistoryContainer {
  background-color: rgb(var(--friendlist)) !important;
}

.MemberListColumn,
.chatRoomGroupNavColumn {
  background-color: rgb(var(--friendlist)) !important;
}

/* boxes settings */
._DialogTextInputBase,
._DialogInputContainer {
  background: #262626 !important;
}

/* more stuff */

.chatTabSelector {
  background: transparent !important;
  border-radius: 25px !important;
  border: 0 !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
}

.chatTabSelector:hover {
  background: rgb(var(--friendlist)) !important;
  border-radius: 25px !important;
}

.chatTabSelector .SVGIcon_DownArrowContextMenu {
  display: block !important;
  margin: 0 auto !important;
  padding-left: 3px;
  padding-top: 3px !important;
}

.CompactFriendsList
  .friendGroup.gameGroup:not(.OtherGamesGroup)
  .SteamPlayerGroupFooter {
  height: 0 !important;
}

.SingleWindowFocusBar {
  background: none !important;
}

/* emoticon picker hover in chat */
.emoticon_hover_content {
  background-color: rgb(var(--friendlist)) !important;
  border: 2px solid rgb(var(--header)) !important;
  border-radius: 4px !important;
}

/* emoticon picker hover in chat (removes arrow) */
.emoticon_hover_arrow.right {
  display: none !important;
}

/* emoticon picker hover in chat (removes arrow) */
.emoticon_hover_arrow.left {
  display: none !important;
}

.ScrollToBottomButton > span {
  border-radius: 5px !important;
  background: rgb(var(--footer)) !important;
}

.inviteAnotherFriendButton {
  background-color: transparent !important;
}

.inviteAnotherFriendButton .SVGIcon_Button {
  margin-left: -3px !important;
}

.inviteAnotherFriendButton .SVGIcon_Button line,
.chatRoomButton .SVGIcon_Button line {
  stroke: white !important;
}

.ScrollToBottomButton {
  bottom: 2px !important;
}

.titleBarContainer.ChatTabs {
  background: rgb(var(--header)) !important;
}

.speakerTimeStamp {
  color: mediumseagreen !important;
  line-height: 25px !important;
}

.MultiUserChat .isCurrentUser .msgText {
  color: #c1c6cf !important;
}

.chatWindow .chatHeader {
  background: rgb(var(--header)) !important;
  min-height: 4px !important;
}

.chatWindow {
  background: rgb(var(--friendlist)) !important;
}

.chatWindow .chatEntry {
  background-color: rgb(var(--header)) !important;
  height: auto !important;
}

.chatEntry {
  padding-bottom: 0 !important;
}

.emoticon_EmoticonSelector_177nw {
  max-width: 375px !important;
}

.chatWindow .chatEntryControls {
  background-color: #2e2e2f !important;
  border-radius: 4px !important;
}

.chatentry_chatEntryControls_2O_X7 {
  border-radius: 4px !important;
  background-color: rgb(var(--friendlist)) !important;
  box-shadow: none !important;
  padding: 0;
}

.chatentry_chatTextarea_3e__5 {
  min-height: 42px !important;
  max-height: 200px !important;
}

.activeVoiceButtons .SVGIcon_Shadow {
  display: none !important;
}

.emoticon_NewEmoticonIndicator_3NVON {
  background: darkred !important;
  top: 41px !important;
  right: 0 !important;
  left: 0 !important;
  height: 1px !important;
  bottom: 0 !important;
}

.emoticon_NewEmoticonIndicator_3NVON .emoticon_NewEmoticonCircle_3mNrG {
  display: none !important;
}

/* Chat Body */
.chatTab .chatTabHighlight {
  background: none !important;
}

.chatTabList .chatTab,
.ChatTabsBackButton {
  border-radius: 4px !important;
  margin-left: 2px !important;
  height: 100% !important;
  border: 0 !important;
  background: rgb(var(--friendlist)) !important;
}

.chatTabClose:hover {
  border-radius: 10px !important;
  background: red !important;
}

.chatTabList .chatTab:not(.active) {
  background: rgb(var(--header)) !important;
}

.chatRoomGroupHeader {
  border-bottom: 0 solid rgba(23, 24, 29, 0.75) !important;
}

.chatRoomMembers {
  user-select: none;
  height: 2000px !important;
  border-left: 0 solid #22252b !important;
  border-right: 0 solid rgba(34, 37, 43, 0) !important;
}

.inputContainer {
  border-radius: 4px !important;
  overflow: visible !important;
}

/* Group Chat Window Avatar Row */
.displayRow {
  height: 100% !important;
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView {
  box-shadow: none !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel {
  box-shadow: none !important;
  border-radius: 4px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel
  .VoiceControlPanelButton.chatEndVoiceChat {
  border-left: 0 !important;
  border-radius: 4px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel {
  border-left: 0 !important;
}

.ChatRoomListGroupItem
  .chatRoomVoiceChannel.ActiveVoiceChannel
  .chatRoomTextChannel {
  bottom: 1px !important;
  border-radius: 4px !important;
}

/* Chat Divider Fullscreen */
.singleWindowDivider {
  width: 1px !important;
  background-color: rgb(var(--header)) !important;
  min-width: 1px !important;
  border: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.chatDialogs {
  background: rgb(var(--friendlist)) !important;
}

/* Avatar Background */
.AssignCategoriesDialog_Friend {
  background: #2e2e2f !important;
  border-radius: 4px !important;
}

/* ========================================================================== */

/* Style Chat Tab context menu - more firends drop down */

/* Place avatar status circle */
.ChatTabsContextMenu .chatTab .ChatTabContent .avatarHolder .avatarStatus {
  padding: 0 !important;
  margin: 0 !important;
}

/* Hide the snooze icon (no room) */
.ChatTabsContextMenu
  .chatTab
  .ChatTabContent
  .friendsnooze_SnoozeContainer_1OfTa {
  display: none !important;
}

/* Place friend avatar against the left side (line up with group chat) */
.ChatTabsContextMenu .chatTab .ChatTabContent .avatarHolder {
  padding-left: 0 !important;
  padding-bottom: 2px !important;
  padding-right: 2px !important;
  margin-left: 0 !important;
  width: auto !important;
}

.ChatTabsContextMenu .ChatUnreadMessageIndicator {
  margin-left: 90% !important;
}

.ChatTabsContextMenu .chatTab {
  margin: 3px !important;
}

.ChatTabs .labelHolder {
  margin-top: 0 !important;
}

/* === Fix Context Menu Avatar position === */
.contextMenuContents.ChatTabs.compactView
  .ChatTabContent
  .avatarHolder
  .avatar {
  height: 42px !important;
}

.contextMenuContents.ChatTabs .ChatTabContent .avatarHolder {
  height: 42px !important;
}

.ChatTabsContextMenu .ChatTabContent .avatarHolder .avatar {
  height: 32px !important;
}

.ChatTabs.compactView .ChatTabContent .avatarHolder .avatar {
  width: 32px !important;
}

.ChatTabContent .avatarHolder {
  height: auto !important;
  padding: 2px !important;
}

/* ========================================================================== */

/* Full brightness of active avatar even if offline */
.active .friend.offline .avatarHolder img.avatar {
  filter: none !important;
}

/* Group active text channel */
.ActiveTextChannel {
  background-color: rgb(var(--header)) !important;
  border-radius: 2px !important;
  margin-left: 4px !important;
}

.chatRoomGroupNavColumn line,
.chatRoomGroupNavColumn path,
.chatRoomGroupNavColumn polyline,
.chatRoomGroupNavColumn circle {
  stroke: rgb(var(--icon)) !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel {
  background-color: rgb(var(--header)) !important;
}

.chatRoomVoiceChannel:hover {
  background-color: rgb(var(--header)) !important;
}

/* ==========================================================================
                               Chat Name Colours                             */

.messages_SpeakerName_InGame_1vaKy {
  color: rgb(var(--ingame)) !important;
}

.messages_SpeakerName_Online_2nKVN {
  color: rgb(var(--online)) !important;
}

.messages_SpeakerName_Default_1Qo8j {
  color: rgb(var(--offline)) !important;
}

.msgText {
  color: rgb(var(--text)) !important;
}

.MemberListColumn.MemberListViewCompact .friend .avatarHolder .avatarStatus {
  transform: none !important;
}

/* ==========================================================================
                          Chat Actions / Controls                            */

/* Chat Action Area */
.chatentry_chatEntryActionsGroup_15mWd {
  box-shadow: none;
  background: none;
}

.chatentry_chatSubmitButton_3VRfL.chatentry_EmoticonPickerButton_3fgX0,
.chatentry_chatSubmitButton_3VRfL.chatentry_EmbedButton_1vvRh,
.VoiceToggle,
.VoiceToggle.Active {
  background: none;
  border: 0 !important;
  border-radius: 50%;
}

.chatentry_chatSubmitButton_3VRfL.chatentry_EmoticonPickerButton_3fgX0:hover,
.chatentry_chatSubmitButton_3VRfL.chatentry_EmbedButton_1vvRh:hover,
.VoiceToggle:hover,
.VoiceToggle.Inactive:hover {
  background-color: rgb(var(--friendlist));
}

.chatentry_chatSubmitButton_3VRfL circle,
.chatentry_chatSubmitButton_3VRfL path,
.chatentry_chatSubmitButton_3VRfL line,
.VoiceToggleIconCtn path,
.VoiceToggleIconCtn polyline,
.ToggleMemberListView polyline {
  stroke: rgb(var(--icon)) !important;
}

.VoiceToggleIconCtn,
.SVGIcon_VoiceRoom .Bubble {
  fill: rgb(var(--icon));
}

.VoiceToggleIconCtn .Bubble {
  display: none;
}

.chatentry_chatSubmitButton_3VRfL {
  background-color: rgb(var(--header));
  border: 0;
  margin: 0;
  padding: 0;
  height: auto;
  max-height: none;
}

.chatentry_chatSubmitButton_3VRfL.chatentry_disabled_2p2vW {
  background-color: rgb(var(--header));
}

.chatentry_chatSubmitButton_3VRfL:not(.chatentry_disabled_2p2vW):hover {
  background-color: rgb(var(--friendlist));
}

.ChatMessageEntryVoice.Disabled {
  border: 0;
  outline: 0;
}

.ChatMessageEntryVoice,
.buttonsContainer,
.VoiceToggle {
  background: none;
}

/* Button to open voice settings */
.friendSettingsButton {
  margin: auto 0 auto 2px;
}

/* Voice controls when in voice chat */
.activeVoiceControls {
  background: rgb(var(--header)) !important;
  border: none;
}
