/* --------------------------------------------------------------
SCROLLBAR
-------------------------------------------------------------- */

/* makes scrollbar wider & not highlighted by default */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: transparent;
  overflow: visible;
}

/* button arrows scroll bar */

/* Up & Down */
::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:vertical:decrement {
  display: none !important;
}

/* thumb normal state */
::-webkit-scrollbar-thumb {
  width: 14px;
  border-radius: var(--border-radius-lg);
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
  background-color: transparent;
  border-width: var(--border-width-sm);
}

.chatRoomListContainer:hover::-webkit-scrollbar-thumb,
.friendlistListContainer:hover::-webkit-scrollbar-thumb,
.DialogBody:hover::-webkit-scrollbar-thumb,
.FriendPicker_Suggestions_List:hover::-webkit-scrollbar-thumb,
.chatHistoryScroll:hover::-webkit-scrollbar-thumb {
  background-color: rgb(var(--scrollbarPrimary));
  border-radius: 20px !important;
}

/* thumb hover state */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--scrollbarPrimaryHover)) !important;
  border-radius: 20px !important;
}

/* ==================== */

/* Text Entry Scrollbar */
.chatentry_chatTextarea_3e__5::-webkit-scrollbar-thumb {
  background-color: rgb(var(--scrollbarSecondary));
}

.chatentry_chatTextarea_3e__5::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--scrollbarSecondaryHover)) !important;
}

/* ==================== */
