/** Input area spacing/position
 *  Most of the following is to properly center things and have nice spacing 
 */
.chatWindow .chatEntry {
  border-radius: 16px;
  //   display: flex;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
}

[class*='chatentry_chatEntryActionsContainer'] {
  margin: auto !important;
}

[class*='chatentry_chatTextarea'] {
  box-shadow: none !important;
  //   box-sizing: border-box;
  //   margin: auto;
  //   padding: 0;
}

// [class*='chatentry_chatEntryControls'] [class*='chatentry_chatSubmitButton'] {
//   align-self: auto;
// }

[class*='chatentry_chatEntryControls'] {
  background-color: unset !important;
  padding: 10px;
}

// /* Hide the shadow between text input and viewing area */
.chatStack [class*='insetshadow_FriendListInsetShadowBottom'] {
  display: none;
}

/* Ensure breaking default steam shadows are not present */
[class*='chatentry_chatEntryControls'],
[class*='chatentry_chatEntryActionsGroup'],
.ChatMessageEntryVoice {
  box-shadow: none !important;
}

/** Emoticon Picker button */
[class*='chatentry_EmoticonPickerButton'] {
  .SVGIcon_Emoticon {
    background-image: url('assets/emojiIcon.svg');
    background-repeat: no-repeat;
    background-size: auto;

    /* Override svg style */
    filter: grayscale(1) !important;
    height: 100% !important;
    transition: filter 0.2s linear;
    width: 100% !important;
  }

  circle,
  path,
  line {
    display: none;
  }

  &:hover .SVGIcon_Emoticon {
    filter: none !important;
  }

  /* Emoticon 'new' wrapper */
  [class*='shared_svg_library_EmoticonBow'] {
    bottom: unset;
    left: unset;
    right: unset;
    top: -2px;
  }
}

/* New emoticon */
[class*='emoticon_NewEmoticonIndicator'] {
  background: none !important;
}

[class*='emoticon_NewEmoticonCircle'] {
  background-color: rgb(var(--unreadmessage)) !important;
}

/** Add file button */
[class*='chatentry_EmbedButton'] {
  .SVGIcon_Paperclip {
    background-image: url('assets/attachIcon.svg');
    background-repeat: no-repeat;
    background-size: auto;

    /* Override svg style */
    filter: grayscale(1) !important;
    height: 100% !important;
    transition: filter 0.2s linear;
    width: 100% !important;

    circle,
    path,
    line {
      display: none;
    }
  }

  &:hover .SVGIcon_Paperclip {
    filter: none !important;
  }
}

[class*='chatentry_EmbedButton']

/**
 * Chat Controls
 */

/* remove existing styles */
[class*='chatentry_chatEntryActionsGroup'] {
  background-color: unset !important;
}

/* all controls are referred to as chatSubmitButton, regardless of what action they perform */
[class*='chatentry_chatSubmitButton'] {
  /* remove existing styles */
  background-color: unset !important;
  border: 0 !important;

  /**
   * Actual submit button 
   */

  /* Hide when disabled */
  &[class*='chatentry_disabled'] .SVGIcon_Submit {
    opacity: 0;
  }

  /* apply icon styles */
  .SVGIcon_Submit {
    transition: 0.2s linear;

    path {
      stroke: rgb(var(--icon)) !important;
      stroke-width: 6px;
    }
  }

  &:hover .SVGIcon_Submit path {
    stroke: rgb(var(--iconhover)) !important;
  }

  svg {
    vertical-align: middle;
  }

  /* ========== */
}

/** Wrap content once window is small
 *  ensures entry area is still visible
 */
@media only screen and (480px >= width) {
  .chatWindow .chatEntry {
    flex-direction: column;
  }

  [class*='chatentry_chatEntryControl'] {
    border-bottom: $border-width-sm solid rgb(var(--friendlist));
  }
}
