/* ===== DO NOT CHANGE THIS ===== */

/* --------------------------------------------------------------
DISCORD STATUS (DEFAULT)
-------------------------------------------------------------- */

/* QuickAccess avatar status  */
.avatarStatus {
  height: 33% !important;
  width: 33% !important;
  border-radius: 50% !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  background: rgb(var(--friendlist));
  z-index: 4 !important;
  position: absolute;
  top: auto !important;
  left: auto !important;
  bottom: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.voiceSelfDirections .avatarStatus {
  height: 16px !important;
  width: 16px !important;
  right: auto !important;
  left: 35px !important;
}

.friendStatusHover:hover .avatarStatus {
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
}

.quickAccessFriends .avatarStatus,
.miniProfileHover .avatarStatus {
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
  background: rgb(var(--header));
}

.FriendPicker .friend:not(:hover) .avatarStatus,
.chattabs_ChatTab_1WfqA:not(.chattabs_Active_3sMSI) .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .avatarStatus {
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
  background-color: rgb(var(--header));
}

.speaker .speakerStatus {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  margin-top: 10px !important;
  margin-left: -8px !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  background: rgb(var(--friendlist));
}

/* QuickAcces Game Icon */
.FavoriteFriend_GameIcon {
  height: 33% !important;
  width: 33% !important;
  border-radius: 100% !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  z-index: 4 !important;
  position: absolute;
  top: auto !important;
  left: 0 !important;
  bottom: 0 !important;
}

.FavoriteFriend_GameIcon img {
  transform: scale(140%, 140%) !important;
}

.compactQuickAccess .FavoriteFriend_GameIcon {
  display: none !important;
}

.online:not(.awayOrSnooze) .avatarStatus,
.online:not(.away) .speakerStatus {
  background: rgb(var(--online)) !important;
}

.watchingbroadcast:not(.awayOrSnooze) .avatarStatus,
.watchingbroadcast:not(.away) .speakerStatus {
  background: rgb(var(--watching)) !important;
}

.ingame:not(.awayOrSnooze) .avatarStatus,
.ingame:not(.away) .speakerStatus {
  background: rgb(var(--ingame)) !important;
}

/* status images are base64 encoded with http://b64.io/ */
.offline .avatarStatus,
.offline .speakerStatus {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwIDEwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6IG5ldyAwIDAgMTAgMTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48bWFzayBpZD0ic3ZnLW1hc2stc3RhdHVzLW9mZmxpbmUiIG1hc2tDb250ZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB2aWV3Qm94PSIwIDAgMSAxIj4gICAgPGNpcmNsZSBmaWxsPSJ3aGl0ZSIgY3g9IjAuNSIgY3k9IjAuNSIgcj0iMC41Ij48L2NpcmNsZT4gICAgPGNpcmNsZSBmaWxsPSJibGFjayIgY3g9IjAuNSIgY3k9IjAuNSIgcj0iMC4yNSI+PC9jaXJjbGU+PC9tYXNrPjxyZWN0IHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgeD0iMCIgeT0iMCIgZmlsbD0iIzc0N0Y4RCIgbWFzaz0idXJsKCNzdmctbWFzay1zdGF0dXMtb2ZmbGluZSkiPjwvcmVjdD48L3N2Zz4=) !important;
  background-repeat: no-repeat;
}

.awayOrSnooze .avatarStatus,
.away .speakerStatus {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwIDEwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6IG5ldyAwIDAgMTAgMTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48bWFzayBpZD0ic3ZnLW1hc2stc3RhdHVzLWlkbGUiIG1hc2tDb250ZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB2aWV3Qm94PSIwIDAgMSAxIj48Y2lyY2xlIGZpbGw9IndoaXRlIiBjeD0iMC41IiBjeT0iMC41IiByPSIwLjUiPjwvY2lyY2xlPjxjaXJjbGUgZmlsbD0iYmxhY2siIGN4PSIwLjI1IiBjeT0iMC4yNSIgcj0iMC4zNzUiPjwvY2lyY2xlPjwvbWFzaz48cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHg9IjAiIHk9IjAiIGZpbGw9IiNmYWE2MWEiIG1hc2s9InVybCgjc3ZnLW1hc2stc3RhdHVzLWlkbGUpIj48L3JlY3Q+PC9zdmc+) !important;
  -webkit-mask: none !important;
  background-repeat: no-repeat;
}

.friendlistListContainer .awayOrSnooze .avatarStatus,
.ChatTabsContextMenu .awayOrSnooze .avatarStatus,
.chatTabSetContainer .awayOrSnooze .avatarStatus,
.FriendPicker .awayOrSnooze:hover .avatarStatus,
.away .speakerStatus,
.MemberListColumn .avatarStatus,
.friendCategoryContainer .offline .avatarStatus,
.ChatTabsContextMenu .offline .avatarStatus,
.chatTabSetContainer .offline .avatarStatus,
.FriendPicker .offline:hover .avatarStatus,
.offline .speakerStatus,
.OneOnOneVoiceMembers .offline .avatarStatus,
.OneOnOneVoiceMembers .awayOrSnooze .avatarStatus {
  background-color: rgb(var(--friendlist)) !important;
}

.friendlistListContainer .awayOrSnooze:hover .avatarStatus,
.miniProfileHover .awayOrSnooze .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .awayOrSnooze .avatarStatus,
.chattabs_ChatTab_1WfqA:not(.chattabs_Active_3sMSI) .offline .avatarStatus,
.chattabs_ChatTab_1WfqA:not(.chattabs_Active_3sMSI) .awayOrSnooze .avatarStatus,
.friendCategoryContainer .offline:hover .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .offline .avatarStatus {
  background-color: rgb(var(--header)) !important;
}

/* Golden status */
.miniProfileHover .golden .avatarStatus {
  background: linear-gradient(
    to bottom,
    #d5bf6a 0%,
    #ffe2a9 40%,
    #ba995c 52%,
    #ba995c 61%,
    #d5bf6a 85%
  );
}
