/* ===== DO NOT CHANGE THIS ===== */

/* --------------------------------------------------------------
DISCORD STATUS (DEFAULT)
-------------------------------------------------------------- */

/* QuickAccess avatar status  */
.avatarStatus {
  background: rgb(var(--friendlist)) !important;
  border-radius: 50% !important;
  bottom: 0 !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  display: block !important;
  height: 33% !important;
  left: auto !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  opacity: 1 !important;
  position: absolute;
  right: 0 !important;
  top: auto !important;
  width: 33% !important;
  z-index: 4 !important;
}

.voiceSelfDirections .avatarStatus {
  height: 16px !important;
  left: 35px !important;
  right: auto !important;
  width: 16px !important;
}

.friendStatusHover:hover .avatarStatus {
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
}

.quickAccessFriends .avatarStatus,
.miniProfileHover .avatarStatus {
  background: rgb(var(--header));
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
}

.FriendPicker .friend:not(:hover) .avatarStatus,
.chattabs_ChatTab_1WfqA:not(.chattabs_Active_3sMSI) .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .avatarStatus {
  background-color: rgb(var(--header));
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
}

.speaker .speakerStatus {
  display: none !important;
}

/* QuickAcces Game Icon */
.FavoriteFriend_GameIcon {
  border-radius: 100% !important;
  bottom: 0 !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  height: 33% !important;
  left: 0 !important;
  position: absolute;
  top: auto !important;
  width: 33% !important;
  z-index: 4 !important;
}

.FavoriteFriend_GameIcon img {
  transform: scale(140%, 140%) !important;
}

.compactQuickAccess .FavoriteFriend_GameIcon {
  display: none !important;
}

.avatarHolder.online:not(.awayOrSnooze) .avatarStatus {
  background: rgb(var(--online)) !important;
}

.avatarHolder.watchingbroadcast:not(.awayOrSnooze) .avatarStatus {
  background: rgb(var(--watching)) !important;
}

.avatarHolder.ingame:not(.awayOrSnooze) .avatarStatus {
  background: rgb(var(--ingame)) !important;
}

/* status images are base64 encoded with http://b64.io/ */
.avatarHolder.offline .avatarStatus {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background: new 0 0 10 10;' xml:space='preserve'%3E%3Cmask id='svg-mask-status-offline' maskContentUnits='objectBoundingBox' viewBox='0 0 1 1'%3E%3Ccircle fill='white' cx='0.5' cy='0.5' r='0.5'%3E%3C/circle%3E%3Ccircle fill='black' cx='0.5' cy='0.5' r='0.25'%3E%3C/circle%3E%3C/mask%3E%3Crect width='10' height='10' x='0' y='0' fill='%23747F8D' mask='url(%23svg-mask-status-offline)'%3E%3C/rect%3E%3C/svg%3E%0A") !important;
  background-repeat: no-repeat;
}

.avatarHolder.awayOrSnooze .avatarStatus {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background: new 0 0 10 10;' xml:space='preserve'%3E%3Cmask id='svg-mask-status-idle' maskContentUnits='objectBoundingBox' viewBox='0 0 1 1'%3E%3Ccircle fill='white' cx='0.5' cy='0.5' r='0.5'%3E%3C/circle%3E%3Ccircle fill='black' cx='0.25' cy='0.25' r='0.375'%3E%3C/circle%3E%3C/mask%3E%3Crect width='10' height='10' x='0' y='0' fill='%23faa61a' mask='url(%23svg-mask-status-idle)'%3E%3C/rect%3E%3C/svg%3E%0A") !important;
  background-repeat: no-repeat;
  -webkit-mask: none !important;
}

.friendlistListContainer .awayOrSnooze .avatarStatus,
.ChatTabsContextMenu .awayOrSnooze .avatarStatus,
.chatTabSetContainer .awayOrSnooze .avatarStatus,
.FriendPicker .awayOrSnooze:hover .avatarStatus,
.MemberListColumn .avatarStatus,
.friendCategoryContainer .offline .avatarStatus,
.ChatTabsContextMenu .offline .avatarStatus,
.chatTabSetContainer .offline .avatarStatus,
.FriendPicker .offline:hover .avatarStatus,
.OneOnOneVoiceMembers .offline .avatarStatus,
.OneOnOneVoiceMembers .awayOrSnooze .avatarStatus {
  background-color: rgb(var(--friendlist)) !important;
}

.friendlistListContainer .awayOrSnooze:hover .avatarStatus,
.miniProfileHover .awayOrSnooze .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .awayOrSnooze .avatarStatus,
.chattabs_ChatTab_1WfqA:not(.chattabs_Active_3sMSI) .offline .avatarStatus,
.chattabs_ChatTab_1WfqA:not(.chattabs_Active_3sMSI) .awayOrSnooze .avatarStatus,
.friendCategoryContainer .offline:hover .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .offline .avatarStatus {
  background-color: rgb(var(--header)) !important;
}

/* Golden status */
.miniProfileHover .golden .avatarStatus {
  background:
    linear-gradient(
      to bottom,
      #d5bf6a 0%,
      #ffe2a9 40%,
      #ba995c 52%,
      #ba995c 61%,
      #d5bf6a 85%
    );
}
