/* ===== DO NOT CHANGE THIS ===== */

/* --------------------------------------------------------------
DISCORD STATUS (DEFAULT)
-------------------------------------------------------------- */

/* QuickAccess avatar status  */
.avatarStatus {
  height: 33% !important;
  width: 33% !important;
  border-radius: 50% !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  background: rgb(var(--friendlist));
  z-index: 4 !important;
  position: absolute;
  top: auto !important;
  left: auto !important;
  bottom: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.friendCategoryContainer .friendStatusHover:hover .avatarStatus {
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
}

.quickAccessFriends .avatarStatus,
.miniProfileHover .avatarStatus {
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
  background: rgb(var(--header));
}

.FriendPicker .friend:not(:hover) .avatarStatus,
.chatTab:not(.active) .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .avatarStatus {
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
  background-color: rgb(var(--header));
}

.speaker .speakerStatus {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  margin-top: 10px !important;
  margin-left: -8px !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  background: rgb(var(--friendlist));
}

/* QuickAcces Game Icon */
.FavoriteFriend_GameIcon {
  height: 33% !important;
  width: 33% !important;
  border-radius: 100% !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  z-index: 4 !important;
  position: absolute;
  top: auto !important;
  left: 0 !important;
  bottom: 0 !important;
}

.FavoriteFriend_GameIcon img {
  transform: scale(140%, 140%) !important;
}

.compactQuickAccess .FavoriteFriend_GameIcon {
  display: none !important;
}

.steamavatar_avatarStatus_1Pwr6 {
  border-radius: 100% !important;
}

.online:not(.awayOrSnooze) .avatarStatus,
.online:not(.away) .speakerStatus {
  background: rgb(var(--online)) !important;
}

.ingame:not(.awayOrSnooze) .avatarStatus,
.ingame:not(.away) .speakerStatus {
  background: rgb(var(--ingame)) !important;
}

.offline .avatarStatus,
.offline .speakerStatus {
  background-image: url(https://laserflash.tk/steam-friends-skin/src/css/customisable/avatarStatus/offline.svg) !important;
}

.awayOrSnooze .avatarStatus,
.away .speakerStatus {
  background-image: url(https://laserflash.tk/steam-friends-skin/src/css/customisable/avatarStatus/half-moon.svg) !important;
  -webkit-mask: none !important;
}

.friendCategoryContainer .awayOrSnooze .avatarStatus,
.ChatTabContent .awayOrSnooze .avatarStatus,
.FriendPicker .awayOrSnooze:hover .avatarStatus,
.away .speakerStatus,
.MemberListColumn .avatarStatus,
.friendCategoryContainer .offline .avatarStatus,
.ChatTabContent .offline .avatarStatus,
.FriendPicker .offline:hover .avatarStatus,
.offline .speakerStatus {
  background-color: rgb(var(--friendlist)) !important;
}

.friendCategoryContainer .awayOrSnooze:hover .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .awayOrSnooze .avatarStatus,
.chatTab:not(.active) .offline .avatarStatus,
.chatTab:not(.active) .awayOrSnooze .avatarStatus,
.friendCategoryContainer .offline:hover .avatarStatus,
.ChatTabsContextMenu .contextMenuItem:not(:hover) .offline .avatarStatus {
  background-color: rgb(var(--header)) !important;
}
