/* =========================================================== */

/*                      BORDER STATUS                          */

/* =========================================================== */

/* === Hide Normal Status Block === */
.avatarStatus,
.speakerStatus {
  display: none !important;
}

/* Apply border to avatar to show status */
.avatarHolder .avatar {
  border: var(--border-width-sm) solid !important;
}

/* === Status Colours === */
.online .avatar {
  color: rgb(var(--online));
}

.watchingbroadcast .avatar {
  color: rgb(var(--watching));
}

/* Golden status */
.golden .avatar {
  color: #d5bf6a;
}

.ingame .avatar {
  color: rgb(var(--ingame));
}

.awayOrSnooze .avatar {
  color: rgb(var(--away));
}

.offline .avatar {
  color: rgb(var(--offline));
}
