*{  box-shadow: none !important;
    text-shadow: none !important;}

:root {
     /* Switch between modes (1 at the time) */

    /* Dark Mode (Default) */
    /*--header: 21, 21, 21;
    --friendlist: 30, 30, 31;
    --footer: 21, 21, 21;
    --scrollbar: 21, 21, 21;
    --unreadmessage: 0 ,255, 0;
    --text: 255, 255, 255;
    --listtext: 255, 255, 255;
    --icon: 255, 255, 255;
    --caption: 255, 255, 255;
    --captionhover: 30, 30, 31;
    --online: 93, 178, 254;
    --snooze: 93, 178, 255;
    --offline: 145, 145, 145;
    --ingame: 130, 186, 0;
    --selfstatus: 93, 178, 254;
    --hoverstatus: 21, 21, 21, 0.5;

    /*Light Mode*/
    /*--header: 238,238,238;
    --friendlist: 215, 215, 215;
    --footer: 238, 238, 238;
    --scrollbar: 238, 238, 238;
    --unreadmessage: 0 ,255, 0;
    --text: 0, 0, 0;
    --listtext: 0, 0, 0;
    --icon: 0, 0, 0;
    --caption: 0, 0 ,0;
    --online: 93, 178, 254;
    --snooze: 93, 178, 255;
    --offline: 0, 0, 0;
    --ingame: 130, 186, 0;
    --selfstatus: 0, 0, 0;
    --hoverstatus: 238,238,238, 0.5;
*/}

/* WARNING !!!!!!!!!!Do not Change the code below this line!!!!!!!!!! */
/*-----------------------------------------------------------------------------------------*/
/* WARNING !!!!!!!!!!Do not Change the code below this line!!!!!!!!!! */

/* Scrollbar */

/* button */

::-webkit-scrollbar-button {
	height: 25px !important; 
	border-radius: 0px !important; 
	border: 0px !important;
}

/* button arrows scroll bar */
/* Down */
::-webkit-scrollbar-button:vertical:increment {
    display: none !important;
}

/* Up */
::-webkit-scrollbar-button:vertical:decrement { 
    display: none !important;
}

/* background behind scrollbar */
::-webkit-scrollbar-track {
    background-color: rgb(var(--friendlist)) !important;
    border-radius: 4px !important;
}

/* thumb normal and hover state */
::-webkit-scrollbar-thumb {
	background-color: rgb(var(--scrollbar)) !important;
    border: 0px !important;
    border-radius: 0px !important;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(var(--scrollbar)) !important;
	border-radius: 0px !important;
}

/* makes scrollbar wider */
::-webkit-scrollbar {
    width: 18px !important;
}

/* disables scroll bar at settings */
.DialogBody::-webkit-scrollbar {
	display:none !important;
}

/* Chat */

/* Close, Minimize, Maximize and full buttons. */
.title-area-icon .SVGIcon_Minimize {
    width: 22px !important;
    height: 20px !important;
    margin-left: -4px !important; 
}

.insetshadow_FriendsListInsetShadowCtn_1S167 {
    display: none!important;
}

.friendStatusHover.ingame:hover,
.friendStatusHover.ingame.Friend_ContextMenuActive {
    background-color: rgb(var(--hoverstatus)) !important; }
    
.friendStatusHover.online:hover,
.friendStatusHover.online.Friend_ContextMenuActive {
    background-color: rgb(var(--hoverstatus)) !important; }
    
.friendStatusHover.offline:hover,
.friendStatusHover.offline.Friend_ContextMenuActive {
    background-color: rgb(var(--hoverstatus)) !important; }


.friend.awayOrSnooze .labelHolder {
    opacity: 1 !important;
}
  
.title-area-icon .SVGIcon_Minimize:hover {
    width: 22px !important;
    height: 20px !important;
    background: rgb(var(--captionhover)) !important;
    margin-top: -2px !important;
    margin-left: -4px !important; 
}

.friend.awayOrSnooze .playerNameQuickAccessContainer {
    fill: rgb(var(--snooze)) !important;
}

.ingame .personanameandstatus_playerName_1uxaf {
    color: rgb(var(--ingame)) !important;
}

.online .personanameandstatus_playerName_1uxaf {
    color: rgb(var(--online)) !important;
}

.currentUserContainer .personanameandstatus_playerName_1uxaf{
    color: rgb(var(--selfstatus)) !important;
}

.offline .personanameandstatus_playerName_1uxaf {
    color: rgb(var(--offline)) !important;
}

.offline .personanameandstatus_richPresenceLabel_3Q6g1 {
    color: rgb(var(--offline)) !important;
} 

.offline .personanameandstatus_statusAndName_9U-hi {
    filter: none !important;
}

.friendsListSectionTitle .SVGIcon_NewChatGroup line {
    stroke: rgb(var(--footer)) !important;
}

.personastatusicons_PersonaStatusIcon_2rP7f.online .SVGIcon_VR path, .personastatusicons_PersonaStatusIcon_2rP7f.online .SVGIcon_MobilePhone path, .personastatusicons_PersonaStatusIcon_2rP7f.online .SVGIcon_BigPicture path {
    fill: rgb(var(--icon)) !important;
}

.TabSearchButton .ColorSelector {
    stroke: rgb(var(--icon)) !important;
    fill: rgb(var(--icon)) !important;
}

.addFriendButton .SVGIcon_AddFriend .plusCircle {
    fill: rgb(var(--icon)) !important;
}

.friendRequestButton .SVGIcon_FriendRequest .friendBodyFull, .friendRequestButton .SVGIcon_FriendRequest .friendHead, .friendRequestButton .SVGIcon_FriendRequest .friendArm, .friendRequestButton .SVGIcon_FriendRequest .friendBody, .addFriendButton .SVGIcon_AddFriend .friendHead, .addFriendButton .SVGIcon_AddFriend .friendBody {
    fill: rgb(var(--icon)) !important;
}
  
.title-area-icon .SVGIcon_Maximize {
    width: 22px !important;
    height: 20px !important;
    margin-left: 0px !important; 
}

.recentChatsGroup .friendGroup .groupName, .friendGroup.taggedGroup .groupName, .friendGroup.gameGroup .groupName {
    color: rgb(var(--listtext)) !important; }

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends .groupName, .FriendsListContent .friendlistListContainer .friendGroup.offlineFriends .groupName{
    color: rgb(var(--listtext)) !important; }

.title-area-icon .SVGIcon_Restore {
    width: 22px !important;
    height: 20px !important;
    margin-left: 0px !important; }

.title-area-icon .SVGIcon_Restore:hover {
    width: 22px !important;
    height: 20px !important;
    background: rgb(var(--captionhover)) !important;
    margin-left: 0px !important; 
}
  
.title-area-icon .SVGIcon_Maximize:hover {
    width: 22px !important;
    height: 20px !important;
    background: rgb(var(--captionhover)) !important;
    margin-top: -2px !important;
    margin-left: 0px !important; 
}
  
.title-area-icon .SVGIcon_X_Line {
    height: 20px !important;
    width: 22px !important;
    margin-left: 4px !important;
}
  
.title-area-icon .SVGIcon_X_Line:hover {
    background: red !important;
    width: 22px !important;
    margin-top: -2px !important;
    margin-left: 4px !important;
    height: 20px !important;
}

.unreadMessageViolator {
    border: 0px !important;
    line-height: 20px !important;
    color: rgb(var(--unreadmessage)) !important;
    background: rgb(var(--scrollbar)) !important;
    border-radius: 40px !important;
    height: 20px !important;
    border: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 4px !important;
    width: 150px !important;
    box-shadow: none !important;
}

.unreadFriend .FriendMessageCount {
    box-shadow: none !important;
    border-radius: 40px !important;
    color: rgb(var(--unreadmessage)) !important;
    background: rgb(var(--scrollbar)) !important;
    animation-name: none !important;
}

.compactView .chatTabOpenFriendsList {
    height: 44px !important;
    border-radius: 4px !important;
}

.ChatRoomSpeaker .speaker .speakerAvatar, .ChatMsgSlashEmote .speaker .speakerAvatar {
    border-radius: 50% !important;
}

.ChatRoomSpeaker .speaker .speakerStatus, .ChatMsgSlashEmote .speaker .speakerStatus {
    width: 10px !important;
    border-radius: 50% !important;
    height: 10px !important;
    margin-top: 12px !important;
    margin-left: -8px !important;
    margin-right: 8px !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

.timeDivision .preHorizDivider {
    display: none !important;
}

.timeDivision .horizDivider {
    display: none !important;
}

.msg.timeDivision {
    font-size: 15px !important;
    color: white !important;
    display: none !important;
}

.chatTabOpenFriendsList {
    box-shadow: none !important;
    background-color: #2e2e2f !important;
    height: 44px !important;
    border-radius: 4px !important;
}

.chatTabOpenFriendsList:hover {
    background-color: #3e3e3f !important;
}

.ChatMessageInvite {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) !important;
}

.TradeOffer_NoteFromFriend_QuoteArrow {
    display: none !important;
}

.TradeOffer_NoteFromFriend {
    border: 0px !important;
    background-color: rgb(var(--header)) !important;
}
  
.title-area-icon .SVGIcon_SingleWindowToggle {
    width: 22px !important;
    height: 20px !important;
    margin-left: -5px !important;
}
  
.title-area-icon .SVGIcon_SingleWindowToggle:hover {
    width: 22px !important;
    height: 20px !important;
    background: rgb(var(--captionhover)) !important;
    margin-top: -2px !important;
    margin-left: -5px !important;
}

.chat_main.singlewindow .ChatTabs .title-area-icon .SVGIcon_SingleWindowToggle {
    margin-top: 0px !important; 
}

.groupName .gameGroupContainer .groupIcon {
    border-radius: 15px !important;
}

.ChatTabs .title-area {
    margin-bottom: -4px !important;
    background: rgb(var(--header)) !important;
    height: 52px !important;
}

.ChatTabs .title-area-icon:hover .SVGIcon_SingleWindowToggle .leftBox {
    transform: none !important; 
}

.title-area-icon .SVGIcon_SingleWindowToggle .leftBox {
    transition: none !important 
}

.title-area-icon .SVGIcon_X_Line line {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Maximize line {
    stroke: rgb(var(--caption)) !important;
    display: none !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Maximize rect {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Restore rect {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Restore polyline {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_Minimize line {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_SingleWindowToggle rect {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.title-area-icon .SVGIcon_SingleWindowToggle line {
    stroke: rgb(var(--caption)) !important;
    stroke-width: 10px !important;
}

.SVGIcon_Button {
    fill: rgb(var(--caption)) !important;
}

.friendSettingsButton .SVGIcon_Settings{
    fill: rgb(var(--icon)) !important;
}

.ModalPosition_TopBar {
    height: 0px !important;
    background: #555 !important;
}

/* dialog buttons background */
button.DialogButton, .DialogOnOffToggle_Option:hover:not( .Active ) {background: #4c4c4c;}
.DialogOnOffToggle_Control {background: #343434 !important
}


/* hover selected buttons */
button.DialogButton.Primary:hover {
    background: rgb(81, 23, 189) !important;
    border-radius: 4px !important;
}

button.DialogButton:hover {
    background: #252424 !important;
    border-radius: 4px !important;
}

/* boxes settings */
._DialogTextInputBase, ._DialogInputContainer {
    background: #262626!important;
}

.DialogDropDownMenu._DialogInputContainer {
    border: none!important;
    background: #262626!important;
}

/* box hover inside */
.DialogDropDownMenu_Item:hover {
    background: #383838!important;
    border-radius: 4px !important;
}

/* more stuff */
button.DialogButton:active, button.DialogButton:active:hover {
    background: #272727!important;
    border-radius: 4px !important;
}

.chatTabSelector {
    background-color: transparent !important;
    width: 44px !important;
    border-radius: 25px !important;
    border: 0px !important;
    border-bottom-width: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.chatTabSelector:hover {
    background: #2e2e2f !important;
    border-radius: 25px !important;
}

.chat_main
{
	background-color: transparent !important;
	color: transparent !important;
}

html.client_chat_frame body, html.web_chat_frame body {
    background: rgb(var(--footer)) !important;
}

/* Game playing status */
.friendGroup .SteamPlayerGroupFooter {
    margin-top: -20px !important;
}

/* Game playing status */
.CompactFriendsList .friendGroup .SteamPlayerGroupFooter {
    margin-top: -8px !important;
    margin-left: 5px !important;
}

.CompactFriendsList .friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter {
    height: 0px !important;
}

.socialTabSearchContainer {
    padding-top: 10px !important;
}

.title-area-highlight {
   height: 0px !important;
   background: #555 !important;
   opacity: 1 !important;
   transition: 0 !important;
}    

.SingleWindowFocusBar {
   background: none !important;
}

.currentUserAvatar {
   border-radius: 30px !important;
}

.currentUserContainer .labelHolder {
   margin-bottom: 5px !important;
}

.ScrollToBottomButton > span {
    border-radius: 5px !important;
    background: rgb(var(--footer)) !important;
}

.inviteAnotherFriendButton {
    background-color: transparent !important;
}

.inviteAnotherFriendButton .SVGIcon_Button {
    margin-left: -3px !important;
}

.inviteAnotherFriendButton .SVGIcon_Button line, .chatRoomButton .SVGIcon_Button line {
    stroke: white !important;
}

.ScrollToBottomButton {
    bottom: 2px !important;
}

.currentUserContainer {
border-bottom: 0px !important;
}

.friendListInsetShadowBottom {
    background: 0px !important;
}

.friendListInsetShadowTop {
    background: none !important;
}

.friendListInsetShadowBottom {
    background: none !important;
}

.singleWindowFocusBar {
    background: none !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends {
    border-top: 4px !important;
    margin-top: 0px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends {
    border-top: none !important;
    margin-top: 0px !important;
}

.friendlistListContainer {
    background: rgb(var(--friendlist)) !important;
}

.confirmInviteRequestContainer .confirmInviteButton {
    border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends {
    border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends .SVGIcon_Arrow polyline {
    border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends:hover .SVGIcon_Arrow polyline {
    border-radius:  4px !important;
}

.confirmInviteRequestContainer {
    border-radius:  4px !important;
}

.friendsTabButtonsContainer .TabSearchButton {
    border-radius: 50px !important;
    height: 26px !important;
}

.currentUserAvatar:hover {
    transform: scale(1.05);
    filter: none !important;
}

.friendListFooter {
    display: none !important;
    min-height: 20px !important;
    background-color: rgb(var(--footer)) !important;
}

.window_resize_grip {
    margin-right: -50px !important;
}

.titleBarContainer.ChatTabs {
    background: rgb(var(--header)) !important;
}

.friendListHeaderContainer {
    background-color: rgb(var(--header)) !important;
    border-bottom: 0px !important;
}

.speakerTimeStamp {
    color: mediumseagreen !important;
    line-height: 25px !important;
}

.MultiUserChat .isCurrentUser .msgText {
    color: #c1c6cf !important;
}

.statusHeaderGlow {
   opacity: 0 !important; /* 0/1 to turn on/off */
}

::-webkit-scroll-thumb {
   background-color: #282828 !important;
   border-radius: 0px !important;
   border: 0px !important;
}

.chatWindow .chatHeader {
   background: rgb(var(--header)) !important;
   min-height: 4px !important; /* 1 or 2 pixels */
}

.chatWindow {
   background: rgb(var(--friendlist)) !important;
}

.chatWindow .chatEntry {
   background-color: rgb(var(--scrollbar)) !important;
   height: 44px !important;
}

.chatEntry {
    padding-bottom: 4px !important;
}

.emoticon_EmoticonSelector_177nw {
    max-width: 375px !important;
}

.chatWindow .chatEntryControls {
   background-color: #2e2e2f !important;
   border-radius: 4px !important;
}

.chatentry_chatEntryControls_2O_X7 {
    border-radius: 4px !important;
    background-color: rgb(var(--header)) !important;
    box-shadow: none !important;
}

.VoiceToggle {
   background: transparent !important;
   border-radius: 4px !important;
   border: 0px !important;
   max-height: 40px !important;
}

.ChatMessageEntryVoice {
    border-radius: 4px !important;
    box-shadow: none !important;
    background: none !important;
    background-color: none !important;
    margin-top: -2px !important;
    max-height: 40px !important;
}

.ChatMessageEntryVoice.Disabled {
   border: 0px !important;
   outline: 0px !important;
   margin-top: -2px !important;
   max-height: 40px !important;
}

.chatentry_chatTextarea_3e__5 {
    min-height: 42px !important;
    max-height: 200px !important;
}

.chatentry_chatEntryActionsGroup_15mWd {
    border-radius: 4px !important;
    box-shadow: none !important;
    background-color: transparent !important;
    margin-right: -20px !important;
}

.chatentry_chatSubmitButton_3VRfL.chatentry_EmoticonPickerButton_3fgX0, .chatentry_chatSubmitButton_3VRfL.chatentry_EmbedButton_1vvRh {
    background-color: transparent !important;
    border: 0px !important;
    right: 7px !important;
    margin-top: -2px !important;
    max-height: 40px !important;
}

.chatentry_chatSubmitButton_3VRfL.chatentry_disabled_2p2vW{
    background-color: transparent !important;
    border: 0px !important;
    display: none !important;
    margin-top: -2px !important;
    max-height: 40px !important;
}

.chatentry_chatSubmitButton_3VRfL{
    background-color: transparent !important;
    max-height: 40px !important;
    border: 0px !important;
    margin-top: 0px !important;
}

.VoiceToggleIconCtn {
    top: 5px !important;
}

.emoticon_NewEmoticonIndicator_3NVON {
    background: darkred !important;
    top: 41px !important;
    right: 0px !important;
    left: 0px !important;
    height: 1px !important;
    bottom: 0px !important;
}

.emoticon_NewEmoticonIndicator_3NVON .emoticon_NewEmoticonCircle_3mNrG {
    display:none!important;
}

/** Group BUTTON CSS **/
/* changes color of background of groups button */
.friendsListSectionTitle {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: rgb(var(--footer)) !important;
}

/* friends removing height */
.friendlistListContainer {min-height: 0px !important;
}

/* remaking heights */
.chatRoomListContainer[style*="height: 150px; max-height: 222px; min-height: 0px;"] {
    height: 900px !important;
    max-height: 900px !important;
}

.chatRoomListContainer {
    z-index: 20;height: 900px!important;
    max-height: 900px !important;
    width: 100% !important;
}

/* little arrow for groups making selectable area bigger */
.ToggleGroupChatList {
    display: inline-block!important;
    position: relative !important;
    z-index: 11 !important;
    padding-right: 27em !important;
    margin-right: -27em !important;
}

/* hidding little arrow */
.ToggleGroupChatList .SVGIcon_DoubleArrow polyline {
    visibility: hidden !important;
}

/* makes groups be able to uncollapse to height 0 */
.chatRoomListContainer[style="height: 0px; max-height: 0px; min-height: 0px;"] {
    height: 0px !important;
    max-height: 0px !important;
    min-height: 0px !important;
}

/* add hover effect when hovering group invites */
.clanInviteContainer:hover {
    background-color: #131313 !important;
}
  
.activeTab {
    background-color: rgb(var(--header)) !important;
    box-shadow: none !important;
}

.friendSearchInput[type="text"] {
    background-color: rgb(var(--header)) !important;
    padding-left: 12px !important;
    border-radius: 50px !important;
    box-shadow: none !important;
    background-image: none !important;
}

.friendSearchInput {
    padding-left: 12px !important;
}

.chatRoomListContainer {
    background: rgb(var(--footer)) !important;
    transition: all .5s ease-in-out !important;
}

.socialListTab .tabLabel {
    color: rgb(var(--text)) !important;
}

.friendsListSectionTitle.chatSectionTitle .groupChatSectionTitle{
    color: rgb(var(--text))
}

.friend.quickAccessFriend .playerNameQuickAccessContainer .playerName{
    color: rgb(var(--text))
}

.socialListTab {
    background: rgb(var(--friendlist)) !important;
}

.activeTab .TabSearchButton:hover {
    background: rgb(var(--header)) !important;
}

.ExpandPlusMinus {
    display: none !important;
}

/* Chat Body */

.gameGroup:not(.OtherGamesGroup):not(.NonSteamGamesGroup) .gameGroupContainer {
    /* display: none !important; */
    margin-right: -10px !important;
}

.friendGroup .groupName .groupCount {
    opacity: 1 !important;
    color: rgb(var(--icon)) !important;
    margin-top: 1px !important;
    transform: none !important;
}

.friendGroup.offlineFriends .groupName .groupCount, .friendGroup.onlineFriends .groupName .groupCount, .friendGroup .groupName .groupCount.collapsed {
    display: none !important;
}

.friendGroup .groupName {
    margin-left: 12px !important;
    margin-top: 4px !important;

}

.SteamPlayerGroupFooterCount .count {
    margin-top: -40px !important;
    margin-left: -45px !important;
    display: none !important;
}

.friend.firstInGroup .SteamPlayerGroupLines, .friend.inGroup .SteamPlayerGroupLines, .friend.lastInGroup .SteamPlayerGroupLines, .SteamPlayerGroupFooter .SteamPlayerGroupLines {
    display: none !important;
}

.friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter, .friendGroup.gameGroup:not(.OtherGamesGroup) .friend {
    padding: 2px 0px 6px 12px !important;
}

/* Chat windows avatars */

.chatTab .avatarHolder {
    width: 25% !important;
    transform: scale(0.86, 0.86) translateX(0px) !important;
}

.chatTab:not(.active) .ChatTabContent .avatarHolder .avatar {
    border-radius: 40px !important;
}

.ChatTabs.compactView .ChatTabContent .avatarHolder .avatar {
    width: 42px !important;
}

.ChatTabContent .avatarHolder .avatarStatus {
    height: 12px !important;
    width: 13px !important;
    border-radius: 40px !important;
    margin-top: -12px !important;
    margin-left: 31px !important;
}

.friend .avatarHolder img.avatar {
    border: 1px solid rgb(var(--friendlist)) !important;
    box-shadow: none !important;
    border-radius: 40px !important;
}

.friendGroup.taggedGroup, .friendGroup.gameGroup {
    border-top: 0px solid rgba(143, 143, 143, 0.25) !important;
    margin-top: 0px !important;
}

.ChatRoomGroupAvatar {
    border-radius: 40px !important;
    border: 2px solid #2e2e2f !important;
    background-color: none !important;
    box-shadow: none !important;
}

.chatTab .chatTabHighlight {
    background: none !important;
}

.chatTabList .chatTab, .ChatTabsBackButton {
    border-radius: 4px !important;
    margin-left: 2px !important;
    height: 44px !important;
    border: 0px !important;
    background: rgb(var(--friendlist)) !important;
}

.chatTabClose:hover {
    border-radius: 10px !important;
    background: red !important;
}

.chatTabList .chatTab:not(.active) {
    box-shadow: inset 0px -2px 3px #00000025 !important;
}

.chatRoomGroupHeader {
    border-bottom: 0px solid rgba(23, 24, 29, 0.75) !important;
}

.chatRoomMembers {
    user-select: none;
    height: 2000px !important;
    border-left: 0px solid #22252b !important;
    border-right: 0px solid rgba(34, 37, 43, 0) !important;
}

.inputContainer {
    border-radius: 4px !important;
    overflow: visible !important;
}

.displayRow {
    height: 100% !important;
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView {
    box-shadow: none !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel {
    box-shadow: none !important;
    border-radius: 4px !important;
}

.activeVoiceControls {
    background: rgb(var(--friendlist)) !important;
    border-top: 1px solid rgb(var(--friendlist)) !important;
    border-bottom: 1px solid rgb(var(--friendlist)) !important;
    border-image: none !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat {
    border-left: 0px !important;
    border-radius: 4px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel {
    border-left: 0px !important;
}

.ChatRoomListGroupItem .chatRoomVoiceChannel.ActiveVoiceChannel .chatRoomTextChannel {
    bottom: 1px !important;
    border-radius: 4px !important;
}

/* Avatar Status */

/* QuickAccess avatar status  */
.friend.quickAccessFriend .avatarHolder .avatarStatus {
    border-radius: 40px !important;
    margin-top: -13px !important;
    margin-left: 35px !important;
    height: 12px !important;
    width: 12px !important;
    z-index: 1 !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

/* Compact friend spacing */
.CompactFriendsList .friend, .CompactFriendsList .friendGroup .friend {
    height: 30px !important;

}

/* Compact game name spacing */
.CompactFriendsList .friendlistListContainer .friend.ingame .labelHolder {
    margin-top: -4px !important;
}

/* Compact QuickAccess avatar status  */
.compactQuickAccess .friend.quickAccessFriend .avatarHolder .avatarStatus {
    border-radius: 40px !important;
    margin-top: -13px !important;
    margin-left: 15px !important;
    height: 12px !important;
    width: 12px !important;
    z-index: 1 !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--header)) !important;
}

/* Online */
.friend.online .avatarHolder .avatarStatus {
    background: rgb(var(--online)) !important;
    border-radius: 40px !important;
    top: 23px !important;
    bottom: 0px !important;
    left: 21px !important;
    right: 0px !important;
    height: 12px !important;
    width: 12px !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

/* ingame */
.friend.ingame .avatarHolder .avatarStatus {
    border-radius: 40px !important;
    top: 23px !important;
    bottom: 0px !important;
    left: 21px !important;
    right: 0px !important;
    height: 12px !important;
    width: 12px !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

/* Golden */
.friend.golden .avatarHolder .avatarStatus {
    border-radius: 40px !important;
    top: 23px !important;
    bottom: 0px !important;
    left: 21px !important;
    right: 0px !important;
    height: 12px !important;
    width: 12px !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

/* Streaming */
.friend.watchingbroadcast .avatarHolder .avatarStatus {
    border-radius: 40px !important;
    top: 23px !important;
    bottom: 0px !important;
    left: 21px !important;
    right: 0px !important;
    height: 12px !important;
    width: 12px !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

/* Away */
.friend.awayOrSnooze .avatarHolder .avatarStatus {
    -webkit-mask: none !important;
    -webkit-mask-size: 0px !important;
    mask: none !important;
    mask-size: 0px !important;
    border-radius: 40px !important;
    top: 23px !important;
    bottom: 0px !important;
    left: 21px !important;
    right: 0px !important;
    height: 12px !important;
    width: 12px !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

/* Offline */
.friend.offline .avatarHolder .avatarStatus {
    background: #7a7a7a !important;
    border-radius: 40px !important;
    top: 23px !important;
    bottom: 0px !important;
    left: 21px !important;
    right: 0px !important;
    height: 12px !important;
    width: 12px !important;
    z-index: 1 !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

/* Compact avatar status. */
.CompactFriendsList .friend .avatarHolder .avatarStatus {
    border-radius: 40px !important;
    top: 14px !important;
    bottom: 0px !important;
    left: 14px !important;
    right: 0px !important;
    height: 10px !important;
    width: 10px !important;
    border: 2px !important;
    border-style: solid !important;
    border-color: rgb(var(--friendlist)) !important;
}

/* compact game icon */

.CompactFriendsList .friendlistListContainer .friendGroup.gameGroup .friend {
    padding: 4px 0px 4px 15px !important;
}

.CompactFriendsList .FriendInGameIcon {
    display: none !important;
}

.FriendInGameIcon {
    display: none !important;
}

.ChatTabs.compactView .ChatTabContent.ChatRoom .ChatRoomMultiFriendAvatar, .ChatTabs.compactView .ChatTabContent.ChatRoom .ChatRoomGroupAvatar {
    margin-top: 0px !important;
}

.ChatTabs.compactView .chatTabGroupName {
    margin-top: 5px !important;
}

.chatTabGroupName {
    margin-top: 3px !important;
}


/* END */

/* ------------------------------------------------------------------- */

/* SETTINGS */

/* Side Panel Background */
.PagedSettingsDialog_PageListColumn {
    background: rgb(var(--header)) !important;
}

/* Background */
.DialogContent, .DialogContentTransition {
    background: rgb(var(--friendlist)) !important;
}

/* Shadows */
.ModalDialogPopup .DialogContentTransition .DialogBody {
    -webkit-mask: none !important;
    mask: none !important;
}

/* Menus color */
._DialogInputContainer {
    background: rgb(var(--header)) !important;
    color: #dfe3e6 !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
}

/* Shadow in Buttons */
button.DialogButton.Secondary.Off {
    box-shadow: none !important;
    border-radius: 4px !important;
}

/* Selected Button */
button.DialogButton.Primary {
    border-radius: 4px !important;
}

/* Friend Settings Notifications Row */
.FriendsSettingsNotificationRow {
    background-color: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

/* notification Check Boxes */
.DialogCheckbox {
    box-shadow: none !important;
    border-radius: 4px !important;
}

/* changes background color for buttons */
.FriendsSettingsFlashSection_ButtonRow {
    background-color: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

/* Adds a Background for buttons */
.FriendsSettingsChatFontSizeSection_ButtonRow {
    background-color: rgb(var(--header)) !important;
    padding: 8px 8px !important;
    border-radius: 4px !important;
}

/* removes overlapping background on voice */
.voiceMicTestContainer {
    background-color: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

/* background voice avatar */
.voiceSelfDirections {
    background-color: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

/* Slider Background */
.DialogSlider_Slider {
    border: 0px !important;
    box-shadow: none !important;
}

/* Removes Voice Transmission Type background */
.FriendsSettingsVoiceTransmissionType_ButtonRow {
    background-color: rgb(var(--friendlist)) !important;
}

/* Changes postition background mute toggle hotkey */
._DialogSection.pushToTalkSection .pushToKeyAssignContainer.showPTTOptions {
    margin-top: 10px !important;
}

/* Changes position checkbox microphone toggle */
.DialogCheckbox_Container {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
}

/* none button for voice */
._DialogSection.pushToTalkSection .pushToKeyAssignContainer .DialogButton, ._DialogSection.pushToTalkSection .pushtoTalkKeyAssignContainer .DialogButton {
    border-radius: 4px !important;
}

/* removes shadows from all buttons */
button.DialogButton::before {
    border-radius: 4px !important;
    box-shadow: none !important;
}

/* Advanced Button */
.VoiceSettings .advancedSettingsButton {
    border-radius: 4px !important;
}

/* Advanced Expanded background */
.VoiceSettings .advancedSettings.showAdvanced {
    border-radius: 4px !important;
    background: rgb(var(--header)) !important;
}

/* copy voice clipboard button */
button.DialogButton.copyVoiceLogsButton {
    border-radius: 4px !important;
}

/* removes Avatar status in settings */
.voiceSelfHeader .friend .avatarHolder .avatarStatus {
    display: none !important;
}

/* EDIT NICKNAME */

/* Buttons Shape */
.DialogTwoColLayout > ._DialogLayout {
    border-radius: 4px !important;
}

/* Avatar */
.Dialog_EditNickName .friend .avatarMedium, .Dialog_ChangePersonaName .friend .avatarMedium {
    box-shadow: none !important;
    border-radius: 40px !important;
}

/* Search */
._DialogTextInputBase:focus {
    background: rgb(var(--footer)) !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}

._DialogTextInputBase:not( disabled ):hover {
    border-radius: 4px !important;
}

._DialogTextInputBase, ._DialogInputContainer {
    background: rgb(var(--header)) !important;
    border-radius: 4px !important;
    box-shadow: none !important;
}

/* CATEGORIZE */

.DialogCheckbox_Container:hover .DialogCheckbox,
.DialogCheckbox:hover:not( .Disabled ) {
	background-color: rgb(var(--header)) !important;
}

/* Avatar Background */
.AssignCategoriesDialog_Friend {
    background: #2e2e2f !important;
    border-radius: 4px !important;
}

/* CATAGORY MANAGE/CREATE */

/*Friend Picker Background */
.FriendPicker_Suggestions {
    background-color: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

/* removes all inside shadows */
.insetShadow {
    background: none !important;
}

/* Friend hover background */
.FriendPicker_SuggestedFriend {
    border-radius: 4px !important;
}

/* mini profile */

.miniprofile_avatarStatus {
    display: none !important;
}

.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileGameContainer_2FyZH .miniprofile_gameLogo_2B0di {
    border-radius: 4px !important;
}

.miniprofile_miniProfileContent_25Sge .miniprofile_playerAvatar_1dzWG img {
    border-radius: 50px !important;
}

.miniprofile_miniProfileContent_25Sge .miniprofile_playerAvatar_1dzWG{
    border-radius: 50px !important;
}

.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileHeader_3oBIW {
    background: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

.miniprofile_miniProfileBackground_3gfFJ {
    background: rgb(var(--header)) !important;
    border-radius: 4px !important;
}

.miniprofile_miniProfileContent_25Sge.miniprofile_notInOrWatchingGame_3AIC2 .miniprofile_miniProfileBottom_3Agb6,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileGameContainer_2FyZH {
    background: transparent !important;
    top: 10px !important;}

.miniprofile_miniProfileBackgroundBlur_G000o {
    display: none !important;
}
      
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.in-game .miniprofile_personaName_W3QjS:not(.miniprofile_hasNickname_dgG-l) .miniprofile_personaNameLabel_390p4,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.in-game .miniprofile_personaName_W3QjS.miniprofile_nickName_2E8Iz .miniprofile_personaNameLabel_390p4 {
    color: rgb(var(--ingame)) !important;
    border-radius: 4px !important;
}
    
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.online .miniprofile_personaName_W3QjS:not(.miniprofile_hasNickname_dgG-l) .miniprofile_personaNameLabel_390p4,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.online .miniprofile_personaName_W3QjS.miniprofile_nickName_2E8Iz .miniprofile_personaNameLabel_390p4 {
    color: rgb(var(--online)) !important;
    border-radius: 4px !important;
}
    
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.miniprofile_online_3Bk5s .miniprofile_nickname_1W3dU,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.miniprofile_online_3Bk5s .miniprofile_persona_1Z3Ey,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.online .miniprofile_playerContent_PV11V .miniprofile_awayStatusLabel_2UzRy {  
    color: rgb(var(--online)) !important;
    border-radius: 4px !important;
}
    
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.online .miniprofile_avatarStatus_23H45.miniprofile_miniProfileAvatarStatus_1VgK8 {
    background: rgb(var(--online)) !important;
    border-radius: 4px !important;
}
      
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.in-game .miniprofile_avatarStatus_23H45.miniprofile_miniProfileAvatarStatus_1VgK8 {
    background: rgb(var(--ingame)) !important;
    border-radius: 4px !important;
}

.miniprofile_miniProfile_s5zcg{
    border: 0px solid black !important;
    border-radius: 4px !important;
}

/* context menu's */

.contextmenu_contextMenuItem_CBC-y {
    border-top: 0px !important;
    background:rgb(var(--header)) !important;
}

.contextmenu_contextMenuItem_CBC-y:hover{
    background: rgb(var(--friendlist)) !important;
    border-radius: 4px !important;
}

.contextMenuGameTitle{
    background:rgb(var(--header)) !important;
}

.contextMenuSectionContent{
    background:rgb(var(--header)) !important;
}

.contextmenu_contextMenu_3_a2Z{
    background: rgb(var(--header)) !important;
}

:not(.friendInviteContainer) .online .ContextMenuButton .SVGIcon_DownArrowContextMenu {
    fill: rgb(var(--icon)) !important;
}

.ContextMenuButton .SVGIcon_DownArrowContextMenu {
    padding-left: 0px !important;
    padding-top: 6px !important;
}

.ContextMenuButton {
    margin-left: 5px !important;
}

.contextMenu {
	border: none !important;
    background: radial-gradient(ellipse farthest-corner at 50% 0%, #1a1a1a 0%, #1a1a1a 50%, #1a1a1a 100%) !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}

.contextMenu .contextMenuItem:hover, .contextMenu .contextMenuItem.active {
    background: #272727 !important;
    border-radius: 4px !important;
}

.contextMenu .contextMenuItem {
    border-top: 0px !important;
}

.contextMenuContents.ChatTabs.compactView .ChatTabContent .avatarHolder .avatar {
    height: 42px !important;
}
  
.contextMenuContents.ChatTabs .ChatTabContent .avatarHolder {
    height: 42px !important;
} 

.contextMenuContents.ChatTabs .contextMenuItem {
    min-height: 42px !important;
}

.contextMenuContents.ChatTabs.CompactFriendsList .friend .labelHolder {
    margin-top: 20px !important;
    margin-left: -2px !important; 
}

.contextMenuContents .chatTab .ChatTabContent {
    min-height: 50px !important;
}

.contextMenuContents.ChatTabs .ChatTabContent .avatarStatus {
    width: 13px !important;
    height: 13px !important;
    margin-left: 12px !important;
    margin-top: 18px !important;
}

.contextMenuContents.ChatTabs.CompactFriendsList .ChatTabContent .avatarStatus {
    width: 13px !important;
    height: 13px !important;
    margin-left: 12px !important;
    margin-top: 18px !important;
}

/* Chat Devider Fullscreen */
.singleWindowDivider {
    width: 1px !important;
    background-color: rgb(var(--header)) !important;
    min-width: 1px !important;
    border: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.chatDialogs {
    background: rgb(var(--friendlist)) !important;
}

/* QuickAcces Game Icon */
.FavoriteFriend_GameIcon {
    border-radius: 10px !important;
    bottom: 0px !important;
    right: 30px !important;
    width: 20px !important;
    height: 20px !important;
}

/* QuickAcces Game Icon */
.compactQuickAccess .FavoriteFriend_GameIcon {
    border-radius: 10px !important;
    bottom: 1px !important;
    right: 20px !important;
    width: 17px !important;
    height: 17px !important;
}
