/* button */ 
::-webkit-scrollbar-button {
	height: 25px!important; 
	border-radius: 0px!important; 
	background-color: #1a1a1f!important; 
	border: 0px solid #1e1e1f!important;
} 
::-webkit-scrollbar-button:hover { 
	background-color: #272727!important; 
}
/* button arrows scroll bar */
/* Down */
::-webkit-scrollbar-button:vertical:increment {
    display: none !important;
    background-image: none !important;
	background-repeat: no-repeat!important;
	background-position: -1px 2px!important;
}
/* Up */
::-webkit-scrollbar-button:vertical:decrement { 
    display: none !important;
    background-image: url(https://i.imgur.com/MTISXcR.png)!important;
	background-repeat: no-repeat!important;
	background-position: -1px 2px!important;
}
/* background behind scrollbar */
::-webkit-scrollbar-track {
	background-color: #1e1e1f!important;
}
/* thumb normal and hover state */
::-webkit-scrollbar-thumb {
	background-color: #1a1a1f!important;
    border: 0px solid #1e1e1f!important;
    border-radius: 4px!important;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #272727!important;
	border-radius: 4px!important;
}
/* makes scrollbar wider */
::-webkit-scrollbar {
    width: 18px!important;
}
/* disables scroll bar at settings */
.DialogBody::-webkit-scrollbar {
	display:none!important;
}

/* Chat */

html.client_chat_frame body, html.web_chat_frame body {
    background: #1e1e1f !important;
}

.title-area-highlight {
   height: 1px;
   background: red !important;
   -webkit-mask: none !important;
   opacity: 1 !important;
   transition: 0 !important;
   pointer-events: none;
   user-select: none;
   box-shadow: none !important;
}    

.SingleWindowFocusBar {
   width: 100%;
   height: 24px;
   background: none !important;
   -webkit-mask: none !important;
   position: absolute;
   top: 0;
   opacity: 0;
   pointer-events: none;
   user-select: none;
}

.currentUserAvatar {
   z-index: 100;
   position: relative;
   cursor: pointer;
   border-radius: 30px !important;
}

.currentUserContainer .labelHolder {
   margin: 0px 0px 0px 8px;
   min-width: 0;
   flex-shrink: 1;
   margin-right: 84px;
   flex-direction: column;
   justify-content: flex-end;
   display: flex;
   margin-bottom: 5px !important;
}

.currentUserContainer {
border-bottom: 0px !important;
}

.friendListInsetShadowBottom {
background: 0px !important;
height: 16px;
position: absolute;
flex-shrink: 0;
bottom: 0px;
left: 0;
right: 0;
pointer-events: none;
}

.friendListInsetShadowTop {
background: none !important;
height: 26px;
position: absolute;
top: 0;
left: 0;
right: 0;
flex-shrink: 0;
z-index: 2;
}

.friendListInsetShadowBottom {
background: none !important;
height: 26px;
position: absolute;
top: 0;
left: 0;
right: 0;
flex-shrink: 0;
z-index: 2;
}

.singleWindowFocusBar {
width: 100%;
height: 24px;
background: none !important;
position: absolute;
top: 0;
opacity: 0;
transition: opacity .18s ease-in-out;
pointer-events: none;
user-select: none;
}

.friendGroup.taggedGroup, .friendGroup.gameGroup {
    border-top: 0.5px solid rgba(143, 143, 143, 0.25);
    margin-top: 0px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends {
border-top: 4px !important;
background: linear-gradient( to bottom, rgba( 72, 87, 112, 0.2 ) 0, rgba( 67, 73, 83, 0 ) 320px );
background: linear-gradient( to bottom, rgba( 72, 87, 112, 0.0 ) 0, rgba( 67, 73, 83, 0 ) 320px );
margin-top: 0px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends {
border-top: none !important;
background: linear-gradient( to bottom, rgba( 0, 0, 0, 0.4 ) 0, rgba( 67, 73, 83, 0 ) 320px );
background: linear-gradient( to bottom, rgba( 0, 0, 0, 0 ) 0, rgba( 67, 73, 83, 0 ) 320px );
margin-top: 0px !important;
}

.friendGroup.taggedGroup {
border-top: 0px !important;
}
.friendGroup.gameGroup {
border-top: 0px !important;
}

.friendGroup.gameGroup:not( .otherGamesGroup ) .friend {
padding: 2px 0px 2px 12px !important;
}

.friend .avatarHolder img.avatar {
border: 0px !important;
box-shadow: none !important;
border-radius: 30px !important;
margin-top: 2px !important;
}

.ChatTabContent .avatarHolder .avatar {
   width: 41px;
   height: auto;
   margin-top: 2px;
   margin-left: 5px;
}

.CompactFriendsList .friend .labelHolder {
    height: 24px;
    margin: 0px;
    margin-left: 18px !important;
    margin-top: 0px !important;
}


.ChatTabContent .avatarHolder .avatarStatus {
   display: block;
   position: absolute;
   right: 0px !important;
   top: 2px !important;
   bottom: 0px !important; 
   left: 35px !important;
   height: 0px !important;
   width: 0px !important;
   border-style: solid !important;
   border-radius: 40px !important;
   margin-top: 1px !important;
   z-index: 4;
}

.friendlistListContainer {
   position: relative;
   overflow-y: auto;
   overflow-x: hidden;
   scroll-behavior: smooth;
   flex-grow: 1;
   background: #1e1e1f !important;
   min-height: 32px;
}


.friendlistListContainer .friend .avatarHolder .avatarStatus {
   display: block;
   position: absolute;
   right: 0px !important;
   top: 3px !important;
   bottom: 0px !important; 
   left: 30px !important;
   height: 0px !important;
   width: 0px !important;
   border-style: solid !important;
   border-radius: 40px !important;
}

.CompactFriendsList .friend .avatarHolder img.avatar {
    height: 90% !important;
}

.ChatTabContent .avatarHolder .avatarStatus, .friend.quickAccessFriend .avatarHolder .avatarStatus {
    display: block;
    position: absolute;
    right: none !important;
    top: none !important;
    bottom: none !important;
    left: 23px !important;
    height: 0px !important;
    width: 0px !important;
    border-style: solid !important;
    border-radius: 40px !important;
}

.compactQuickAccess .FavoriteFriend_GameIcon {
    width: 17px !important;
    height: 17px !important;
    border-radius: 4px !important;
}

.CompactFriendsList .friend .avatarHolder .avatarStatus {
   display: block;
   position: absolute;
   right: none !important;
   top: none !important;
   bottom: none !important; 
   left: 27px !important;
   height: 0px !important;
   width: 0px !important;
   border-style: solid !important;
   border-radius: 40px !important;
}

.confirmInviteRequestContainer .confirmInviteButton
{
   flex: 1;
   text-align: center;
   background-color: #3d434d;
   color: #dfe3e6;
   padding: 4px;
   margin: 4px;
   font-size: 14px;
   transition: 0.2s all;
   cursor: pointer;
   border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends
{
   position: absolute;
   top: 4px;
   right: 10px;
   width: 24px;
   height: 24px;
   cursor: pointer;
   border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends .SVGIcon_Arrow polyline
{
   stroke: rgb( 218, 168, 31 );
   stroke-width: 20px;
   transition: all .21s ease-in-out;
   border-radius:  4px !important;
}

.confirmInviteRequestContainer .cancelAddFriends:hover .SVGIcon_Arrow polyline
{
   stroke: rgb( 252, 227, 160 );
   transform: translateY( -32px );
   border-radius:  4px !important;
}

.confirmInviteButton.dim
{
   cursor: default;
}

.confirmInviteRequestContainer .confirmInviteButton:hover
{
   color: white;
   background-color: #464d5a;
}

.confirmInviteRequestContainer
{
   display: flex;
   flex-direction: column;
   padding: 0 6px;
   border-radius:  4px !important;
}

.friendsTabButtonsContainer .TabSearchButton
{
   flex-grow: 1;
   cursor: text;
   display: flex;
   justify-content: flex-end;
   border-radius: 4px !important;
}

.currentUserAvatar:hover
{
   transform: scale(1.05);
   filter: none !important;
}

.singlewindow .currentUserContainer .labelHolder.twoLine .statusAndName,
.singlewindow .currentUserContainer .labelHolder.twoLine,
.currentUserContainer .labelHolder.twoLine
{
   margin-right: 10px;
   margin-top: 7px !important;
}

.friendListFooter {
   position: relative;
   min-height: 0px !important;
   background-color: none !important;
   flex-shrink: 0;
}

.window_resize_grip {
   background-image: none !important;
}

.titleBarContainer.ChatTabs {
   background: #1e1e1f !important;
}

.friendListHeaderContainer {
   background-color: #1E1E1F !important;
}

.statusHeaderGlow {
   position: absolute;
   opacity: 0 !important; /* 0/1 to turn on/off */
   transition: opacity .92s ease-in-out;
   pointer-events: none;
}

::-webkit-scroll-thumb {
   width: 10px;
   background-color: #282828 !important;
   border-radius: 0px !important;
   border: 0px !important;
}

.chatTabList .chatTab,
.ChatTabsBackButton
{
   display: flex;
   background: #2e2e2f !important;
   margin: 0px;
   margin-right: 4px;
   cursor: default;
   padding: 0px;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
   flex-direction: row;
   width: 180px;  /* update k_chatTabWidth in chattabs.tsx if this width changes */
   height: 43px;
   flex: 1;
   position: relative;
   overflow: hidden;
}

.chatWindow .chatHeader {
   flex-shrink: 0;
   background: #2e2e2f !important;
   min-height: 2px !important; /* 1 or 2 pixels */
}

.chatWindow {
   background: #1e1e1f !important;
}

.chatWindow .chatEntry {
   background-color: transparent !important;
}

.chatWindow .chatEntryControls {
   background-color: #2e2e2f !important;
   border-radius: 4px !important;
}

.chatEntryControls {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #1b1c20;
    box-shadow: none !important;
    outline-width: 0px;
    color: #aaa;
    border: 0px solid transparent;
    padding-right: 2px;
}

.VoiceToggle {
   background: #2e2e2f !important;
}

.ChatMessageEntryVoice {
    flex: 0;
    min-width: 46px;
    position: relative;
    color: #c9c9c9;
    margin: 0px;
    border-radius: 4px !important;
    margin-top: 0px;
    max-width: 46px;
    max-height: 50px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    box-shadow: #555 0px 0px 4px inset !important;
    transition-property: width, max-width, min-width, border-radius, background-position;
    transition-duration: .3s, .3s, .3s, .6s;
    background: none !important;
    background-position: -190px 0px;
    background-color: none !important;
    background-repeat: no-repeat;
    background-size: 256px 128px;
}

.ChatMessageEntryVoice.Disabled {
   border: 0px !important;
   outline: 0px !important;
}

.chatSubmitButton.disabled, .chatSubmitButton.EmbedButton,
.chatSubmitButton.EmoticonPickerButton {
   background: #2e2e2f !important;
}

.chatSubmitButton {
   border: 1px solid rgb( 27, 28, 32 );
   margin-top: 2px;
   border-radius: 4px !important;
}

.chatEntryActionsGroup {
    padding: 2px;
    border-radius: 4px !important;
    box-shadow: #555 0px 0px 4px inset !important;
    background-color: none !important;
    margin-left: 8px;
}

/** Group BUTTON CSS **/
/* changes color of background of groups button */
.friendsListSectionTitle {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #151515 !important;}
    /* friends removing height */
    .friendlistListContainer {min-height: 0px !important;}
    /* remaking heights */
    .chatRoomListContainer[style*="height: 150px; max-height: 222px; min-height: 0px;"] {height: 900px !important;max-height: 900px !important;}
    .chatRoomListContainer[style*="height: 150px; max-height: 222px; min-height: 0px;"] {height: 900px; max-height: 900px; min-height: 900px;}
    .chatRoomListContainer {z-index: 20;height: 900px!important;max-height: 900px !important;width: 100% !important;}
    /* little arrow for groups making selectable area bigger */
    .ToggleGroupChatList {display: inline-block!important;position: relative !important;z-index: 11 !important;right: 3px;padding-right: 27em !important;margin-right: -27em !important;}
    /* hidding little arrow */
    .ToggleGroupChatList .SVGIcon_DoubleArrow polyline {visibility: hidden !important;}
    /* makes groups be able to uncollapse to height 0 */
    .chatRoomListContainer[style="height: 0px; max-height: 0px; min-height: 0px;"] {height: 0px !important;max-height: 0px !important;min-height: 0px !important;}
    /* add hover effect when hovering group invites */
    .clanInviteContainer:hover {background-color: #131313 !important;}

    
.activeTab {
    background-color: #1e1e1f !important;
    box-shadow: none !important;
    color: #b7ccd5;
}

.friendSearchInput[type="text"] {
    width: 100%;
    height: 100%;
    background-color: #2a2a2a !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    border: 0px solid transparent;
    color: #555;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding-left: 24px;
    transition-property: background-position, box-shadow, background-color, color, padding;
    transition-duration: .32s;
    transition-timing-function: ease-in-out;
    background-image: none !important;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 6px 4px;
}

.chatRoomListContainer {
    background: #151515 !important;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .2s ease-in-out;
}

.socialListTab .tabLabel {
    opacity: 1;
    margin-left: -4px !important;
    transition: opacity .4s ease-in-out;
}

.CompactFriendsList .SteamPlayerGroupFooter .SteamPlayerGroupLines {
    height: 16px !important;
    margin-left: -40px !important;
}

.CompactFriendsList .friend, .CompactFriendsList .friendGroup .friend, .CompactFriendsList .friendGroup .SteamPlayerGroupFooter, .CompactFriendsList .friendGroup.gameGroup:not(.OtherGamesGroup) .friend {
    height: 40px !important;
    margin: 2px 0px 2px 0px;
    padding: 4px 0px 4px 12px;
    transition: all .21s ease-in-out;
}

.CompactFriendsList .friendlistListContainer .friendGroup.gameGroup .friend {
    padding: 4px 0px 4px 44px;
    height: 40px !important;
}

.friend.lastInGroup .SteamPlayerGroupLines, .SteamPlayerGroupFooter .SteamPlayerGroupLines {
    height: 24px;
    border-left: 1px solid #74859b;
    border-bottom: 1px solid #74859b;
    margin-top: -5px;
    border-bottom-left-radius: 6px;
    margin-left: -32px !important;
}

.friend.firstInGroup .SteamPlayerGroupLines, .friend.inGroup .SteamPlayerGroupLines, .friend.lastInGroup .SteamPlayerGroupLines, .SteamPlayerGroupFooter .SteamPlayerGroupLines {
    width: 0px !important;
    margin-left: 0px !important;
    border-width: 0px !important;
}

.friend.firstInGroup .SteamPlayerGroupLines {
    height: 0px !important;
    margin-top: 0px !important;
    border-left: 0px solid #74859b !important;
    border-top: 0px solid #74859b !important;
    border-top-left-radius: 0px !important;
}

.friend .avatarHolder, .SteamPlayerGroupFooter .SteamPlayerGroupFooterCount {
    height: 36px !important;
    margin: 0px 0px;
    transform: none !important;
    transition-property: transform;
    transition-duration: 0.34s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.19, 2.28);
    flex-direction: row;
    flex-shrink: 0;
}

.friendGroup .SteamPlayerGroupFooter {
    height: 16px;
    display: none !important;
    padding-top: 0;
}

.ExpandPlusMinus {
    width: 10px;
    display: none !important;
    height: 10px;
    min-width: 10px;
    margin-top: 3px;
    transition-property: transform, margin, opacity, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    color: #676666;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    margin-right: 3px;
    margin-left: 2px;
}

.gameGroup:not(.OtherGamesGroup):not(.NonSteamGamesGroup) .gameGroupContainer {
    background-color: #cde2;
    background-color: transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 40px;
    height: 26px;
    margin-right: 8px;
    display: none !important;
}

.friendGroup .groupName {
    color: #c5d6d4;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin-left: 12px !important;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.ChatRoomGroupAvatar {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #2e2e2f !important;
    background-color: none !important;
    box-shadow: none !important;
    overflow: hidden;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

.chatTab .chatTabHighlight {
    pointer-events: none;
    position: absolute;
    width: 180px;
    height: 16px;
    background: none !important;
    z-index: 0;
    mix-blend-mode: screen;
    transition: all .32s ease-in-out;
}

.chatTabList .chatTab, .ChatTabsBackButton {
    display: flex;
    background: #393e45;
    margin: 0px;
    margin-right: 4px;
    cursor: default;
    padding: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-direction: row;
    width: 180px;
    height: 44px !important;
    flex: 1;
    position: relative;
    transition-property: background-position, box-shadow, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    border: 0px solid black !important;
    border-bottom-width: 0px;
}

.chatTabList .chatTab:not(.active) {
    box-shadow: inset 0px -2px 3px #00000025 !important;
    background: #1c1f22;
}

.chatRoomGroupHeader {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-bottom: 0px solid rgba(23, 24, 29, 0.75) !important;
}

.chatRoomMembers {
    flex: 1;
    user-select: none;
    cursor: default;
    border-left: 0px solid #22252b !important;
    border-right: 0px solid rgba(34, 37, 43, 0) !important;
}

.inputContainer {
    margin: 0 6px 6px 6px;
    height: 24px;
    border-radius: 4px !important;
    overflow: visible !important;
}

.displayRow {
    display: flex;
    height: 100% !important;
    flex-direction: row;
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView {
    padding-top: 4px;
    box-shadow: none !important;
    background-color: #0002;
    padding-bottom: 4px;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel {
    box-shadow: none !important;
    border-radius: 4px !important;
    overflow: hidden;
}

.activeVoiceControls {
    background: #1e1e1f !important;
    border-top: 1px solid #1e1e1f !important;
    border-bottom: 1px solid #1e1e1f !important;
    border-image: none !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat {
    min-width: 48px;
    border-left: 0px !important;
    border-radius: 4px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel {
    min-width: 48px;
    position: absolute;
    bottom: 3px;
    right: 48px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-left: 0px !important;
}

.ChatRoomListGroupItem .chatRoomVoiceChannel.ActiveVoiceChannel .chatRoomTextChannel {
    bottom: 1px !important;
    border-radius: 4px !important;
}
