/* MINI PROFILES */

/* mini profile Background */
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileHeader_3oBIW,
.miniprofile_miniProfileBackground_3gfFJ {
  background: rgb(var(--header)) !important;
}

/* mini profile Background */
.miniprofile_miniProfileContent_25Sge.miniprofile_notInOrWatchingGame_3AIC2 .miniprofile_miniProfileBottom_3Agb6,
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileGameContainer_2FyZH {
  background: transparent !important;
}

/* mini profile Blur */
.miniprofile_miniProfileBackgroundBlur_G000o {
  display: none !important;
}
