/**
* Chat Tabs
* Tabs for each friend at the top of the chat window
*/

[class*='chattabs_ChatTab_'] {
  border-radius: $border-radius;
  padding-right: $padding;
}

.chatTabSetContainer [class*='chattabs_ChatTab_'][class*='chattabs_Active'] {
  background: rgb(var(--friendlist));
}

[class*='chattabs_ChatTab_']:hover:not([class*='chattabs_Active']) {
  background: rgb(var(--header)) !important;
}

/* Offline avatar filter */
[class*='chattabs_ChatTab_']:hover .friend.offline .avatarHolder .avatar,
[class*='chattabs_ChatTab_'][class*='chattabs_Active']
  .friend.offline
  .avatarHolder
  .avatar {
  filter: none;
}

/* Tab Close Button */
[class*='chattabs_CloseButton'] {
  padding: var(--padding-sm);
  transform: none;
}

[class*='chattabs_CloseButton']:hover {
  background: rgb(var(--close-button)) !important;
  border-radius: $border-radius-round !important;
}

[class*='chattabs_ChatTabContent_Friend'] {
  margin-right: $spacer-sm;
}

/* Group chat tab text colour */
[class*='chattabs_Active'] [class*='chattabs_ChatTabContent_ChatRoomName'] {
  color: rgb(var(--text));
}

[class*='chattabs_ChatTabContent_ChatRoomName'] {
  color: rgb(var(--listtext));
}

.ChatRoomMultiFriendAvatar {
  margin: 0;
}

/* ========================================================================== */

/* Style Chat Tab context menu - more friends drop down */

.ChatTabsContextMenu [class*='chattabs_ChatTab_'][class*='chattabs_Active'] {
  background: rgb(var(--header));
}

.ChatTabsContextMenu
  [class*='chattabs_ChatTab_'][class*='chattabs_Active']:hover {
  background: rgb(var(--friendlist));
}

.ChatTabsContextMenu [class*='friendsnooze_SnoozeContainer'] {
  display: none;
}

.ChatTabsContextMenu .ChatUnreadMessageIndicator {
  margin-left: 90% !important;
}

.ChatTabsContextMenu [class*='chattabs_CloseButton'] {
  height: 10px;
  width: 10px;
}

.ChatTabsContextMenu [class*='chattabs_ChatTab_'] {
  padding-left: $spacer-sm;
}

.ChatTabsContextMenu.CompactFriendsList .friend,
.ChatTabsContextMenu.CompactFriendsList .friendGroup .friend,
.ChatTabsContextMenu.CompactFriendsList .friendGroup .SteamPlayerGroupFooter,
.ChatTabsContextMenu.CompactFriendsList
  .friendGroup.gameGroup:not(.OtherGamesGroup)
  .friend {
  padding: 0;
}

.ChatTabsContextMenu
  [class*='chattabs_Active']
  [class*='chattabs_ChatTabContent_ChatRoomName'] {
  color: rgb(var(--listtext));
}

/* ========================================================================== */
