[class*='messages_MsgWithAddons'] {
  background-color: rgb(var(--friendlist)) !important;
  margin-top: 2px;

  [class*='reactions_MessageReactions'] {
    [class*='reactions_MessageReaction'] {
      background-color: rgb(var(--friendlist)) !important;
      border: 0;
      border-radius: 0;

      &:hover {
        box-shadow: 0 $border-width-sm 0 0 rgb(var(--close-button));
      }
    }

    [class*='reactions_OpenPickerButton'] {
      opacity: 1;

      path {
        stroke: rgb(var(--icon));
      }

      ellipse {
        fill: rgb(var(--icon));
      }

      &:hover {
        path {
          stroke: rgb(var(--iconhover));
        }

        ellipse {
          fill: rgb(var(--iconhover));
        }
      }
    }
  }

  [class*='messages_Addons'] {
    background-color: rgb(var(--header)) !important;
    border: 1px solid rgb(var(--friendlist)) !important;

    [class*='messages_Emoticon'] {
      stroke: rgb(var(--icon));

      path {
        stroke: rgb(var(--icon));
      }

      ellipse {
        fill: rgb(var(--icon));
      }

      &:hover {
        stroke: rgb(var(--iconhover));

        path {
          stroke: rgb(var(--iconhover));
        }

        ellipse {
          fill: rgb(var(--iconhover));
        }
      }
    }
  }
}
