.friendsui-container {
  /* Avatar Status Glow */
  .statusHeaderGlow {
    opacity: 0.4;
  }

  $selectors: ('.statusHeaderGlow');

  @mixin style-with-parent($parent, $selector, $color) {
    #{$parent} #{$selector} {
      stop:first-child {
        stop-color: rgb(var(#{$color}));
        stop-opacity: 0.4;
      }

      stop:last-child {
        stop-color: rgb(var(#{$color}));
      }
    }
  }

  @each $selector in $selectors {
    @include style-with-parent("[class*='ingame']", $selector, --ingame);
    @include style-with-parent("[class*='online']", $selector, --online);
    @include style-with-parent("[class*='offline']", $selector, --offline);
    @include style-with-parent("[class*='away']", $selector, --away);
  }
}
