/* --------------------------------------------------------------
FRIENDLIST
-------------------------------------------------------------- */

/* chat tab open friends list */
.chatTabOpenFriendsList {
  background-color: rgb(var(--friendlist)) !important;
  border-radius: var(--border-radius) !important;
  height: 44px !important;
}

/* chat tab open friends list hover */
.chatTabOpenFriendsList:hover {
  background-color: rgb(var(--buttonOn)) !important;
}

/* icon button color */
.SVGIcon_Button {
  fill: rgb(var(--icon)) !important;
}

.SVGIcon_Button:hover {
  fill: rgb(var(--iconhover)) !important;
}

/* icon settings color */
.friendSettingsButton .SVGIcon_Settings {
  fill: rgb(var(--icon)) !important;
}

.friendSettingsButton .SVGIcon_Settings:hover {
  fill: rgb(var(--iconhover)) !important;
}

/* position modal topbar */
.ModalPosition_TopBar {
  display: none;
}

/* background friendlist */
.friendlistListContainer {
  background: rgb(var(--friendlist)) !important;
  min-height: 0 !important;
  padding-top: 4px;
}

/* Fixes issue with compact friendlist collapsing */
.personanameandstatus_compactView_2PCWF .personanameandstatus_playerName_1uxaf,
.personanameandstatus_compactView_2PCWF
  .personanameandstatus_playerNickname_3-32P {
  margin-bottom: 0;
}

/* Friend Game Icon FriendList */
.FriendInGameIcon {
  display: none !important;
}

/* ========================================================================== */

/* Compact game name spacing */
.CompactFriendsList .friendlistListContainer .friend.ingame .labelHolder {
  margin-top: -4px !important;
}

/* Hides lines between group names on friendlist */
.SteamPlayerGroupLines {
  border-color: rgb(var(--icon)) !important;
}

.CompactFriendsList .SteamPlayerGroupFooterLabel {
  align-self: end;
}

/* GroupChat members list crown fixes */

/* ================================== */
.MemberListColumn .friend .chatMemberFriendIcon svg {
  bottom: 0;
  left: -5px;
  top: 9px;
}

.MemberListColumn .friend .rankIcon.isFriend .SVGIcon_Crown {
  margin-top: 0;
}

.ChatSpeaker.ChatRoomSpeaker .speaker .rankIcon > *,
.MemberListColumn .friend .rankIcon > * {
  left: -3px;
  margin-top: 0;
  top: 0;
}

.CompactFriendsList .friend .labelHolder {
  margin-top: 0;
}

/* ================================== */

.avatarStatus {
  transition: none !important;
}

.steamavatar_avatar_f2laR {
  border: 0;
  height: 100%;
  width: auto;
}

.SVGIcon_VoiceRoom .Microphone {
  fill: rgb(var(--footer));
}

.groupHeaderContainer .SortByRecent .SVGIcon_SortBy {
  stroke: rgb(var(--icon));
}

.groupHeaderContainer .SortByRecent:hover .SVGIcon_SortBy {
  stroke: rgb(var(--iconhover));
}

.SteamPlayerGroupFooterLabel {
  color: rgb(var(--ingame));
}

.DialogInput {
  border: 0;
}

.DialogTextInputBase,
._DialogInputContainer {
  color: rgb(var(--text));
}

.friend .labelHolder {
  height: auto;
}

.friendlistListContainer .friend.ingame .labelHolder {
  margin-top: 0;
}
