/* unread message on friendlist */
.unreadMessageViolator {
  background: rgb(var(--header)) !important;
  border: 0 !important;
  border-radius: 40px !important;
  color: rgb(var(--unreadmessage)) !important;
  height: 20px !important;
  line-height: 20px !important;
  margin-bottom: 4px !important;
  margin-top: 5px !important;
  width: 150px !important;
}

/* unread message count */
.unreadFriend .FriendMessageCount {
  background: transparent !important;
  border-radius: 40px !important;
  box-shadow: 0 0 14px 1px rgba(var(--unreadmessage), 0.5);
  color: rgb(var(--unreadmessage)) !important;
  padding: 0;
  top: 0;
}

/* Trade offer message arrow */
.TradeOffer_NoteFromFriend_QuoteArrow {
  display: none !important;
}

/* Trade offer message */
.TradeOffer_NoteFromFriend {
  background-color: rgb(var(--header)) !important;
  border: 0 !important;
}

/* confirm friend request button */
.confirmInviteRequestContainer .confirmInviteButton {
  border-radius: $border-radius !important;
}

/* cancel addfriend button */
.confirmInviteRequestContainer .cancelAddFriends {
  border-radius: $border-radius !important;
}

/* icon cancel addfriends polyline */
.confirmInviteRequestContainer .cancelAddFriends .SVGIcon_Arrow polyline {
  border-radius: $border-radius !important;
}

/* icon cancel addfriends hover polyline */
.confirmInviteRequestContainer .cancelAddFriends:hover .SVGIcon_Arrow polyline {
  border-radius: $border-radius !important;
}

/* Confirm invite request container */
.confirmInviteRequestContainer {
  border-radius: $border-radius !important;
}

/* add hover effect when hovering group invites */
.clanInviteContainer:hover {
  background-color: rgb(var(--header)) !important;
}

/*
Position of New Message Group Chat in the Footer
Remove default effect
*/
.ChatUnreadMessageIndicator {
  align-items: center !important;
  background: none !important;
  display: flex !important;
  height: 100% !important;
  left: 0 !important;
  padding-left: 3px;
  top: 0 !important;
}

.ChatRoomList .ChatUnreadMessageIndicator {
  position: relative;
}

/* Unread New Message Group Chat in the Footer */
.chatUnreadCircle,
.chattabs_UnreadCircle_2goOD {
  /* Glowing icon */
  background: rgb(var(--unreadmessage)) !important;
  border: $border-width-sm solid rgb(var(--unreadmessage)) !important;
  border-radius: 100% !important;
  bottom: unset;
  box-shadow: 0 0 10px 3px rgb(var(--unreadmessage));
  color: transparent !important;
  display: block !important;
  height: 2px !important;
  margin: 0;
  position: relative;
  right: unset;
  width: 2px !important;
}

.UnreadGlow {
  display: none !important;
}

.chatTab .chatTabUnreadBadge,
.FriendMessageCount {
  background: rgba(var(--unreadmessage), 0.2);
  border-radius: 50%;
  color: rgb(var(--unreadmessage));
  height: 22px;
  padding: 0;
  text-align: center;
  width: 22px;
}

.ChatTabsContextMenu.compactView
  .ChatTabContextMenuItem
  .TabRightContainer
  .chatTabUnreadBadge::before {
  background-color: rgb(var(--unreadmessage));
}

.ChatTabsContextMenu.compactView
  .ChatTabContextMenuItem
  .TabRightContainer
  .chatTabUnreadBadge {
  bottom: 50%;
  height: 16px;
  margin-right: 4px;
  margin-top: -8px;
  top: 50%;
}

.ScrollToBottomButton.UnreadMessages > span {
  color: rgb(var(--unreadmessage));
}

.chattabs_UnreadGlow_30PFd {
  background: none;
  bottom: unset;
  height: auto;
  left: 0;
  position: absolute;
  right: unset;
}
