.quickAccessFriends {
  .quickAccessFriend {
    /* Hide name in QuickAccess as generally does not fit */
    .playerNameQuickAccessContainer {
      display: none !important;
    }
    /* Away or snooze is never transparent */
    &.awayOrSnooze .avatarHolder img {
      opacity: 1 !important;
    }
    /* Enlarge on hover */
    .avatarHolder:hover {
      transform: scale(1.05, 1.05);
    }
  }
  /* Adjust removal of name */
  .favoriteElement {
    height: auto !important;
  }

  .ChatUnreadMessageIndicator .chatUnreadCircle {
    bottom: -60% !important;
    box-shadow: 0 0 14px 1px rgb(var(--unreadmessage)),
      0 0 32px 1px rgb(var(--unreadmessage));
    margin: 0 auto;
    position: relative;
    right: 0 !important;
    z-index: 3;
  }
}
