$selectors: (
  "[class*='personanameandstatus' ]",
  "[class*='miniprofile_awayStatusLabel' ]",
  "[class*='miniprofile_personaNameLabel' ]",
  "[class*='miniprofile_richPresence' ]",
  "[class*='friendsnooze_SnoozeZ' ]",
  "[class*='personanameandstatus' ] path",
  '.speakerName',
  '.SVGIcon_MobilePhone path'
);

@mixin style-with-parent($parent, $selector, $color) {
  #{$parent} #{$selector} {
    color: rgb(var(#{$color})) !important;
    fill: rgb(var(#{$color})) !important;
  }
}

@each $selector in $selectors {
  @include style-with-parent("[class*='ingame']", $selector, --ingame);
  @include style-with-parent("[class*='online']", $selector, --online);
  @include style-with-parent("[class*='offline']", $selector, --offline);
  @include style-with-parent("[class*='away']", $selector, --away);
  @include style-with-parent(
    "[class*='watchingbroadcast']",
    $selector,
    --watching
  );
  @include style-with-parent(
    ".ingame[class*='away']",
    $selector,
    --away-in-game
  );
}

/* nickname color */
[class*='personanameandstatus_playerNickname'] {
  color: rgb(var(--nickname)) !important;
}

/* friend request icon */
.friendRequestButton {
  .SVGIcon_FriendRequest {
    .friendBodyFull,
    .friendHead,
    .friendArm,
    .friendBody {
      fill: rgb(var(--icon)) !important;
    }
  }

  &:hover .SVGIcon_FriendRequest {
    .friendBodyFull,
    .friendHead,
    .friendArm,
    .friendBody {
      fill: rgb(var(--iconhover)) !important;
    }
  }
}

.friendStatusHover {
  &:not(.quickAccessFriend):hover,
  &.Friend_ContextMenuActive {
    background-color: rgb(var(--header)) !important;
  }
}

/* remove steam opacity on away user */
.friend.awayOrSnooze,
.friend.awayOrSnooze .labelHolder {
  filter: none !important;
  opacity: 1 !important;
}
