/* color for ingame status */
.ingame [class*='personanameandstatus'] {
  color: rgb(var(--ingame)) !important;
  fill: rgb(var(--ingame)) !important;
}

/* color for online status */
.online [class*='personanameandstatus'],
.online [class*='personanameandstatus'] path {
  color: rgb(var(--online)) !important;
  fill: rgb(var(--online)) !important;
}

/* color for offline status */
.offline [class*='personanameandstatus'] {
  color: rgb(var(--offline)) !important;
  fill: rgb(var(--offline)) !important;
}

/* color for away status */
.awayOrSnooze [class*='personanameandstatus'],
.awayOrSnooze [class*='personanameandstatus'] path,
/* zzz icon */
[class*='friendsnooze_SnoozeZ'] {
  color: rgb(var(--away)) !important;
  fill: rgb(var(--away)) !important;
}

/* color for watching status */
.watchingbroadcast [class*='personanameandstatus'] {
  color: rgb(var(--watching)) !important;
  fill: rgb(var(--watching)) !important;
}

/* friend request icon */
.friendRequestButton {
  .SVGIcon_FriendRequest {
    .friendBodyFull,
    .friendHead,
    .friendArm,
    .friendBody {
      fill: rgb(var(--icon)) !important;
    }
  }

  &:hover .SVGIcon_FriendRequest {
    .friendBodyFull,
    .friendHead,
    .friendArm,
    .friendBody {
      fill: rgb(var(--iconhover)) !important;
    }
  }
}

/* nickname color */
[class*='personanameandstatus_playerNickname'] {
  color: rgb(var(--nickname)) !important;
}

.friendStatusHover {
  &:not(.quickAccessFriend):hover,
  &.Friend_ContextMenuActive {
    background-color: rgb(var(--header)) !important;
  }
}

/* remove steam opacity on away user */
.friend.awayOrSnooze .labelHolder {
  opacity: 1 !important;
}
