// list friend name
[class*='personanameandstatus'],
// chat name
.speakerName,
// miniprofile status
[class*='miniprofile_awayStatusLabel'],
// miniprofile friend name
[class*='miniprofile_personaNameLabel'],
[class*='miniprofile_richPresence'],
// zzz icon
[class*='friendsnooze_SnoozeZ'],
// mobile phone icon
.SVGIcon_MobilePhone path,
// other icons
[class*='personanameandstatus'] path {
  [class*='ingame'] & {
    color: rgb(var(--ingame)) !important;
    fill: rgb(var(--ingame)) !important;
  }

  .ingame[class*='away'] & {
    color: rgb(var(--awayIngame)) !important;
    fill: rgb(var(--awayIngame)) !important;
  }

  .online & {
    color: rgb(var(--online)) !important;
    fill: rgb(var(--online)) !important;
  }

  .offline & {
    color: rgb(var(--offline)) !important;
    fill: rgb(var(--offline)) !important;
  }

  [class*='away'] & {
    color: rgb(var(--away)) !important;
    fill: rgb(var(--away)) !important;
  }

  .watchingbroadcast & {
    color: rgb(var(--watching)) !important;
    fill: rgb(var(--watching)) !important;
  }
}

/* nickname color */
[class*='personanameandstatus_playerNickname'] {
  color: rgb(var(--nickname)) !important;
}

/* friend request icon */
.friendRequestButton {
  .SVGIcon_FriendRequest {
    .friendBodyFull,
    .friendHead,
    .friendArm,
    .friendBody {
      fill: rgb(var(--icon)) !important;
    }
  }

  &:hover .SVGIcon_FriendRequest {
    .friendBodyFull,
    .friendHead,
    .friendArm,
    .friendBody {
      fill: rgb(var(--iconhover)) !important;
    }
  }
}

.friendStatusHover {
  &:not(.quickAccessFriend):hover,
  &.Friend_ContextMenuActive {
    background-color: rgb(var(--header)) !important;
  }
}

/* remove steam opacity on away user */
.friend.awayOrSnooze {
  filter: none !important;
  opacity: 1 !important;
}
