/* =========================== */

/* Input area spacing/position */

/* Most of the following is to properly center things and have nice spacing */

.chatWindow .chatEntry {
  display: flex;
  border-radius: 16px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0;
}

.chatWindow .chatEntry > * {
  margin-bottom: 0;
}

.chatentry_chatEntryActionsContainer_WZNUD,
.chatentry_chatEntryActionsGroup_15mWd {
  margin: auto !important;
}

.chatentry_chatTextarea_3e__5 {
  box-shadow: none !important;
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}

.chatentry_chatEntryControls_2O_X7 .chatentry_chatSubmitButton_3VRfL {
  align-self: auto;
}

.chatentry_chatEntryControls_2O_X7 {
  background-color: transparent !important;
  padding: 10px;
}

/* Submit Button size */
.chatentry_chatSubmitButton_3VRfL svg {
  height: 25px !important;
  width: 25px !important;
  vertical-align: middle;
}

/* Emoticon 'new' wrapper */
.chatentry_EmoticonPickerButton_3fgX0 .shared_svg_library_EmoticonBow_2ly3o {
  top: -2px;
  right: unset;
  bottom: unset;
  left: unset;
}

/* Hide the shadow between text input and viewing area */
.chatStack .insetshadow_FriendListInsetShadowBottom_3cl4u {
  display: none;
}

/* Use proper colours for submit button icon */
.chatentry_chatSubmitButton_3VRfL:hover .SVGIcon_Button.SVGIcon_Submit path {
  fill: rgb(var(--icon)) !important;
}

/** Wrap content once window is small
*   ensures entry area is still visible
**/

@media only screen and (max-width: 480px) {
  .chatWindow .chatEntry {
    flex-direction: column;
  }

  .chatentry_chatEntryControls_2O_X7 {
    border-bottom: 2px solid rgb(var(--friendlist));
  }
}

/* Ensure breaking defualt steam shadows are not present */

.chatentry_chatEntryControls_2O_X7,
.chatentry_chatEntryActionsGroup_15mWd,
.ChatMessageEntryVoice {
  box-shadow: none;
}
