* {
  box-shadow: none !important;
  text-shadow: none !important;
}

:root {
  /* Dark Mode (Default) */

  --header: 32, 34, 37;
  --friendlist: 47, 49, 54;
  --footer: 32, 34, 37;
  --scrollbar: 32, 34, 37;
  --scrollbarHover: 32, 34, 37;
  --unreadmessage: 0, 255, 0;
  --text: 255, 255, 255;
  --listtext: 255, 255, 255;
  --icon: 255, 255, 255;
  --caption: 255, 255, 255;
  --captionhover: 30, 30, 31;
  --online: 93, 178, 254;
  --snooze: 93, 178, 255;
  --offline: 145, 145, 145;
  --ingame: 130, 186, 0;
  --selfstatus: 93, 178, 254;
  --hoverstatus: 21, 21, 21, 0.5;

  /* Buttons */
  --activeButtonOn: 45, 115, 255;
  --activeButtonOff: 46, 46, 47;
}
