* {
  box-shadow: none !important;
  text-shadow: none !important;
  color: rgb(var(--text)) !important;
}

:root {
  /* Light Mode */

  --header: 238, 238, 238;
  --friendlist: 215, 215, 215;
  --footer: 238, 238, 238;
  --scrollbar: 189, 189, 189;
  --scrollbarHover: 141, 141, 141;
  --unreadmessage: 0, 255, 0;
  --text: 0, 0, 0;
  --listtext: 0, 0, 0;
  --icon: 0, 0, 0;
  --caption: 0, 0, 0;
  --captionhover: 222, 222, 222;
  --online: 0, 92, 178;
  --snooze: 0, 92, 178;
  --offline: 0, 0, 0;
  --ingame: 0, 112, 26;
  --selfstatus: 0, 0, 0;
  --hoverstatus: 238, 238, 238, 0.5;
  --activeButtonOn: 45, 115, 255;
  --activeButtonOff: 46, 46, 47;
}

/* Visual Affect changes for a light theme */
.friend.offline .avatarHolder img.avatar {
  filter: brightness(100%) saturate(0%);
}

.activeVoiceButtons line,
.activeVoiceButtons path,
.activeVoiceButtons polyline,
.activeVoiceControls line,
.activeVoiceControls path,
.activeVoiceControls polyline,
.chatRoomTextChannel line,
.chatRoomTextChannel path {
  stroke: rgb(var(--icon)) !important;
}
