/* Check Boxes */
.DialogCheckbox {
  border-radius: var(--border-radius);
  background-color: rgb(var(--friendlist));
}

.DialogCheckbox:hover:not(.Disabled) {
  box-shadow: 0 0 0 var(--border-width-sm) rgb(var(--buttonOn));
  background-color: rgb(var(--friendlist));
}

/* Tick */
.DialogCheckbox path {
  stroke: rgb(var(--buttonOn));
}
