/** Voice Section of settings
* ===== */

/** Voice Setup And Testing */

/* Outer Box */
.voiceMicTestContainer {
  background-color: rgb(var(--header));
  border-radius: var(--border-radius);
}

/* Inner Box  */
.voiceSelfDirections {
  background-color: rgb(var(--friendlist));
  border-radius: var(--border-radius);
}

/* ===== */

/** Voice Transmission Type */
.voicesettings_TransmissionTypeSettings_2wcxX {
  background-color: rgb(var(--header));
  border: none;
  border-radius: var(--border-radius);
}

.DialogButton.voicesettings_HotkeyClearButton_3Us-N {
  border-radius: var(--border-radius-round);
  max-width: unset !important;
  min-width: unset !important;
  padding: var(--padding) !important;
  width: auto !important;
}

.DialogButton.voicesettings_HotkeyButton_1bV2N {
  background: rgb(var(--friendlist)) !important;
}

.DialogButton.voicesettings_HotkeyClearButton_3Us-N:hover {
  background: rgb(var(--closeButton)) !important;
  border-radius: var(--border-radius-round);
  box-shadow: none !important;
}

.DialogButton.voicesettings_HotkeyClearButton_3Us-N line {
  stroke: rgb(var(--icon));
}

.DialogButton.voicesettings_HotkeyClearButton_3Us-N:hover line {
  stroke: rgb(var(--closeIconHover));
}

/* ===== */

/** Advanced Settings */
.VoiceSettings .advancedSettingsButton {
  background: rgb(var(--header)) !important;
  border-radius: var(--border-radius) !important;
  margin-left: var(--border-width-sm) !important;
  width: calc(100% - var(--border-radius)) !important;
}

/* Advanced Expanded background */
.VoiceSettings .advancedSettings.showAdvanced {
  background: rgb(var(--header)) !important;
  border-radius: var(--border-radius) !important;
}

.VoiceSettings .advancedSettings {
  margin: var(--border-width-sm) !important;
}
