@import 'common/variables-sass';

@mixin text-color($text: rgb(var(--text))) {
  &,
  * {
    color: #{$text} !important;
  }
}

@mixin base {
  @include text-color();

  background: rgb(var(--buttonOff)) !important;
  border-radius: $border-radius !important;
}

@mixin active {
  background: rgb(var(--buttonOn)) !important;
}

@mixin inset-hover {
  &:hover {
    box-shadow: 0 0 0 $border-width-sm rgb(var(--buttonOn)) inset !important;
  }
}

@mixin outline-hover {
  &:hover {
    box-shadow: 0 0 0 $border-width-sm rgb(var(--buttonOn)) !important;
  }
}

@mixin bg-hover(
  $active-class: null,
  $bg: rgb(var(--buttonOn)),
  $text: rgb(var(--text))
) {
  &[class*='#{$active-class}']:hover {
    @include text-color($text);

    background: #{$bg} !important;
  }
}
