@use 'sass:math';
@use 'common/variables-sass' as *;

$slider-width: 36px;
$slider-height: 10.6667px;
$switch-size: 16px;

%slider {
  background-color: rgb(var(--button-on)) !important;
  border-radius: 5.333px;
  box-shadow: inset 1px 1px 1px #0007;
  height: $slider-height;
  position: absolute;
  transition: width 0.2s ease-in-out;
  width: $slider-width;
}

%switch {
  background-color: rgb(var(--button-off)) !important;
  border-radius: 50%;
  box-shadow: 0 0 3px #000a;
  content: '';
  height: $switch-size;
  left: -1px;
  position: absolute;
  top: math.div($slider-height - $switch-size, 2);
  transition: 0.2s ease-in-out, background-color 0.2s ease-in-out;
  width: $switch-size;
}

@mixin toggle {
  /* The switch - the box around the slider */
  .DialogOnOffToggle_Control {
    font-size: 0; // hide existing text
    margin-right: $spacer-sm;
    margin-top: math.div(18px - $slider-height, 2) !important;
    overflow: visible;
    width: $slider-width;
  }

  /* The slider */
  .DialogOnOffToggle_Option.On {
    @extend %slider;

    width: 0;
  }

  .DialogOnOffToggle_Option.On::before {
    @extend %switch;
  }

  .DialogOnOffToggle_Option.On.Active {
    background-color: rgb(var(--button-on)) !important;
    width: $slider-width;
  }

  .DialogOnOffToggle_Option.On.Active::before {
    background-color: rgb(var(--button-on)) !important;
    transform: translate(25px);
  }

  .DialogOnOffToggle_Option.Off {
    @extend %slider;

    background-color: rgb(var(--friendlist)) !important;
  }
}
