@import 'common/card/card';

[class*='appdetailscommunityfeed_CommunityItem'] {
  @include card();
  @include cardSections(
    'appdetailscommunityfeed_ChildItem',
    'appdetailscommunityfeed_AuthorSection'
  );
  @include cardTopImage('appdetailscommunityfeed_PreviewContainer');

  // card menu button (settings)
  [class*='appdetailscommunityfeed_MenuButton'] {
    background-color: rgb(var(--header));
    border: rgb(var(--friendlist)) solid $border-width-sm;
  }

  // card reactions (like, comment)
  [class*='appdetailscommunityfeed_Controls'] {
    [class*='appdetailscommunityfeed_Control'] {
      color: rgb(var(--text));
      background-color: rgb(var(--header));

      [class*='appdetailscommunityfeed_Count'] {
        color: rgb(var(--text));
      }
    }
  }

  // Guide card
  [class*='appdetailscommunityfeed_Guide'] {
    // card title
    [class*='appdetailscommunityfeed_GuideTitle'] {
      color: rgb(var(--text));
      font-weight: bold;
    }

    // Treat top section of guide card as another card
    [class*='appdetailscommunityfeed_TopSectionInner'] {
      @include card(rgb(var(--header)));
      @include cardSections(
        'appdetailscommunityfeed_PreviewContainer',
        'appdetailscommunityfeed_Header'
      );
      @include cardRightImage('appdetailscommunityfeed_PreviewContainer');

      [class*='appdetailscommunityfeed_Title'] {
        color: rgb(var(--text));
      }
    }
  }

  [class*='appdetailscommunityfeed_BottomSection'] {
    background: rgb(var(--friendlist));
    box-shadow: none;
    margin-right: $spacer;

    [class*='appdetailscommunityfeed_DescriptionRow'],
    [class*='appdetailscommunityfeed_Description'] {
      color: rgb(var(--text));
    }
  }
}
