@use 'sass:color';
@use 'common/functions' as *;
@use 'common/variables-sass' as *;

:root {
  /* Body Background Colours */
  --header: #{hex-to-rgb($black-primary)};
  --friendlist: #{hex-to-rgb($black-secondary)};
  --footer: var(--header);

  /* Text */
  --text: #{hex-to-rgb($white)};
  --listtext: #{hex-to-rgb($gray-500)};
  --unreadmessage: #{hex-to-rgb($notification)};

  /* Nickname Colour */
  --nickname: #{hex-to-rgb($gray-700)};

  /* Icon colours */
  --icon: #{hex-to-rgb($gray-500)};
  --iconhover: #{hex-to-rgb($white)};

  /* Title Icon Background */
  --titleiconbg: #{hex-to-rgb($gray-800)};
  --titleiconhover: var(--iconhover);

  /* Status Colours */
  --ingame: #{hex-to-rgb($black-ingame)};
  --online: #{hex-to-rgb($black-online)};
  --away: #{hex-to-rgb($black-away)};
  --away-in-game: var(--away);
  --watching: #{hex-to-rgb($black-watching)};
  --offline: #{hex-to-rgb($black-offline)};

  /* Buttons */
  --button-on: #{hex-to-rgb($accent)};
  --button-off: #{hex-to-rgb($gray-700)};

  /* Scroll Bar */
  --scrollbar-primary: #{hex-to-rgb($black-scrollbar)};
  --scrollbar-primary-hover: #{hex-to-rgb(
      color.adjust($black-scrollbar, $lightness: 10%)
    )};
  --scrollbar-secondary: var(--scrollbar-primary);
  --scrollbar-secondary-hover: var(--scrollbar-primary-hover);

  /* Close Button */
  --close-button: #{hex-to-rgb($red-close)};
  --close-icon-hover: #{hex-to-rgb($white)};
}
