@use 'sass:color';
@use 'common/functions' as *;
@use 'common/variables-sass' as *;

:root {
  /* Body Background Colours */
  --header: #{hex-to-rgb($light-primary)};
  --friendlist: #{hex-to-rgb($light-secondary)};
  --footer: var(--header);

  /* Text */
  --text: #{hex-to-rgb($black)};
  --listtext: #{hex-to-rgb($black)};
  --unreadmessage: #{hex-to-rgb($notification)};

  /* Nickname Colour */
  --nickname: #{hex-to-rgb($gray-600)};

  /* Icon colours */
  --icon: #{hex-to-rgb($gray-700)};
  --iconhover: #{hex-to-rgb($black)};

  /* Title Icon Background */
  --titleiconbg: #{hex-to-rgb($gray-300)};
  --titleiconhover: var(--iconhover);

  /* Status Colours */
  --ingame: #{hex-to-rgb($light-ingame)};
  --online: #{hex-to-rgb($light-online)};
  --away: #{hex-to-rgb($light-away)};
  --away-in-game: var(--away);
  --watching: #{hex-to-rgb($light-watching)};
  --offline: #{hex-to-rgb($light-offline)};

  /* Buttons */
  --button-on: #{hex-to-rgb($light-accent)};
  --button-off: #{hex-to-rgb(color.adjust($light-accent, $lightness: 20%))};

  /* Scroll Bar */
  --scrollbar-primary: #{hex-to-rgb($gray-600)};
  --scrollbar-primary-hover: #{hex-to-rgb($gray-700)};
  --scrollbar-secondary: var(--scrollbar-primary);
  --scrollbar-secondary-hover: var(--scrollbar-primary-hover);

  /* Close Button */
  --close-button: #{hex-to-rgb($red-close)};
  --close-icon-hover: #{hex-to-rgb($white)};
}

.client_chat_frame * {
  color: rgb(var(--text)) !important;
}

[class*='miniprofile_miniProfileBackgroundBlur'] {
  mix-blend-mode: unset;
  opacity: 0.8;
}

/* Visual Affect changes for a light theme */
.friend.offline .avatarHolder .avatar {
  filter: brightness(100%) saturate(0%);
}

.activeVoiceButtons line,
.activeVoiceButtons path,
.activeVoiceButtons polyline,
.activeVoiceControls line,
.activeVoiceControls path,
.activeVoiceControls polyline,
.chatRoomTextChannel line,
.chatRoomTextChannel path {
  stroke: rgb(var(--icon)) !important;
}

[class*='miniprofile_miniProfileBackground_'] {
  background: radial-gradient(
    ellipse farthest-corner at 20% 30%,
    #dfe3e6 0%,
    #dfe3e6 50%,
    #dfe3e6 100%
  ) !important;
}
