@use 'sass:color';
@use 'common/functions' as *;
@use 'common/variables-sass' as *;

.friendsui-container {
  /* Body Background Colours */
  --header: #{hex-to-rgb($steam-primary)};
  --friendlist: #{hex-to-rgb($steam-secondary)};
  --footer: var(--header);

  /* Text */
  --text: #{hex-to-rgb($white)};
  --listtext: #{hex-to-rgb($gray-500)};
  --unreadmessage: #{hex-to-rgb($notification)};

  /* Nickname Colour */
  --nickname: #{hex-to-rgb($gray-600)};

  /* Icon colours */
  --icon: #{hex-to-rgb($gray-500)};
  --iconhover: #{hex-to-rgb($white)};

  /* Status Colours */
  --ingame: #{hex-to-rgb($steam-ingame)};
  --online: #{hex-to-rgb($steam-online)};
  --away: #{hex-to-rgb($steam-away)};
  --away-in-game: var(--away);
  --watching: #{hex-to-rgb($steam-watching)};
  --offline: #{hex-to-rgb($steam-offline)};

  /* Buttons */
  --button-on: #{hex-to-rgb($accent)};
  --button-off: #{hex-to-rgb($gray-700)};

  /* Scroll Bar */
  --scrollbar-primary: #{hex-to-rgb($steam-scrollbar)};
  --scrollbar-primary-hover: #{hex-to-rgb(
      color.adjust($steam-scrollbar, $lightness: 10%)
    )};
  --scrollbar-secondary: var(--scrollbar-primary);
  --scrollbar-secondary-hover: var(--scrollbar-primary-hover);

  /* Window Controls */
  --window-control-icon-color: var(--icon);
  --window-control-icon-color-hover: var(--iconhover);
  --window-control-bg-color-hover: rgb(30 30 31);
  --window-control-exit-bg-color-hover: #{$red-dark};
  --window-control-exit-icon-color-hover: #{$white};
}
