/* ===== DO NOT CHANGE THIS ===== */

/* --------------------------------------------------------------
CHAT WINDOW
-------------------------------------------------------------- */

/* Chat speaker name */
.ChatRoomSpeaker .speaker .speakerName {
  margin: auto 0 auto $padding-lg;
}

.ChatRoomSpeaker .speaker .speakerStatus {
  align-self: auto;
  margin: 0;
}

.speakerHoverArea {
  height: fit-content;
}

/* Group Chat icon */
.ChatTabContent.ChatRoom .ChatRoomGroupAvatar,
.ChatTabs.compactView .ChatTabContent.ChatRoom .ChatRoomGroupAvatar {
  margin-left: 0 !important;
  margin-top: 0 !important;
}

/* Group Chat Labels */
.chatTabGroupName,
.ChatTabs.compactView .chatTabGroupName {
  margin: auto 0 !important; /* vertical centre */
}

/* Chat Tab label area */
.chattabs_ChatTab_1WfqA .chattabs_ChatTabContent_Friend_3m7Ps {
  align-items: center !important;
  padding: var(--padding-sm) !important;
}

.ChatTabContextMenuItem
  .personanameandstatus_richPresenceLabel_3Q6g1:not(.personanameandstatus_gameName_qvibF) {
  display: none;
}

.msg.timeDivision {
  display: none !important;
}

.ChatHistoryContainer {
  background-color: rgb(var(--friendlist)) !important;
}

.MemberListColumn,
.chatRoomGroupNavColumn {
  box-shadow: none;
  z-index: 0;
}

.MemberListColumn {
  background-color: rgb(var(--friendlist)) !important;
}

.chatRoomGroupNavColumn {
  background-color: rgb(var(--header)) !important;
}

/* Select more friends */
.chatTabSelector {
  align-items: center;
  background: none !important;
  border: 0 !important;
  border-radius: $border-radius-round !important;
  display: flex;
  height: 32px !important;
  margin-left: $spacer;
  width: 32px !important;
}

.chatTabSelector.UnreadMessages .SVGIcon_DownArrowContextMenu {
  fill: rgb(var(--unreadmessage)) !important;
}

.compactView .chatTabSelector {
  height: 32px !important;
  width: 32px !important;
}

.chatTabSelector:hover {
  background: rgb(var(--friendlist)) !important;
}

.chatTabSelector .SVGIcon_DownArrowContextMenu {
  margin: 0 auto !important;
  padding-left: $padding;
  padding-top: $padding;
}

.CompactFriendsList
  .friendGroup.gameGroup:not(.OtherGamesGroup)
  .SteamPlayerGroupFooter {
  height: 0 !important;
}

.SingleWindowFocusBar {
  background: none !important;
}

/* ============================ */

/* Chat Scroll To Bottom Button */
.ScrollToBottomButton > span {
  background: rgb(var(--footer)) !important;
  border-radius: $border-radius-lg !important;
}

.ScrollToBottomButton {
  color: rgb(var(--listtext));
  padding: $padding-lg;
}

.ScrollToBottomButton:hover {
  color: rgb(var(--text));
}

/* ============================ */

.inviteAnotherFriendButton {
  background-color: transparent !important;
}

.inviteAnotherFriendButton .SVGIcon_Button line,
.chatRoomButton .SVGIcon_Button line {
  stroke: rgb(var(--icon)) !important;
}

.titleBarContainer.ChatTabs {
  background: rgb(var(--header)) !important;
  padding: $spacer-sm;
}

.speakerTimeStamp {
  color: $green !important;
  line-height: 25px !important;
}

.MultiUserChat .isCurrentUser .msgText {
  color: rgb(var(--listtext)) !important;
}

.chatWindow .chatHeader {
  background: rgb(var(--header)) !important;
  min-height: 0 !important;
  z-index: 1;
}

.chatWindow {
  background: rgb(var(--friendlist)) !important;
}

.chatWindow .chatEntry {
  background-color: rgb(var(--header)) !important;
  height: auto !important;
}

.chatEntry {
  padding-bottom: 0 !important;
}

.chatentry_chatEntryControls_2O_X7 {
  background-color: rgb(var(--friendlist)) !important;
}

.emoticon_NewEmoticonIndicator_3NVON {
  background: $red-dark !important;
  bottom: 0 !important;
  height: 1px !important;
  left: 0 !important;
  right: 0 !important;
  top: 41px !important;
}

/* ?? not sure this still does anything */
.ChatTabsBackButton {
  background: rgb(var(--friendlist)) !important;
  border: 0 !important;
  border-radius: $border-radius !important;
  margin-left: $spacer-xs !important;
}

.chatRoomGroupHeader {
  border-bottom: 0 solid rgba(23, 24, 29, 0.75) !important;
}

.chatRoomMembers {
  border-left: 0 solid #22252b !important;
  border-right: 0 solid rgba(34, 37, 43, 0) !important;
  height: auto !important;
  user-select: none;
}

.inputContainer {
  border-radius: $border-radius !important;
  overflow: visible !important;
}

/* Group Chat Window Avatar Row */
.displayRow {
  height: 100% !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel {
  border-radius: $border-radius !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel
  .VoiceControlPanelButton.chatEndVoiceChat {
  border-left: 0 !important;
  border-radius: $border-radius !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel {
  border-left: 0 !important;
  border-radius: $border-radius;
}

.ChatRoomListGroupItem
  .chatRoomVoiceChannel.ActiveVoiceChannel
  .chatRoomTextChannel {
  border-radius: $border-radius !important;
  bottom: 1px !important;
}

.chatRoomTextChannel,
.chatRoomTextChannelName {
  transition: none;
}

/* Chat Divider Fullscreen */
.singleWindowDivider {
  background-color: rgb(var(--header)) !important;
  border: 0 !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
  min-width: 1px !important;
  width: 1px !important;
}

.chatDialogs {
  background: rgb(var(--friendlist)) !important;
}

/* Avatar Background */
.AssignCategoriesDialog_Friend {
  background: #2e2e2f !important;
  border-radius: $border-radius !important;
}

/* Full brightness of active avatar even if offline */
.active .friend.offline .avatarHolder .avatar {
  filter: none !important;
}

/* Group active text channel */
.ActiveTextChannel {
  background-color: rgb(var(--header)) !important;
  border-radius: $border-radius-sm !important;
  margin-left: 4px !important;
}

.chatRoomGroupNavColumn line,
.chatRoomGroupNavColumn path,
.chatRoomGroupNavColumn polyline,
.chatRoomGroupNavColumn circle,
.SVGIcon_Pin .head,
.SVGIcon_Pin .ground,
.chatRoomVoiceChannel .SVGIcon_TextRoom .TextLines {
  stroke: rgb(var(--icon));
}

.chatRoomVoiceChannel:hover {
  background-color: none !important;
}

.msgText {
  color: rgb(var(--text)) !important;
}

.MemberListColumn.MemberListViewCompact .friend .avatarHolder .avatarStatus {
  transform: none !important;
}

/* ==========================================================================
                          Chat Actions / Controls                            */

/* Chat Action Area */
.chatentry_chatEntryActionsGroup_15mWd {
  background: none !important;
}

.chatentry_chatSubmitButton_3VRfL.chatentry_EmbedButton_1vvRh,
.VoiceToggle,
.VoiceToggle.Active {
  background: none !important;
  border: 0 !important;
  border-radius: $border-radius-round;
}

.chatentry_chatSubmitButton_3VRfL.chatentry_EmoticonPickerButton_3fgX0:hover,
.chatentry_chatSubmitButton_3VRfL.chatentry_EmbedButton_1vvRh:hover,
.VoiceToggle:hover,
.VoiceToggle.Inactive:hover {
  background-color: rgb(var(--friendlist));
}

.chatentry_chatSubmitButton_3VRfL circle,
.chatentry_chatSubmitButton_3VRfL path,
.chatentry_chatSubmitButton_3VRfL line,
.VoiceToggleIconCtn path,
.VoiceToggleIconCtn polyline,
.ToggleMemberListView polyline {
  stroke: rgb(var(--icon)) !important;
}

.chatentry_chatSubmitButton_3VRfL:hover circle,
.chatentry_chatSubmitButton_3VRfL:hover path,
.chatentry_chatSubmitButton_3VRfL:hover line,
.VoiceToggle:hover path,
.VoiceToggle:hover polyline,
.ToggleMemberListView:hover polyline {
  stroke: rgb(var(--iconhover)) !important;
}

.VoiceToggleIconCtn,
.SVGIcon_VoiceRoom .Bubble {
  fill: rgb(var(--icon));
}

.VoiceToggleIconCtn .Bubble {
  display: none;
}

.chatentry_chatSubmitButton_3VRfL {
  background-color: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  max-height: none !important;
  padding: 0 !important;
}

.chatentry_chatSubmitButton_3VRfL:not(.chatentry_disabled_2p2vW):hover {
  background-color: rgb(var(--friendlist));
}

.MicStatus .SVGIcon_Button {
  fill: rgb(var(--iconhover)) !important;
}

.chatRoomGroupNavColumn polyline {
  stroke: rgb(var(--iconhover)) !important;
}

.ChannelTypeTitle {
  color: rgb(var(--listtext));
}

.ChannelTypeTitle:hover,
.ChannelTypeTitle .ChannelTypeLabel:hover:not(.NoPermission) {
  color: rgb(var(--text));
}

/* Chat someone is typing a message */
.FriendChatTypingNotification {
  background: rgb(var(--header));
  border-radius: $border-radius-lg;
  box-shadow: 0 0 $shadow #0008;
  color: rgb(var(--text));
  font-size: 12px;
  margin: $padding-lg;
  padding: $padding $padding-lg $padding $padding-lg;
  width: auto;
}

/* Chat embedded link or file */

/* ========================== */
.msg .ChatMessageOpenGraph,
.msg .SteamPublishedFile {
  background: linear-gradient(
    to right,
    rgba(var(--header), 0.5) 40%,
    rgba(var(--header), 1) 100%
  );
}

.msg .OpenGraphMessageURL {
  background: linear-gradient(
    to right,
    rgba(var(--header), 0.2) 0%,
    rgba(var(--header), 0.5) 40%,
    rgba(var(--header), 1) 100%
  );
}

.SVGIcon_Button.SVGIcon_CopyToClipboard {
  stroke: rgb(var(--icon));
}

.OpenGraphFooter .OpenGraphURLButton:hover .SVGIcon_CopyToClipboard,
.copyInviteLink:hover .SVGIcon_CopyToClipboard {
  stroke: rgb(var(--iconhover));
}

/* ========================== */

/* Chat voice channel invite  */

/* =========================- */
.ChatMessageInvite {
  background: rgb(var(--header)) !important;
}

/* ========================== */

/* Group Chat                 */

/* =========================- */

/* Owner Crown */
.ChatMessageBlock .ChatSpeaker.ChatRoomSpeaker .speaker .rankIcon > * {
  left: 5px;
  top: -10px;
}

.ChatTabContent.ChatRoom .ChatRoomMultiFriendAvatar.Small {
  margin-left: 4px;
  margin-top: 6px;
}

.ChatTabs.compactView .ChatTabContent.ChatRoom .ChatRoomMultiFriendAvatar,
.ChatTabs.compactView .ChatTabContent.ChatRoom .ChatRoomGroupAvatar {
  margin-top: 6px;
}

.MemberListViewCompact
  .ReactVirtualized__Grid__innerScrollContainer
  > *:not(.chatroomBucket_regular) {
  display: none;
  height: 0 !important;
}
