.singlewindow .title-area .title-bar-actions {
  background: rgb(var(--header));
  z-index: 99;
}

.singlewindow .AvatarAndUser {
  padding-top: $padding-lg;
}

.singlewindow .friendListButtons {
  top: $padding-lg;
}
