/**
 * Search Input
 */
.addonpicker_FilterInputContainer_1RAg8 .addonpicker_FilterInput_2tfTm:hover,
.addonpicker_FilterInputContainer_1RAg8 .addonpicker_FilterInput_2tfTm:focus {
  background-color: rgb(var(--friendlist)) !important;
}

.addonpicker_FilterInputContainer_1RAg8 .addonpicker_FilterInput_2tfTm {
  background-color: rgb(var(--header)) !important;
  border-radius: $border-radius-lg;
}

/**
 * Tabs
 */
.addonpicker_Tab_10fDn.addonpicker_Active_2J8Y1 {
  border-bottom-color: rgb(var(--buttonOn));
}

.addonpicker_Tab_10fDn:not(.addonpicker_Active_2J8Y1):hover {
  border-bottom-color: rgb(var(--buttonOff));
}

.emoticon_PickerTab_1tnGG circle,
.emoticon_PickerTab_1tnGG:not(.emoticon_Clock_340rx) path,
.emoticon_PickerTab_1tnGG line {
  stroke: rgb(var(--icon)) !important;
}

.addonpicker_Tab_10fDn:hover,
.addonpicker_Tab_10fDn:hover .addonpicker_TabContent_1oDFo {
  background-color: rgb(var(--friendlist)) !important;
}

.addonpicker_Tab_10fDn:hover .emoticon_PickerTab_1tnGG circle,
.addonpicker_Tab_10fDn:hover .emoticon_PickerTab_1tnGG line {
  fill: rgb(var(--iconhover)) !important;
  stroke: rgb(var(--iconhover)) !important;
}

.addonpicker_Tab_10fDn:hover .emoticon_PickerTab_1tnGG path {
  fill: rgb(var(--iconhover)) !important;
}

/**
 * Picker Item
 *
 */
.addonpicker_ItemList_275Oe .addonpicker_Item_34KHH:hover {
  background-color: rgb(var(--friendlist));
  border-radius: $border-radius;
}

.emoticon_EmoticonHover_1ME8O {
  background-color: rgb(var(--friendlist));
}

/**
 * Animated stickers
 */
.emoticon_StickerButton_3O95u:hover {
  transform: none;
}
