[class*='addonpicker_Picker'] {
  /**
 * Search Input
 */
  [class*='addonpicker_FilterInputContainer'] {
    [class*='addonpicker_FilterInput'] {
      background-color: rgb(var(--header)) !important;
      border-radius: $border-radius-lg;

      &:hover,
      &:focus {
        background-color: rgb(var(--friendlist)) !important;
      }
    }
  }

  /**
 * Tabs
 */
  [class*='addonpicker_Tabs'] [class*='addonpicker_Tab'] {
    [class*='emoticon_PickerTab'] {
      &:not([class*='emoticon_Clock']) path,
      circle,
      line {
        stroke: rgb(var(--icon)) !important;
      }
    }

    &[class*='addonpicker_Active'] {
      border-bottom-color: rgb(var(--buttonOn));
    }

    &:not([class*='addonpicker_Active']):hover {
      border-bottom-color: rgb(var(--buttonOff));
    }

    &:hover {
      [class*='addonpicker_TabContent'] {
        background-color: rgb(var(--friendlist)) !important;
      }
      [class*='emoticon_PickerTab'] circle,
      [class*='emoticon_PickerTab'] line {
        fill: rgb(var(--iconhover)) !important;
        stroke: rgb(var(--iconhover)) !important;
      }

      [class*='emoticon_PickerTab'] path {
        fill: rgb(var(--iconhover)) !important;
      }
    }
  }

  /**
 * Picker Item
 *
 */
  [class*='addonpicker_ItemList'] [class*='addonpicker_Item']:hover {
    background-color: rgb(var(--friendlist));
    border-radius: $border-radius;
  }

  [class*='emoticon_EmoticonHover'] {
    background-color: rgb(var(--friendlist)) !important;
  }

  /**
 * Animated stickers
 */
  [class*='emoticon_StickerButton']:hover {
    transform: none;
  }
}
