/* ==== Improves Friendlist top & bottom shadow === */
[class*='insetshadow_FriendListInsetShadowTop'] {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 20px;
}

[class*='insetshadow_FriendListInsetShadowBottom'] {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 20px;
}

/* ================================================ */

/* ======== Looks better without box-shadow ======= */

/* Between logged in and quickaccess */
.activeTab,
/* Settings Buttons */
button.DialogButton::before,
button.DialogButton,
.DialogSlider_Grabber,
.DialogSlider_Slider,
[class*="radio_Group"],
/* Avatar Shadows */
.avatar,
.currentUserAvatar,
[class*="miniprofile_playerAvatar"],
.ChatRoomGroupAvatar,
/* Chat Window Controls*/
.ChatMessageEntryVoice,
[class*="chatentry_chatEntryControls"],
.chatTabOpenFriendsList,
/* Chat Window tabs */
.chatTabList .chatTab,
.chatTabSelector,
/* Group chat search */
.friendSearchInput {
  box-shadow: none !important;
}

/* End of friendlist shadow */
.ChatRoomListContainerParent [class*="insetshadow_FriendsListInsetShadowCtn"],
/* Shadow in group creator */
.insetShadow {
  display: none !important;
}

/* All Text Shadow is bad */
* {
  text-shadow: none !important;
}

/* ================================================ */

[class*='chatentry_chatTextarea'] {
  border-radius: var(--border-radius);
  margin-right: 0 !important;
}

/* chat invite message */
.ChatMessageInvite {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) !important;
  margin: 4px;
}

/* Shadows */
.ModalDialogPopup .DialogContentTransition .DialogBody {
  -webkit-mask: none !important;
  mask: none !important;
}

.DialogTextInputBase:focus {
  box-shadow: none;
}

/* Chat text input box */
.chatWindow .chatEntry {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
