/* CONTEXT MENU'S */

/* =================== */

/* Context Menu opener */

/* align to the right of the friend and vertical centre */
.friendlistListContainer .ContextMenuButton {
  height: 100%;
  padding-right: 6px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 8 !important;
}

.ChatRoomListGroupItem .ContextMenuButton {
  height: 42px;
  padding-right: 6px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 8 !important;
}

.friendlistListContainer .friend:hover .ContextMenuButton {
  background: rgb(var(--header));
  border-radius: $border-radius;
  padding-left: 6px;
}

.ContextMenuButton .SVGIcon_DownArrowContextMenu {
  /* Icon Colour */
  fill: rgb(var(--icon)) !important;
  height: 100% !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
}

.ContextMenuButton {
  margin-top: 0;
}

/* Icon Colour Hover */
.ContextMenuButton:hover .SVGIcon_DownArrowContextMenu {
  fill: rgb(var(--iconhover)) !important;
}

/* ============ */

/* Context Menu */
[class*='contextmenu_contextMenu_'] {
  background: rgb(var(--header));
  min-width: 9em !important;
}

/* Item Styles */
.contextMenuItem {
  border-top: 0 !important;
  color: rgb(var(--listtext)) !important;
}

/* Game Name */
.contextMenuGameName {
  color: rgb(var(--text)) !important;
}

/* Other Aliases */
.recentName {
  color: rgb(var(--listtext));
}

/* ========================= */

/* Selected and Hover Styles */
.contextMenuItem:hover,
.contextMenuItem[class*='contextmenu_active'] {
  background: rgb(var(--friendlist)) !important;
  border-radius: $border-radius !important;
}

/* Icon Hover */
.contextMenuItem:hover .SVGIcon_Button {
  fill: rgb(var(--iconhover)) !important;
  stroke: rgb(var(--iconhover)) !important;
}

/* Game info section */
.contextMenuGameTitle,
.contextMenuSectionContent,
.contextMenuGameOptions {
  background: rgb(var(--header)) !important;
}

/* Remove border between some items */
.contextMenu .contextMenuItem {
  border-top: 0 !important;
}

/* =========================================================== */

/* Positioning Fixes for chat context menu to view more friends */
.contextMenuContents.ChatTabs .contextMenuItem {
  min-height: 42px !important;
}

.contextMenuContents.ChatTabs.CompactFriendsList .friend .labelHolder {
  margin-left: -2px !important;
  margin-top: 20px !important;
}

.contextMenuContents .chatTab .ChatTabContent {
  min-height: 50px !important;
}

.ChatRoomListGroupItem .openGroupButton {
  margin-right: 24px;
}
