/* MINI PROFILES */
.HoverPopup {
  /* mini profile */
  [class*='miniprofile_miniProfile'] {
    border: 0 !important;
    border-radius: 0 !important;
  }

  /* mini profile all edges */
  [class*='miniprofile_miniProfileContent']
    [class*='miniprofile_miniProfileHeader'],
  [class*='miniprofile_miniProfileContent']
    [class*='miniprofile_miniProfileGameContainer']
    [class*='miniprofile_gameLogo_2B0di'] {
    border-radius: $border-radius;
  }

  [class*='miniprofile_hasNickname'] [class*='miniprofile_personaNameLabel'] {
    color: rgb(var(--listtext)) !important;
  }

  [class*='miniprofile_richPresence'],
  [class*='miniprofile_gameState'],
  [class*='miniprofile_miniProfileGameContainer']
    [class*='miniprofile_ingame'] {
    color: rgb(var(--ingame)) !important;
  }

  [class*='miniprofile_miniProfileContent']
    [class*='miniprofile_playerAvatar'] {
    height: 90px !important;
  }

  .miniProfileHoverInner .watchingbroadcastThumbnail,
  .miniProfileHoverInner .watchingbroadcastThumbnail .crossfade {
    border-radius: $border-radius;
  }
}
