/* Drop Down Menu backgrounds */
.DialogDropDownMenu._DialogInputContainer {
  background-color: rgb(var(--header)) !important;
  border: 0 !important;
}

.DialogDropDownMenu_Item:hover {
  background-color: rgb(var(--friendlist)) !important;
  border-radius: $border-radius !important;
}
