%card-section {
  background: none !important;
  color: rgb(var(--text)) !important;
}

@mixin card($background-color: rgb(var(--friendlist))) {
  background: #{$background-color} !important;
  border: 0 !important;
  border-radius: $border-radius;
  box-shadow: none !important;
  color: rgb(var(--text)) !important;
}

@mixin card-sections($sections...) {
  @each $section in $sections {
    [class*='#{$section}'] {
      @extend %card-section;
    }
  }
}

@mixin card-top-image($topImages...) {
  @each $topImage in $topImages {
    [class*='#{$topImage}'] {
      border-radius: $border-radius $border-radius 0 0 !important;
    }
  }
}

@mixin card-bottom-image($bottomImages...) {
  @each $bottomImage in $bottomImages {
    [class*='#{$bottomImage}'] {
      border-radius: 0 0 $border-radius $border-radius !important;
    }
  }
}

@mixin card-left-image($leftImages...) {
  @each $leftImage in $leftImages {
    [class*='#{$leftImage}'] {
      border-radius: $border-radius 0 0 $border-radius !important;
    }
  }
}

@mixin card-right-image($rightImages...) {
  @each $rightImage in $rightImages {
    [class*='#{$rightImage}'] {
      border-radius: 0 $border-radius $border-radius 0 !important;
    }
  }
}
