/* Avatar Status Glow */
.statusHeaderGlow {
  opacity: 0.4;

  .online & {
    & stop:first-child {
      stop-color: rgb(var(--online));
      stop-opacity: 0.4;
    }

    & stop:last-child {
      stop-color: rgb(var(--online));
    }
  }

  .ingame & {
    & stop:first-child {
      stop-color: rgb(var(--ingame));
      stop-opacity: 0.4;
    }

    & stop:last-child {
      stop-color: rgb(var(--ingame));
    }
  }

  .awayOrSnooze & {
    & stop:first-child {
      stop-color: rgb(var(--away));
      stop-opacity: 0.4;
    }

    & stop:last-child {
      stop-color: rgb(var(--away));
    }
  }

  .offline & {
    & stop:first-child {
      stop-color: rgb(var(--offline));
      stop-opacity: 0.4;
    }

    & stop:last-child {
      stop-color: rgb(var(--offline));
    }
  }
}
