/* Disable border shape when user has custom frame */
.friend:not(.quickAccessFriend)
  .avatarHolder:not(.offline):not(.awayOrSnooze):not(.ingame)
  :nth-last-child(2),
.friend:not(.quickAccessFriend)
  .avatarHolder:not(.offline).awayOrSnooze
  :nth-last-child(3),
.friend:not(.quickAccessFriend)
  .avatarHolder:not(.offline).ingame
  :nth-last-child(2),
.friendlistListContainer .avatarHolder:not(.offline) :nth-last-child(2),
.quickAccessFriend
  .avatarHolder.online:not(.ingame):not(.awayOrSnooze)
  :nth-last-child(2),
.quickAccessFriend .avatarHolder.ingame:not(.awayOrSnooze) :nth-last-child(3),
.quickAccessFriend .avatarHolder.ingame.awayOrSnooze :nth-last-child(4),
.quickAccessFriend .avatarHolder:not(.ingame).awayOrSnooze :nth-last-child(3),
.miniProfileHover
  .avatarHolder:not(.offline):not(.awayOrSnooze):not(.ingame)
  :nth-last-child(2),
.miniProfileHover .avatarHolder:not(.offline).ingame :nth-last-child(2),
.miniProfileHover .avatarHolder:not(.offline).awayOrSnooze :nth-last-child(2),
.currentUserAvatar
  .avatarHolder:not(.offline):not(.awayOrSnooze):not(.ingame)
  :nth-last-child(2),
.currentUserAvatar .avatarHolder:not(.offline).ingame :nth-last-child(2),
.currentUserAvatar .avatarHolder:not(.offline).awayOrSnooze :nth-last-child(2) {
  &.avatar {
    border: 0 !important;
    border-radius: 0 !important;
  }
}

.quickAccessFriend .avatarHolder.ingame:not(.awayOrSnooze) :nth-child(3),
.quickAccessFriend .avatarHolder.ingame.awayOrSnooze :nth-child(4) {
  &.avatarFrame {
    display: none;
  }
}

/* Fix custom frame size */
.avatarFrame {
  transform: scale(1.111) !important;
}

/* better custom frame position */
.friendlistListContainer .friend .avatarHolder {
  padding-bottom: 2px;
}

/* Disable custom frame when user is offline */
.avatarHolder.offline .avatarFrame,
.avatarHolder.offline .miniprofile_Frame_3MZRj {
  display: none;
}
