/* Disable border shape when user has custom frame */
.friend:not(.quickAccessFriend)
  .avatarHolder:not(.offline):not(.awayOrSnooze):not(.ingame)
  :nth-last-child(2).avatar,
.friend:not(.quickAccessFriend)
  .avatarHolder:not(.offline).awayOrSnooze
  :nth-last-child(3).avatar,
.friend:not(.quickAccessFriend)
  .avatarHolder:not(.offline).ingame
  :nth-last-child(2).avatar,
.friendlistListContainer .avatarHolder:not(.offline) :nth-last-child(2).avatar,
.quickAccessFriend
  .avatarHolder.online:not(.ingame):not(.awayOrSnooze)
  :nth-last-child(2).avatar,
.quickAccessFriend
  .avatarHolder.ingame:not(.offline):not(.awayOrSnooze)
  :nth-last-child(3).avatar,
.quickAccessFriend
  .avatarHolder:not(.offline).ingame.awayOrSnooze
  :nth-last-child(4).avatar,
.quickAccessFriend
  .avatarHolder:not(.ingame).awayOrSnooze
  :nth-last-child(3).avatar,
.miniProfileHover
  .avatarHolder:not(.offline):not(.awayOrSnooze):not(.ingame)
  :nth-last-child(2).avatar,
.miniProfileHover .avatarHolder:not(.offline).ingame :nth-last-child(2).avatar,
.miniProfileHover
  .avatarHolder:not(.offline).awayOrSnooze
  :nth-last-child(2).avatar {
  border: 0 !important;
  border-radius: 0 !important;
}

/* Fix custom frame size */
.avatarFrame {
  transform: scale(1.111) !important;
}

/* better custom frame position */
.friendlistListContainer .friend .avatarHolder {
  padding-bottom: 2px;
}

/* Disable custom frame when user is offline */
.avatarHolder.offline .avatarFrame,
.avatarHolder.offline .miniprofile_Frame_3MZRj {
  display: none;
}
