/* ==== Improves Friendlist top & bottom shadow === */
.insetshadow_FriendListInsetShadowTop_1mEmL {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 20px !important;
}

.insetshadow_FriendListInsetShadowBottom_3cl4u {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 20px !important;
}

/* ================================================ */

/* ======== Looks better without box-shadow ======= */

/* Between logged in and quickaccess */
.activeTab,
/* Settings Buttons */
button.DialogButton::before,
button.DialogButton,
.DialogSlider_Grabber,
.DialogSlider_Slider,
.DialogCheckbox,
/* Avatar Shadows */
.avatar,
.currentUserAvatar,
.miniprofile_playerAvatar_1dzWG,
.ChatRoomGroupAvatar,
/* Chat Window Controls*/
.chatentry_chatEntryActionsGroup_15mWd,
.ChatMessageEntryVoice,
.chatentry_chatEntryControls_2O_X7,
.chatTabOpenFriendsList,
/* Chat Window tabs */
.chatTabList .chatTab,
.chatTabSelector,
/* Group chat search */
.friendSearchInput {
  box-shadow: none !important;
}

/* End of friendlist shadow */
.ChatRoomListContainerParent .insetshadow_FriendsListInsetShadowCtn_1S167,
/* Shadow in group creator */
.insetShadow {
  display: none !important;
}

/* All Text Shadow is bad */
* {
  text-shadow: none !important;
}

/* ================================================ */

.chatentry_chatTextarea_3e__5 {
  margin-right: 0 !important;
  border-radius: 4px;
}

/* chat invite message */
.ChatMessageInvite {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) !important;
  margin: 4px;
}

/* Shadows */
.ModalDialogPopup .DialogContentTransition .DialogBody {
  -webkit-mask: none !important;
  mask: none !important;
}

.DialogTextInputBase:focus {
  box-shadow: none;
}

/* Chat text input box */
html.client_chat_frame .chatWindow .chatEntry {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !important;
}
