* {
  box-shadow: none !important;
  text-shadow: none !important;
}

.activeVoiceButtons .SVGIcon_Shadow {
  display: none !important;
}

/* Shadows */
.ModalDialogPopup .DialogContentTransition .DialogBody {
  -webkit-mask: none !important;
  mask: none !important;
}

/* End of friendlist shadow */
.insetshadow_FriendsListInsetShadowCtn_1S167,
/* Shadow in group creator */
.insetShadow {
  display: none !important;
}

button.DialogButton::before,
button.DialogButton.Secondary.Off {
  box-shadow: none;
}

.DialogTextInputBase:focus {
  box-shadow: none;
}
