.friends_loading_error {
  .TitleBar {
    border: 0;
  }

  .AvatarAndUser {
    padding-bottom: $padding-xl;

    .statusAndName {
      color: rgb(var(--offline)) !important;
    }

    .richPresenceLabel {
      color: rgb(var(--nickname)) !important;
    }
  }

  &,
  .friendlist {
    background: rgb(var(--friendlist));
  }

  .friendlist {
    .currentUserContainer {
      border: 0;
      height: auto;
    }

    .summaryText {
      color: rgb(var(--online)) !important;
      margin: $padding-xl auto;
    }

    .detailText {
      border-top: $border-width-sm rgb(var(--online)) solid;
      color: rgb(var(--text)) !important;
      margin: 0;
      padding: $padding-lg $padding-lg;
    }

    .retryButton {
      color: $white !important;
    }
  }
}
