/*
* Chat Tabs
*   Tabs for each friend at the top of the chat window
*/

.chattabs_ChatTab_1WfqA {
  background: rgb(var(--header));
  border-radius: var(--border-radius);
  padding-right: var(--padding);
}

.chatTabSetContainer .chattabs_ChatTab_1WfqA.chattabs_Active_3sMSI {
  background: rgb(var(--friendlist));
}

.chattabs_ChatTab_1WfqA:hover:not(.chattabs_Active_3sMSI) {
  background: rgb(var(--header));
}

/* Offline avatar filter */
.chattabs_ChatTab_1WfqA:hover .friend.offline .avatarHolder img.avatar,
.chattabs_ChatTab_1WfqA.chattabs_Active_3sMSI .friend.offline .avatarHolder img.avatar {
  filter: none;
}

/* Tab Close Button */
.chattabs_CloseButton_SzByZ {
  margin: 0;
  padding: var(--padding-sm);
  transform: none;
}

.chattabs_CloseButton_SzByZ:hover {
  background: rgb(var(--closeButton)) !important;
  border-radius: var(--border-radius-round) !important;
}

.chattabs_ChatTabContent_Friend_3m7Ps {
  margin-right: var(--spacer-sm);
}

/* Group chat tab text colour */
.chattabs_Active_3sMSI .chattabs_ChatTabContent_ChatRoomName_2avXT {
  color: rgb(var(--text));
}

.chattabs_ChatTabContent_ChatRoomName_2avXT {
  color: rgb(var(--listtext));
}

.ChatRoomMultiFriendAvatar {
  margin: 0;
}

/* ========================================================================== */

/* Style Chat Tab context menu - more friends drop down */

.ChatTabsContextMenu .chattabs_ChatTab_1WfqA.chattabs_Active_3sMSI {
  background: rgb(var(--header));
}

.ChatTabsContextMenu .chattabs_ChatTab_1WfqA.chattabs_Active_3sMSI:hover {
  background: rgb(var(--friendlist));
}

.ChatTabsContextMenu .friendsnooze_SnoozeContainer_1OfTa {
  display: none;
}

.ChatTabsContextMenu .ChatUnreadMessageIndicator {
  margin-left: 90% !important;
}

.ChatTabsContextMenu .chattabs_CloseButton_SzByZ {
  height: 10px;
  width: 10px;
}

.ChatTabsContextMenu .chattabs_ChatTab_1WfqA {
  padding-left: var(--spacer-sm);
}

.ChatTabsContextMenu.CompactFriendsList .friend,
.ChatTabsContextMenu.CompactFriendsList .friendGroup .friend,
.ChatTabsContextMenu.CompactFriendsList .friendGroup .SteamPlayerGroupFooter,
.ChatTabsContextMenu.CompactFriendsList .friendGroup.gameGroup:not(.OtherGamesGroup) .friend {
  padding: 0;
}

.ChatTabsContextMenu .chattabs_Active_3sMSI .chattabs_ChatTabContent_ChatRoomName_2avXT {
  color: rgb(var(--listtext));
}

/* ========================================================================== */
