/* --------------------------------------------------------------
BORDER STATUS
-------------------------------------------------------------- */
.online .steamavatar_avatarStatus_1Pwr6 {
  background: rgb(var(--online)) !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.ingame .steamavatar_avatarStatus_1Pwr6 {
  background: rgb(var(--ingame)) !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.ingame .X-Large .steamavatar_avatarStatus_1Pwr6 {
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.awayOrSnooze .steamavatar_avatarStatus_1Pwr6 {
  background: rgb(var(--snooze)) !important;
  -webkit-mask: none !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.golden .steamavatar_avatarStatus_1Pwr6 {
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.watchingbroadcast .steamavatar_avatarStatus_1Pwr6 {
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.offline .steamavatar_avatarStatus_1Pwr6 {
  background: rgb(var(--offline)) !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

/* Game playing status */
.friendGroup .SteamPlayerGroupFooter {
  margin-top: -20px !important;
}

.CompactFriendsList .friendGroup .SteamPlayerGroupFooter {
  margin-top: -8px !important;
  margin-left: 5px !important;
}

.friendGroup.offlineFriends .groupName .groupCount,
.friendGroup.onlineFriends .groupName .groupCount,
.friendGroup .groupName .groupCount.collapsed {
  display: none !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends .groupName,
.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends .groupName {
  color: rgb(var(--listtext)) !important;
}

.offline .personanameandstatus_playerName_1uxaf {
  color: rgb(var(--offline)) !important;
}

.offline .personanameandstatus_richPresenceLabel_3Q6g1 {
  color: rgb(var(--offline)) !important;
}

.offline .personanameandstatus_statusAndName_9U-hi {
  filter: none !important;
}

.friendStatusHover.ingame:hover,
.friendStatusHover.ingame.Friend_ContextMenuActive {
  background-color: rgb(var(--hoverstatus)) !important;
}

.friendStatusHover.online:hover,
.friendStatusHover.online.Friend_ContextMenuActive {
  background-color: rgb(var(--hoverstatus)) !important;
}

.friendStatusHover.offline:hover,
.friendStatusHover.offline.Friend_ContextMenuActive {
  background-color: rgb(var(--hoverstatus)) !important;
}

/* Chat windows avatars */
.chatTab .avatarHolder {
  width: 25% !important;
  transform: scale(0.86, 0.86) translateX(0) !important;
}

.ChatTabs.compactView .ChatTabContent .avatarHolder .avatar {
  width: 41px !important;
}

.ChatTabContent .avatarHolder .avatarStatus {
  height: 43px !important;
  width: 43px !important;
  margin-top: -42px !important;
  margin-left: -1px !important;
}

.friend .avatarHolder img.avatar {
  border: 0 !important;
  box-shadow: none !important;
  z-index: 1 !important;
}

.ChatRoomGroupAvatar {
  border: 1px solid rgb(var(--footer)) !important;
  background-color: none !important;
  box-shadow: none !important;
}

.currentUserAvatar:hover {
  filter: none !important;
}

.ChatRoomSpeaker .speaker .speakerAvatar,
.ChatMsgSlashEmote .speaker .speakerAvatar {
  z-index: 1 !important;
}

.ChatRoomSpeaker .speaker .speakerStatus,
.ChatMsgSlashEmote .speaker .speakerStatus {
  width: 24px !important;
  height: 24px !important;
  margin-top: -4px !important;
  margin-left: -23px !important;
}

.friend.quickAccessFriend.friend.awayOrSnooze .avatarHolder .avatarStatus {
  opacity: 1 !important;
}

.quickAccessFriends .friend.friend.awayOrSnooze .avatarHolder img {
  opacity: 1 !important;
  z-index: 1 !important;
}

/* QuickAccess avatar status  */
.friend.quickAccessFriend .avatarHolder .avatarStatus {
  margin-top: -49px !important;
  margin-left: -1px !important;
  height: 50px !important;
  width: 50px !important;
}

.compactQuickAccess .friend.quickAccessFriend .avatarHolder .avatarStatus {
  margin-top: -27px !important;
  margin-left: -1px !important;
  height: 28px !important;
  width: 28px !important;
}

.compactQuickAccess .friend.quickAccessFriend .avatarHolder .avatar {
  z-index: 1 !important;
}

.friend.quickAccessFriend .avatarHolder .avatar {
  z-index: 1 !important;
}

/* QuickAcces Game Icon */
.FavoriteFriend_GameIcon {
  bottom: 0 !important;
  right: 30px !important;
  width: 20px !important;
  height: 20px !important;
  z-index: 1 !important;
}

/* QuickAcces Game Icon */
.compactQuickAccess .FavoriteFriend_GameIcon {
  bottom: 1px !important;
  right: 20px !important;
  width: 13px !important;
  height: 14px !important;
  z-index: 1 !important;
  background: transparent !important;
}

/* ConetextMenu avatar status  */
.contextMenuContents.ChatTabs .ChatTabContent .avatarStatus {
  width: 13px !important;
  height: 13px !important;
  margin-left: 12px !important;
  margin-top: 18px !important;
}

.contextMenuContents.ChatTabs.CompactFriendsList .ChatTabContent .avatarStatus {
  width: 13px !important;
  height: 13px !important;
  margin-left: 12px !important;
  margin-top: 18px !important;
}

.contextMenuContents.ChatTabs.compactView .ChatTabContent .avatarHolder .avatar {
  height: 41px !important;
}

.contextMenuContents.ChatTabs .ChatTabContent .avatarHolder {
  height: 42px !important;
}

/* Avatar */
.Dialog_EditNickName .friend .avatarMedium,
.Dialog_ChangePersonaName .friend .avatarMedium {
  box-shadow: none !important;
}

.speaker.away .speakerStatus {
  -webkit-mask: none !important;
}

.groupMemberList .friend .avatarHolder img.avatar {
  margin-left: -2px !important;
  margin-top: -2px !important;
}

.MemberListColumn.MemberListViewCompact .friend.ingame .avatarHolder .avatarStatus {
  left: -11px !important;
  top: -3px !important;
}

/* removes Avatar status in settings */
.voiceSelfHeader .friend .avatarHolder .avatarStatus {
  display: none !important;
}

.friendlistListContainer .friend .avatarHolder .avatarStatus {
  left: -1px !important;
  top: -1px !important;
  height: 36px !important;
  width: 36px !important;
}

.CompactFriendsList .friend .avatarHolder .avatarStatus {
  left: -3px !important;
  top: -3px !important;
  height: 26px !important;
  width: 26px !important;
}

.CompactFriendsList .friend .avatarHolder img.avatar {
  z-index: 1 !important;
}

.ChatTabs.compactView .ChatTabContent.ChatRoom .ChatRoomMultiFriendAvatar,
.ChatTabs.compactView .ChatTabContent.ChatRoom .ChatRoomGroupAvatar {
  margin-top: 0 !important;
}

/* mini profile */
.miniprofile_avatarStatus {
  display: none !important;
}

.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.online .miniprofile_avatarStatus_23H45.miniprofile_miniProfileAvatarStatus_1VgK8 {
  background: rgb(var(--online)) !important;
}

.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfilePlayer_3cN6K.in-game .miniprofile_avatarStatus_23H45.miniprofile_miniProfileAvatarStatus_1VgK8 {
  background: rgb(var(--ingame)) !important;
}
