@use 'common/functions' as *;
@use 'common/variables-sass' as *;

:root {
  /* Body Background Colours */
  --header: #{hex-to-rgb($dark-primary)};
  --friendlist: #{hex-to-rgb($dark-secondary)};
  --footer: var(--header);

  /* Text */
  --text: #{hex-to-rgb($white)};
  --listtext: #{hex-to-rgb($gray-600)};
  --unreadmessage: #{hex-to-rgb($notification)};

  /* Nickname Colour */
  --nickname: #{hex-to-rgb($gray-700)};

  /* Icon colours */
  --icon: #{hex-to-rgb($gray-500)};
  --iconhover: #{hex-to-rgb($white)};

  /* Title Icon Background */
  --titleiconbg: #{hex-to-rgb($gray-900)};
  --titleiconhover: var(--iconhover);

  /* Status Colours */
  --ingame: #{hex-to-rgb($dark-ingame)};
  --online: #{hex-to-rgb($dark-online)};
  --away: #{hex-to-rgb($dark-away)};
  --watching: #{hex-to-rgb($dark-watching)};
  --offline: #{hex-to-rgb($dark-offline)};

  /* Buttons */
  --buttonOn: #{hex-to-rgb($accent)};
  --buttonOff: #{hex-to-rgb($gray-700)};

  /* Scroll Bar */
  --scrollbarPrimary: #{hex-to-rgb($dark-scrollbar)};
  --scrollbarPrimaryHover: #{hex-to-rgb(lighten($dark-scrollbar, 10%))};
  --scrollbarSecondary: var(--scrollbarPrimary);
  --scrollbarSecondaryHover: var(--scrollbarPrimaryHover);

  /* Close Button */
  --closeButton: #{hex-to-rgb($red-close)};
  --closeIconHover: #{hex-to-rgb($white)};
}
