@use 'common/functions' as *;
@use 'common/variables-sass' as *;

:root {
  /* Body Background Colours */
  --header: #{hex-to-rgb($light-primary)};
  --friendlist: #{hex-to-rgb($light-secondary)};
  --footer: var(--header);

  /* Text */
  --text: #{hex-to-rgb($black)};
  --listtext: #{hex-to-rgb($black)};
  --unreadmessage: #{hex-to-rgb($notification)};

  /* Nickname Colour */
  --nickname: #{hex-to-rgb($gray-600)};

  /* Icon colours */
  --icon: #{hex-to-rgb($gray-700)};
  --iconhover: #{hex-to-rgb($black)};

  /* Title Icon Background */
  --titleiconbg: #{hex-to-rgb($gray-400)};
  --titleiconhover: var(--iconhover);

  /* Status Colours */
  --ingame: #{hex-to-rgb($light-ingame)};
  --online: #{hex-to-rgb($light-online)};
  --away: #{hex-to-rgb($light-away)};
  --watching: #{hex-to-rgb($light-watching)};
  --offline: #{hex-to-rgb($light-offline)};

  /* Buttons */
  --buttonOn: #{hex-to-rgb($light-accent)};
  --buttonOff: #{hex-to-rgb($gray-700)};

  /* Scroll Bar */
  --scrollbarPrimary: #{hex-to-rgb($gray-600)};
  --scrollbarPrimaryHover: #{hex-to-rgb($gray-700)};
  --scrollbarSecondary: var(--scrollbarPrimary);
  --scrollbarSecondaryHover: var(--scrollbarPrimaryHover);

  /* Close Button */
  --closeButton: #{hex-to-rgb($red-close)};
  --closeIconHover: #{hex-to-rgb($white)};
}

.client_chat_frame * {
  color: rgb(var(--text)) !important;
}

.miniprofile_miniProfileBackgroundBlur_G000o {
  mix-blend-mode: unset;
  opacity: 0.8;
}

/* Visual Affect changes for a light theme */
.friend.offline .avatarHolder .avatar {
  filter: brightness(100%) saturate(0%);
}

.activeVoiceButtons line,
.activeVoiceButtons path,
.activeVoiceButtons polyline,
.activeVoiceControls line,
.activeVoiceControls path,
.activeVoiceControls polyline,
.chatRoomTextChannel line,
.chatRoomTextChannel path,
.SVGIcon_Button line {
  stroke: rgb(var(--icon)) !important;
}

.miniprofile_miniProfileBackground_3gfFJ {
  background: radial-gradient(
    ellipse farthest-corner at 20% 30%,
    #dfe3e6 0%,
    #dfe3e6 50%,
    #dfe3e6 100%
  ) !important;
}
