@use 'common/functions' as *;
@use 'common/variables-sass' as *;

:root {
  /* Body Background Colours */
  --header: #{hex-to-rgb($steam-primary)};
  --friendlist: #{hex-to-rgb($steam-secondary)};
  --footer: var(--header);

  /* Text */
  --text: #{hex-to-rgb($white)};
  --listtext: #{hex-to-rgb($gray-500)};
  --unreadmessage: #{hex-to-rgb($notification)};

  /* Nickname Colour */
  --nickname: #{hex-to-rgb($gray-600)};

  /* Icon colours */
  --icon: #{hex-to-rgb($gray-500)};
  --iconhover: #{hex-to-rgb($white)};

  /* Title Icon Background */
  --titleiconbg: 30, 30, 31;
  --titleiconhover: var(--iconhover);

  /* Status Colours */
  --ingame: #{hex-to-rgb($steam-ingame)};
  --online: #{hex-to-rgb($steam-online)};
  --away: #{hex-to-rgb($steam-away)};
  --away-in-game: var(--away);
  --watching: #{hex-to-rgb($steam-watching)};
  --offline: #{hex-to-rgb($steam-offline)};

  /* Buttons */
  --button-on: #{hex-to-rgb($accent)};
  --button-off: #{hex-to-rgb($gray-700)};

  /* Scroll Bar */
  --scrollbar-primary: #{hex-to-rgb($steam-scrollbar)};
  --scrollbar-primary-hover: #{hex-to-rgb(lighten($steam-scrollbar, 10%))};
  --scrollbar-secondary: var(--scrollbar-primary);
  --scrollbar-secondary-hover: var(--scrollbar-primary-hover);

  /* Close Button */
  --close-button: #{hex-to-rgb($red-dark)};
  --close-icon-hover: #{hex-to-rgb($white)};
}
