/* mini profile Header */
.miniprofile_miniProfileContent_25Sge .miniprofile_miniProfileHeader_3oBIW {
  background: rgba(var(--friendlist), 0.3) !important;
  border-radius: 4px !important;
}

/* mini profile Background */
.miniprofile_miniProfileBackground_3gfFJ {
  border-radius: 4px !important;
}

/* mini profile Background */
.miniprofile_miniProfileContent_25Sge.miniprofile_notInOrWatchingGame_3AIC2
  .miniprofile_miniProfileBottom_3Agb6,
.miniprofile_miniProfileContent_25Sge
  .miniprofile_miniProfileGameContainer_2FyZH {
  background: linear-gradient(
    to bottom,
    rgba(var(--header), 0.7) 5%,
    rgba(var(--header), 0.4) 95%
  ) !important;
  top: 10px !important;
}

/* mini profile Blur */
.miniprofile_miniProfileBackgroundBlur_G000o {
  display: inline !important;
}
