/* Drop Down Menu backgrounds */
.DialogDropDownMenu._DialogInputContainer {
  background-color: rgb(var(--header)) !important;
  border: none !important;
}

.DialogDropDownMenu_Item:hover {
  background-color: rgb(var(--friendlist)) !important;
  border-radius: var(--border-radius) !important;
}
