@mixin slider {
  /* Slider grabber */
  .DialogSlider_Grabber {
    background: rgb(var(--button-on)) !important;
    box-shadow: 0 0 3px #000a;
  }

  /* Slider value */
  .DialogSlider_Value {
    background: rgb(var(--button-on)) !important;
  }

  /* Slider Background */
  .DialogSlider_Slider {
    background: rgb(var(--button-off)) !important;
    border: 0 !important;
  }
}
