/* ===== DO NOT CHANGE THIS ===== */

/* --------------------------------------------------------------
DISCORD STATUS (DEFAULT)
-------------------------------------------------------------- */
.steamavatar_avatarStatus_1Pwr6 {
  border-radius: 100% !important;
}

.online .avatarStatus,
.speaker.online .speakerStatus {
  background: rgb(var(--online)) !important;
}

.awayOrSnooze .avatarStatus,
.speaker.awayOrSnooze .speakerStatus {
  background: rgb(var(--snooze)) !important;
  -webkit-mask: none !important;
}

.ingame .avatarStatus,
.speaker.ingame .speakerStatus {
  background: rgb(var(--ingame)) !important;
}

.offline .avatarStatus,
.speaker.offline .speakerStatus {
  background: rgb(var(--offline)) !important;
}

/* QuickAccess avatar status  */
.friend.quickAccessFriend .avatarHolder .avatarStatus,
.compactQuickAccess .friend.quickAccessFriend .avatarHolder .avatarStatus,
.friendlistListContainer .friend .avatarHolder .avatarStatus,
.CompactFriendsList .friend .avatarHolder .avatarStatus,
.contextMenuContents.ChatTabs.CompactFriendsList .ChatTabContent .avatarStatus,
.ChatTabContent .avatarHolder .avatarStatus,
.steamavatar_avatarStatus_1Pwr6 {
  height: 33% !important;
  width: 33% !important;
  border-radius: 50% !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  z-index: 4 !important;
  position: absolute;
  top: auto !important;
  left: auto !important;
  bottom: 0 !important;
  right: 0 !important;
  transform: none !important;
}

.compactQuickAccess .friend.quickAccessFriend .avatarHolder .avatarStatus,
.friend.quickAccessFriend .avatarHolder .avatarStatus,
.steamavatar_avatarStatus_1Pwr6 {
  box-shadow: 0 0 0 4px rgb(var(--header)) !important;
}

.ChatRoomSpeaker .speaker .speakerStatus,
.ChatMsgSlashEmote .speaker .speakerStatus {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  margin-top: 10px !important;
  margin-left: -8px !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
}

/* QuickAcces Game Icon */
.FavoriteFriend_GameIcon {
  height: 33% !important;
  width: 33% !important;
  border-radius: 100% !important;
  box-shadow: 0 0 0 4px rgb(var(--friendlist)) !important;
  z-index: 4 !important;
  position: absolute;
  top: auto !important;
  left: 0 !important;
  bottom: 0 !important;
  transform: none !important;
}

.FavoriteFriend_GameIcon img {
  transform: scale(140%, 140%) !important;
}

.compactQuickAccess .FavoriteFriend_GameIcon {
  display: none !important;
}
