/* =========================================================== */

/*                      BORDER STATUS                          */

/* =========================================================== */

/* === Hide Normal Status Block === */
.avatarStatus {
  display: none !important;
}

/* Apply border to avatar to show status */
.avatar {
  border: 2px solid !important;
}

/* === Status Colours === */
.online .avatar {
  border-color: rgb(var(--online)) !important;
}

.awayOrSnooze .avatar {
  border-color: rgb(var(--away)) !important;
}

.ingame .avatar {
  border-color: rgb(var(--ingame)) !important;
}

.offline .avatar {
  border-color: rgb(var(--offline)) !important;
}

/* Move friend name away from avatar in chats */
.ChatRoomSpeaker .speaker .speakerName {
  margin-left: 8px !important;
}
